<script type="text/html" id="dlg-confirm-sys-restart">
<div id="dlg-confirm-sys-restart">    
    
    <div class="modal-head">
        <h4><span data-bind="text: controls.settings.bIsRestart() ?
                                         'Restart Music System' : 'Shutdown Music System'">             
            </span> </h4>
        <hr>
    </div>


    <div class="modal-body">
        <div class="container" >
            <h5>
            <span>Are you sure?  Continuing will</span>
            <span data-bind="text: controls.settings.bIsRestart() ?
                                         ' Restart ' : ' Shutdown '">             
            </span> <span data-bind="text: controls.settings.getZoneNames()"> </span>                 
            </h5>
            <div class="form-group">
                <button type="button" class="btn btn-danger" onclick="controls.settings.downMusicSystem()" >Yes</button>
                <button type="button" class="btn btn-success" 
                        data-bind="afterRender: $($element).click(function() { controls.modal.hide()})">No</button>
            </div>
        </div>
    </div>

</div>

</script>
