<!-- This file should be removed 
<script type="text/html" id="drawer-menu">

<div id="drawer-menu" >
    <ul  class="nav">
        <li><a href="#" data-bind="click: controls.drawermenu.selectMenuAdvertising">
        	<i class="icon icon-picture" style='font-size:20px; margin-right:15px;color:white;'></i>Advertising</a>
        </li>
        <hr >	
        <li><a href="#" data-bind="click: controls.drawermenu.selectMenuVisuals" >
        	<i class="icon nm-icon-visuals" style='font-size:20px; margin-right:15px;' ></i>Visuals</a>
       	</li>
        <hr>	
        <li><a href="#" data-bind="click: controls.drawermenu.selectMenuPlaylist, 
                                                event: {'shown.bs.tab': controls.playlist.onshown}">
        		<i class="icon nm-icon-icon-music" style='font-size:20px; margin-right:15px;' ></i>Playlist</a>
        </li>
        <hr>	
        <li><a href="#" data-bind="click: controls.drawermenu.selectMenuLists">
        	<i class="icon nm-icon-icon-list" style='font-size:20px; margin-right:15px;'></i>Lists</a>
        </li>
        <hr>	
        <li><a href="#" data-bind="click: controls.drawermenu.selectMenuSearch">
        	<i class="icon nm-icon-search" style='font-size:20px; margin-right:15px;'></i>Search</a>
        </li>
        <hr>	                                        
        <li><a class="default" href="#" data-bind="click: controls.drawermenu.selectMenuSetting">
        	<i class="icon nm-nm-icons-cogs" style='font-size:20px; margin-right:15px;'></i>Settings</a>
        </li>
        <hr>
        <li><a data-bind="click: controls.drawermenu.selectMenuMusicZone">
        	<i class="icon-desktop" style='font-size:20px; margin-right:15px;'></i>Change Music Zone</a>
        </li>
        <hr>	
        <li><a class="default" href="#" data-bind="click: controls.drawermenu.selectMenuSignIn" >
        	<i class="icon-signout" style='font-size:20px; margin-right:15px;'></i>Sign out</a>
        </li>
        <hr>	
    </ul>
    
</div>	

</script>

-->