<script type="text/html" id="music-zones">

  <div class="panel panel-default" id="music-zones">

    <!-- Header of the page -->
    <form data-bind="submit: controls.settings.filterZones">
      <div class="music-zones-top-controls row">

        <div class="col-xs-2 col-sm-2 col-md-2">
        <a class="pull-left header-back-button" href="#"  title="Back" data-toggle="tab"
              data-bind="click: controls.settings.backPressed">
          <i class="icon-chevron-left" style='font-size:28px;color:white;'></i><span>Back</span>
        </a>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 controls-titlebar">
          <h3> Connect to a Music Zone  </h3>
          <input type="text" class="music-zone-search"  type="submit" placeholder="Search for a music zone"
            data-bind=" value: controls.settings.searchCriteria,
              visible: controls.settings.searchBoxIsActive,
              hasFocus: controls.settings.searchBoxIsActive" />
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2">
            <a class="pull-right header-search-button" href="#" title="Search" data-toggle="tab">
              <i class="icon-search" style='font-size:28px;color:white;padding-right:30px;' data-bind="click: controls.settings.searchPressed" ></i>
            </a>
        </div>

      </div>
    </form>

    <div class="btn-group connect-mode-switch" >
      <button id="btnSelectZone" type="button" class="btn btn-default customBtn1"
        data-bind="click: function() {controls.settings.toggleConnectionPolicy('select')},
            css: {'customBtn2': NL.settings.connectionPolicy() == 'select'}"> Select Zone</button>

      <button id="btnDiscoverZone" type="button" class="btn btn-default noRadius customBtn1"
        data-bind=" click: function() { controls.settings.toggleConnectionPolicy('discover')} ,
            css: {'customBtn2': NL.settings.connectionPolicy() == 'discover'}"> Discover</button>

      <button id="btnManualConnect" type="button" class="btn btn-default customBtn1"
        data-bind=" click: function() { controls.settings.toggleConnectionPolicy('manual')},
            css: {'customBtn2': NL.settings.connectionPolicy() == 'manual'}"> Manual Connect</button>
    </div>

    <!-- The Select Zone page controls -->
    <div class="music-zone-list-container" data-bind="visible: NL.settings.connectionPolicy() === 'select'">
      <div class="music-zone-controls text-left">
          <!-- Ebrahim M: commented because of Paul request
          <button id="btnSort" type="button" class="btn btn-primary"  title="Sort"
                data-bind="click: controls.settings.sortBtnPressed">
            <i class="icon-sort-by-alphabet"></i></button>
          -->

          <button id="btnRefresh" type="button" class="btn btn-primary"  title="Refresh"
                data-bind="click: controls.settings.refreshBtnPressed">
            <i class="icon-refresh" ></i>
          </button>

          <!-- ko if:  false && NL.settings.connectionMethod() == 'local' -->
            <button id="btnFilterOfflines" type="button" class="btn btn-primary"  title="Show/Hide Offline Zones">
              <i class="icon-filter"
                  data-bind="click: controls.settings.toggleFilterOffline ,
                             css: { 'icon-filter': controls.settings.showOfflineZone(),
                                    'icon-file-text-alt': !(controls.settings.showOfflineZone() )  }"> </i>
            </button>
          <!-- /ko -->

          <div class="pull-right ">
          <label class="control-label">Connect Via</label>
             <input class="btn-mode" type="button" id="btnConnectVia"
                  data-bind="click: controls.settings.toggleConnectionMethod,
                  css: {active : NL.settings.connectionMethod() == 'local'} ">
          </div>
      </div>
      <div class="list-group"  id="music-zone-list" >

        <div data-bind="foreach: NL.settings.listsClients(NL.settings.connectionMethod() == 'local' ?
                                              controls.settings.listOfLocalClient() : NL.settings.systems() )" >
          <h4 class="list-group-item first-child active">
                <i class="icon-building" /> <span data-bind="text: $data"></span>
          </h4>
          <div data-bind="foreach: NL.settings.clientZones($data)">
              <a  href="#" data-bind="click: controls.settings.selectSystemConnect"
                          class="list-group-item rowlist">
                  <span class="" data-bind="css: {'success icon-ok-sign' : (NL.settings.selectedSystem() &&
                                                    NL.settings.selectedSystem().zone_name == $data.zone_name),
                                                  '' : (NL.settings.selectedSystem() &&
                                                    NL.settings.selectedSystem().zone_name !== $data.zone_name) }">
                                                  </span>
                  <span class="" data-bind="text: $data.zone + ' : ' +  $data.zone_name" ></span>
                  <span class="badge"
                      data-bind="text: $data.zoneStatus() ,
                      css: {'badgeOnline': ($data.localActive || (NL.settings.connectionMethod() !== 'local' && $data.active) ) &&
                                                                            !$data.isDetecting(),
                            'badgeOffline': !$data.localActive && !$data.isDetecting() && !$data.active,
                            'badgeOnlineNotconnectable': (NL.settings.connectionMethod() == 'local' ) && !$data.localActive &&
                                                                            !$data.isDetecting() && $data.active,
                            'badgeInProgress' : $data.isDetecting() }">
                  </span>
              </a>

          </div>

        </div>
      </div>
    </div>

    <!--  The Discover Page Controls -->
    <form data-bind="submit: controls.settings.refreshDiscover">
      <div class="music-zone-discover-container" data-bind="visible: NL.settings.connectionPolicy() === 'discover'">

        <div class="music-zone-controls">
          <div class="col-sm-8">
            <input type="text"  autocomplete="off" class="form-control" name="txtIpRange" id="txtIpRange"
                placeholder="Enter the IP subnet (e.g: 192.168.4)" autocapitalize="off"
                data-bind="value: controls.settings.discoverBaseIp "/>
          </div>
          <div class="col-sm-4">
            <button id="btnDiscoverRefresh" type="button" class="btn btn-primary"  title="Refresh"
                                                        data-bind="click: controls.settings.refreshDiscover ,css:{'disabled' : controls.settings.discoverRefreshRunning() }">
              <i class="icon-refresh"></i>
            </button>

            <button id="btnDiscoverCancel" type="button" class="btn btn-primary"  title="Cancel"
                                                        data-bind="click: controls.settings.cancelDiscover ,
                                                                   css:{'disabled' : !controls.settings.discoverRefreshRunning() }">
              <i class="icon-remove-sign"></i>
            </button>
          </div>
        </div>

        <div class="list-group"  id="music-zone-list" >
          <div data-bind="foreach: controls.settings.filteredDiscoveredZones()" >
              <a  href="#" data-bind="click: controls.settings.discoverConnect" class="list-group-item rowlist">
                  <span class="" data-bind="css: {'success icon-ok-sign' : (NL.settings.manualSystem &&
                                                          NL.settings.manualSystem.t_system() == $data.systemName &&
                                                          NL.settings.manualSystem.t_zone() == $data.zoneNo),
                                                    '' : (NL.settings.manualSystem &&
                                                          NL.settings.manualSystem.t_system() !== $data.systemName) }">
                                                  </span>
                  <span style='font-weight : bold; margin-left:10;' data-bind="text: $data.zoneIp"> </span>
                  <span data-bind="text:'(' +  $data.systemName + ' - Zone' + $data.zoneNo + ')' "> </span>
                  <span class="badge badgeOnline"  data-bind="text: 'Connect' "> </span>
              </a>

          </div>
        </div>

      </div>
    </form>

    <!-- The Manual Connect Controls -->
    <div class="manual-connect-container" data-bind="visible: NL.settings.connectionPolicy() === 'manual'">

        <label>Enter Music Zone IP</label>
          <input type="text"  autocomplete="off" class="form-control" name="txtManualIP" id="txtManualIP"
                  placeholder="IP Address" autocapitalize="off" data-bind=" value: NL.settings.manualSystem.zoneIp "/>

        <div class='row'>
          <div class="col-sm-7">
            <label>Enter System Code</label>
              <input type="text"  autocomplete="off" class="form-control" name="txtManualSystem" id="txtManualSystem"
                  placeholder="System Code" autocapitalize="off" data-bind="value: NL.settings.manualSystem.systemCode" />
          </div>
          <div class="col-sm-5">
            <label>Zone Number</label>
              <input type="number"  autocomplete="off" class="form-control" name="numManualZone" id="numManualZone"
                  placeholder="Zone Number" autocapitalize="off" data-bind="value: NL.settings.manualSystem.zoneNumber " />
          </div>
        </div>

        <button id="btnConnect" type="button" class="btn btn-primary col-sm-8 col-sm-offset-2 "
              data-bind="click: controls.settings.directConnect ,
              css: {'ui-state-disabled' : controls.settings.bWaitInProgress} "> Connect <i class="icon-chevron-right"/></button>
    </div>

    <div class="form-group" style="display:none;"
            data-bind="css : {'hidden' : controls.settings.targetSystemId() == undefined} ">
      <label class="col-sm-3 control-label" for="txtSystemInfo">System Info</label>
      <div class="col-sm-6">
        <textarea rows="2" class="form-control disabled" name="txtSystemInfo" disabled="disabled"
            data-bind="value: NL.settings.selectedSystem() ? NL.settings.selectedSystem().getInfo() : ''" />
      </div>
    </div>
  </div>
</script>
