<script type="text/html" id="onsite-access">

	
	<div class="modal-head">
		<h4>You need permission to use these controls.</h4>
	</div>

	<div class="modal-body" data-bind="">
		<div class="container" >
			<p>Please verify your presence onsite by pressing 'Display Code'. A popup will appear on the screen of the Music Zone you are currently connected to.</p>
			<div class="form-group row">
	                    <span class="col-md-3">
				<button type="button" class="btn btn-primary" data-bind="click: controls.settings.displayOnsiteAccessCode">Display Code</button>
	                    </span>
	                    <span class="col-md-9">
				<input type="tel" class="form-control" name="txtOnsiteAccess" required="required" data-bind="value: controls.settings.accessCode" placeholder="Access Code" />
	                    </span>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-success" data-bind="click: controls.settings.saveOnsiteAccessCode">Verify </button>
			</div>
			<div class="badge pull-right" 
				data-bind="text: NL.settings.accessCode.verified() ? 'Verified' : 'Not Verified', 
					css: NL.settings.accessCode.verified() ? 'badge-success' : 'badge-error'">
				Status Badge
			</div>
		</div>
	</div>

	<div class="modal-footer">
	    <div class="callout-bottom warning"></div>
	</div>

</script>
