<script type="text/html" id="reset-password">
<div class="reset-password">
    <div class="modal-head">
        <h4>Reset Password</h4>
        <hr>
    </div>

    <div class="modal-body">
        <div class="container" id="password-reset-confirm">
          <div class="form-group" style="display: block;">
              <h5>
                <span>Are you sure you wish to reset your password?</span>
              </h5>
              <div class="form-group">
                <button type="button" class="btn btn-success" data-bind="click: controls.settings.resetPassword">Yes</button>
                <button type="button" class="btn btn-danger"
                    data-bind="afterRender: $($element).click(function() { controls.modal.hide()})">
                    No
                </button>
              </div>
          </div>
        </div>
        <div class="container" id="password-reset-result" >
          <div class="form-group" style="display: block;">
            <h5>
              <span>An email will be sent to the address registered with your username.</span>
            </h5>
            <div class='form-group'>
                <button type="button" class="btn btn-success"
                    data-bind="afterRender: $($element).click(function() { controls.modal.hide()})">
                    Ok
                </button>
            </div>
          </div>
        </div>
        <div class="container" id="password-reset-error" >
          <div class="form-group" style="display: block;">
            <h5>
              <span>Please enter a valid username and try again.</span>
            </h5>
            <div class='form-group'>
                <button type="button" class="btn btn-success"
                    data-bind="afterRender: $($element).click(function() { controls.modal.hide()})">
                    Ok
                </button>
            </div>
          </div>
        </div>
    </div>
</div>


</script>
