<script type="text/html" id="settings-dev">
  <div class="panel panel-default z-depth-1">

    <div class="panel-heading clickable" data-bind="click: controls.settings.toggleSettingsAccordian">
      <h4> <i class="icon icon-wrench"> </i> Developer Settings</h4>
    </div>

    <div class="panel-body settings-accordian" id="dev-setting-body">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtUptopiaAddress">Utopia Address</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="txtUptopiaAddress" data-bind="value: utopia.address" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtUptopiaAddress">API Address</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="txtApiAddress" data-bind="value: utopia.apiAddress" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtServer" >Server</label>
        <div class="col-sm-4">
          <select class="form-control" id="txtServer" name="txtServer"
            onchange="controls.settings.switchServer(this.value);">
            <option>Live</option>
            <option>Dev</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtAutoConnect">Auto Connect</label>
        <div class="col-sm-9">
          <div class="checkox">
            <input type="checkbox" name="txtAutoConnect" data-bind="checked: autoConnect, value: true" /><span class="help-block">Automatically reconnect to the last known system (after logging in).</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtAutoRefresh">Auto Systems Listing</label>
        <div class="col-sm-9">
          <div class="checkox">
            <input type="checkbox" name="txtAutoConnect" data-bind="checked: autoListing, value: true" /><span class="help-block">Automatically refresh systems listing</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtAutoDisconnect">Disconnect on Ping Timeout</label>
        <div class="col-sm-9">
          <div class="checkox">
            <input type="checkbox" name="txtAutoDisconnect" data-bind="checked: autoDisconnect, value: true" /><span class="help-block">Disconnect on timeout</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtReconnectInterval">Reconnect Interval(ms)</label>
        <div class="col-sm-9">
            <input type="number" min="0" max="10000" name="txtReconnectInterval" data-bind="value: reconnectInterval" /><span class="help-block">How often to attempt reconnect </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtReconnectMax">Max Reconnect Attempts</label>
        <div class="col-sm-9">
            <input type="number" min="1" max="1000" name="txtReconnectInterval" data-bind="value: reconnectMax" /><span class="help-block">How many times to attempt reconnect</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtMaxPingAttempts">Max Ping Attempts</label>
        <div class="col-sm-9">
            <input type="number" min="1" max="1000" name="txtMaxPingAttempts" data-bind="value: maxPings" /><span class="help-block">Number of pings to send before disconnecting</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtPingRespTimeout">PING Resp. Timeout(ms)</label>
        <div class="col-sm-9">
            <input type="number" min="1" max="10000" name="txtPingRespTimeout" data-bind="value: respTimeout" /><span class="help-block">How long to wait for a response</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtPingInterval">PING Interval(ms)</label>
        <div class="col-sm-9">
            <input type="number" min="0" max="10000" name="txtPingInterval" data-bind="value: pingInterval" /><span class="help-block">How often to send automatic pings</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtLoggingLevel">Logging Level</label>
        <div class="col-sm-4">
          <select class="form-control" name="txtLoggingLevel" data-bind="value: logLevel, options: Object.keys(log.levels)" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtShowImage">Display Images</label>
        <div class="col-sm-9">
          <div class="checkox">
            <input type="checkbox" name="txtShowImages" data-bind="checked: showImages, value: true" /><span class="help-block">Enable/Disable cover art.</span>
          </div>
        </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtPlaylistHorizon">Playlist Horizon</label>
        <div class="col-sm-9">
            <input type="number" min="0" max="10000" name="txtPlaylistHorizon" data-bind="numericValue: playlistHorizon" />
            <span class="help-block">Number of items to display in playlist</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtSearchLimit">Search Limit</label>
        <div class="col-sm-9">
          <input type="number" name="txtPlaylistHorizon" data-bind="numericValue : NL.settings.searchPageLimit"></input>
          <span class="help-block"> Search Results per page</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtTickInterval">Animation Interval(ms)</label>
        <div class="col-sm-9">
            <input type="number" min="0" max="10000" name="txtTickInterval" data-bind="numericValue: tickInterval" />
            <span class="help-block">How often to update progress of player</span>
        </div>
      </div>



      <div class="form-group">
        <label class="col-sm-3 control-label" for="txtAnimationEnabled">Enable Animations</label>
        <div class="col-sm-9">
          <div class="checkox">
            <input type="checkbox" name="txtAnimationEnabled" data-bind="checked: animationEnabled, value: true" /><span class="help-block">Enable/Disable animated progress bar</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Local Storage</label>
        <div class="col-sm-4">
          <button type="button" class="btn btn-danger" data-bind="click: controls.settings.clearStorage"><i class="icon icon-trash"></i> Clear Local Storage</button>
        </div>
      </div>

      <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4">
            <h4>Device Info</h4>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="txtAccessLevel">Device Info: </label>
          <div class="col-sm-8">
            <textarea class="form-control disabled" name="txtAccessLevel" disabled="disabled" data-bind="value: deviceInfo()" />
          </div>
        </div>
      </div>
      <div class="form-group panel-body">
        <div class="col-sm-6 col-sm-offset-3">
          <button type="button" class="btn btn-primary" data-bind="click: function(){ window.location.reload(); }"><i class="icon-reload"></i> Reload Page</button>
        </div>
      </div>
    </div>
  </div>
      </div>
</script>
