<script type="text/html" id="settings-controls">

  <div class="panel panel-default z-depth-1"  >
    <div class="panel-heading clickable" data-bind="click: controls.settings.toggleSettingsAccordian"><h4>
        <i class="nm-icons-musicnote"></i> Music System Controls</h4>
    </div>

    <div class="panel-body settings-accordian" id="settings-controls" >

      <div class="panel-body" id="controls-buttons-zone">

        <!--
          <div>
            <h4 class="">
              <span>Music Zone Information</span>
              <a class="btn-ms" href="#tab-zoneinfo" title="Info" data-toggle="tab">
                 <i class="nm-icons-info " style='font-size:24px'></i>
              </a>
            </h4>
          </div>
        -->

        <div class="col-sm-offset-3 col-sm-6">
          <button type="button" class="btn btn-primary" data-bind=
                    "click: function() { controls.settings.setDownFlagShowDownDlg(true) }"> Restart Music System
          </button>
          <button type="button" class="btn btn-primary" data-bind=
                    "click: function() { controls.settings.setDownFlagShowDownDlg(false)}"> Shutdown Music System
          </button>
          <a class="btn-ms" href="#tab-zoneinfo" title="Info" data-toggle="tab">
            <button type="button" class="btn btn-primary"  title="Info" >
                <i class="nm-icons-info " style='font-size:16px'></i> Music Zone Information
            </button>
          </a>

        </div>

      </div>

    </div>
  </div>

</script>
