<script type="text/html" id="settings-third-party">
  <div class="panel panel-default z-depth-1"  >
    <div class="panel-heading clickable" data-bind="click: controls.settings.toggleSettingsAccordian"><h4>
        <i class="icon-cloud"></i> Linked Applications</h4>
    </div>

    <div class="panel-body settings-accordian" id="settings-third-party">

      <div id="spotify-heading"class="panel-heading" >
          <h4>
            <i class="nm-icons-spotify"></i> Spotify
            <div class="badge " data-bind =
                      "text: (NL.spotify.userName() === 'Not signed in') ? 'Not signed in Spotify' :
                            ('Signed in Spotify as (' + NL.spotify.userName() + ')' ) ,
                       css: ( NL.spotify.userName() === 'Not signed in') ? 'badge-default' : 'badge-success'">
                Spotify Status Badge
            </div>
          </h4>
      </div>

      <div class="panel-body" id="controls-buttons-zone">
        <div class="col-sm-offset-3 col-sm-6">


          <button id="spotify-login" type="button"
              data-bind = "click: controls.drawermenu.loginSpotify,
                           visible: (NL.spotify.userName() === 'Not signed in') ">
               <i class="nm-icons-spotify" style="font-size:20px; color:rgb(255,255,255);margin-right:8px;"></i>
               <span>LOG IN WITH SPOTIFY</span>
          </button>

          <button id="spotify-logout" type="button"
              data-bind = "click: controls.drawermenu.logoutSpotify,
                           visible: (NL.spotify.userName() !== 'Not signed in')">
               <i class="nm-icons-spotify" style="font-size:20px; color:rgb(255,255,255);margin-right:12px;"></i>
               <span>LOG OUT SPOTIFY</span>
          </button>

        </div>
      </div>

      <hr>

      <div id="instagram-heading" class="panel-heading" ><h4>
          <i class="icon-instagram"></i> Instagram
          <div class="badge" data-bind =
                    "text: (NL.instagram.username() === '') ? 'Not signed in Instagram' :
                          ('Signed in Instagram as (' + NL.instagram.username()+ ')' ) ,
                     css: ( NL.instagram.username() === '') ? 'badge-default' : 'badge-success'">
              Instagram Status Badge
          </div>
          </h4>
      </div>
      <div class="panel-body" id="controls-buttons-zone">
        <div class="col-sm-offset-3 col-sm-6">
          <a id="Instagram-login" class="btn btn-primary" data-bind="attr: { href : NL.instagram.authURL},
                  visible: NL.instagram.access_token() === ''">
              <i class="icon-instagram" style='font-size:20px;margin-right:5px;'></i>
              <span>LOG IN WITH INSTAGRAM</span>
          </a>

          <button id="Instagram-logout" type="button" class="btn btn-info active"
              data-bind = "click: controls.instagram.removeToken, visible: NL.instagram.access_token() !== '' ">
              <i class="icon-instagram" style='font-size:20px;margin-right:5px;'></i>
              <span>LOG OUT INSTAGRAM</span>
          </button>

        </div>
      </div>

    </div>
  </div>
</script>
