<script type="text/html" id="settings-onsite">

<form class="z-depth-1" data-bind="submit: controls.settings.saveOnsiteAccessCode">

  <!-- ko if: true || controls.settings.showSystems -->
  <div id="settings-onsite" class="panel panel-default"
        data-bind="visible: true || NL.settings.connectionMethod() == 'utopia' && NL.settings.systemStatus() == 'Connected'">

    <div class="panel-heading" data-bind="">
      <h4>
        <i class="icon icon-building"></i>&nbsp;
        <i class="" data-bind="css: $root.settings.accessCode.verified() ?
                                'success icon-ok-sign' : 'error icon-remove'"> </i>&nbsp;  On Site Access
      </h4>
    </div>

    <div id="settings-onsite-msg">
      <h5> Please verify your presence onsite by pressing 'Display Code'. <BR>
             A popup will appear on the screen of the music system you are currently accessing.</h5>
    </div>

    <div class="panel-body settings-accordian" id="settings-onsiteaccess-body">

      <!-- test delete me later
      <div class="form-group">
        <div class="col-sm-12">
          <button type="button"  id="notification-trigger" class="btn btn-primary" style='width: 110%' data-bind="click: controls.newNotification.initNotif.bind(null, 'Supergreat, yep this is super amazing and interesting and i just keep going', 999)">Trigger</button>
        </div>
      </div>
      -->



      <div class="form-group">
        <div class="col-xs-12 col-sm-offset-2 col-sm-3 text-center">
          <button type="button" class="btn btn-primary btn-onsite btn-displaycode" data-bind="click: controls.settings.displayOnsiteAccessCode">Display Code</button>
        </div>
        <div class="col-xs-12 col-sm-5">
          <input type="tel" class="form-control" name="txtOnsiteAccess" required="required"
                  data-bind="value: controls.settings.accessCode" />
        </div>

      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-offset-5 col-sm-5">
          <button type="button" class="btn btn-primary btn-onsite" type="submit"
                          data-bind="click: controls.settings.saveOnsiteAccessCode">Verify</button>
        </div>
      </div>

      <div class="badge pull-right" data-bind=
                     "text:( $root.settings.accessCode.code() ||
                             $root.settings.connectionMethod() === 'local') ? 'Verified Onsite' : 'Not Verified',
                      css: ( $root.settings.accessCode.code() !== undefined  ||
                             $root.settings.connectionMethod() === 'local' ) ? 'badge-success' : 'badge-error'">
          Status Badge
      </div>
    </div>
  </div>
  <!-- /ko -->

</form>
</script>
