<script type="text/html" id="settings-public">
  <a class="pull-right btn-lg" href="#tab-help" title="Help" data-toggle="tab">
  <i class="icon icon-question-sign pull-right"></i></a>

  <!-- ko if: true -->
  <div class="panel panel-default" id="settings-authentication">
    <div class="panel-heading" 
      data-bind="click: controls.settings.toggleSettingsAccordian">
      <h4><i class="icon-user"></i>&nbsp; 
          <i class="" data-bind="css: $root.settings.accountStatus() === 'Signed in' ? 'success icon-ok-sign' : 'error icon-remove'">
          </i>&nbsp; 
          <span data-bind="text: $root.settings.accountStatus() === 'Signed in' ? $root.settings.utopia.username : 'Account Sign-In'">
          </span>
          </h4>
       </div>
    <div class="panel-body settings-accordian" id="settings-authentication-body" >
      <div class="row">
        <div class="col-sm-4">
           <label class="sr-only" for="txtUptopiaUsername">Username</label>  
            <input type="text" class="form-control" name="txtUptopiaUsername" id="txtUptopiaUsername" autocapitalize="off" placeholder="Username" data-bind="value: controls.settings.username, typeahead: NL.settings.prevUsernames" required="required"/>
        </div>
        <div class="col-sm-4">
          <label class="sr-only" for="txtUptopiaPassword">Password</label>  
          <input type="password"  autocomplete="off" class="form-control" name="txtUptopiaPassword" id="txtUptopiaPassword" placeholder="Password" autocapitalize="off" data-bind="value: controls.settings.password" required="required"/>
        </div>
        <div class="col-sm-2" >
              <label class="control-label" for="txtAutoLogin" >Remember</label>
             <input type="checkbox" name="txtAutoLogin" data-bind="checked: autoLogin, value: true"  /><span class="help-block"></span>
         </div>
          <div class="col-sm-1">
              <button id="btnLogin" class="btn btn-primary" type="button" data-bind="click: controls.settings.login">Login</button>
              <button id="btnLogout" class="btn btn-danger" style="display: none" type="button" data-bind="click: controls.settings.logout">Logout</button>
          </div>
      </div> 

      <a class="" href="#"
        data-bind="click: controls.settings.showResetPassword"> 
          Reset Password 
      </a>
      <div class="badge pull-right"
          data-bind="text: $root.settings.accountStatus, 
          css: $root.settings.accountStatus() == 'Signed in' ? 'badge-success' : 'badge-error'">
          Status Badge
       </div>
    </div>
  </div>
  <!-- /ko -->

    <!-- Ebrahim M: controls.settings.showSystems - >  false --> 
    <!-- ko if:  controls.settings.showSystems -->
    <div class="panel panel-default">
    <a class="pull-right btn-lg" href="#tab-system" title="System Info" data-toggle="tab"><i class="nm-icons-info pull-right"></i></a>
      <div class="panel-heading" data-bind="click: controls.settings.toggleSettingsAccordian">
        <h4>
            <i class="nm-icons-connection">
            </i>
            <i class="" data-bind="css: $root.settings.systemStatus() == 'Connected' ? 'success icon-ok-sign' : 'error icon-remove'">
            </i>&nbsp; 
            <span data-bind="text: 
              $root.settings.systemStatus() == 'Connected' 
              ? $root.settings.selectedSystem().displayName() : 'Connect to Music Zone'"
            </span>

        </h4>
      </div>
      <div class="panel-body settings-accordian" id="settings-systems-body" data-bind="visible: $root.settings.systemStatus() !== 'Connected'">
        <div class="form-group">
          <label class="col-sm-3 control-label">Select Music Zone</label>
            <div class="col-sm-4">
                <select id="selSystem" class="form-control" data-bind="
                          click: function() { if(NL.settings.autoListing() === true)  controls.settings.refreshSystems()}, 
                          disable : $root.settings.systemStatus() === 'Connected',
                          change: NL.settings.setSelectedSystemId({
                                    id: controls.settings.targetSystemId()}),  
                          options: systems,
                          optionsText: function(o){ return o.displayName(); },
                          optionsCaption: 'Select Music Zone...',
                          optionsValue: 'id',
                          optionsAfterRender: function(option, item){
                            if(item && (!item.active || item.version[2] < 9)){
                              $(option).addClass('offline'); 
                            }
                          },
                          value: controls.settings.targetSystemId" />
          </div>  
            <div class="col-sm-4">
                <a title="Refresh Systems" href="#" class="icon-stack" 
                data-bind="click: controls.settings.refreshSystems,css:{'hidden' : NL.settings.autoListing()}"> 
                <i class="icon-refresh icon-large"></i></a>
            </div>
        </div> 


        <div class="form-group" data-bind="visible: NL.settings.selectedSystemId() === 'manual'">
          <label class="col-sm-3 control-label">IP Address</label>
          <div class="col-sm-4">

            <input type="text"  autocomplete="off" class="form-control" name="txtManualIP" id="txtManualIP" placeholder="IP Address" autocapitalize="off" 
              data-bind="value: NL.settings.manualSystem.t_address" />
          </div>
        </div> 
        <div class="form-group" data-bind="visible: NL.settings.selectedSystemId() === 'manual'">
          <label class="col-sm-3 control-label">System Code</label>
          <div class="col-sm-4">            
            <input type="text"  autocomplete="off" class="form-control" name="txtManualSystem" id="txtManualSystem" placeholder="System Code" autocapitalize="off" 
              data-bind="value: NL.settings.manualSystem.t_system" />
          </div>
        </div>
        <div class="form-group" data-bind="visible: NL.settings.selectedSystemId() === 'manual'">
          <label class="col-sm-3 control-label">Zone Number</label>
          <div class="col-sm-4">            
            <input type="number"  autocomplete="off" class="form-control" name="numManualZone" 
              id="numManualZone" placeholder="Zone Number" autocapitalize="off" 
              data-bind="numericValue: NL.settings.manualSystem.t_zone" />
          </div>
        </div>



        <div class="form-group" style="display:none;" data-bind="css : {'hidden' : controls.settings.targetSystemId() == undefined} ">
        <label class="col-sm-3 control-label" for="txtSystemInfo">System Info</label>
        <div class="col-sm-6">
            <textarea rows="2" class="form-control disabled" name="txtSystemInfo" disabled="disabled" 
                data-bind="value: NL.settings.selectedSystem() ? NL.settings.selectedSystem().getInfo() : ''" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Connect Via</label> 
          <div class="col-sm-8">
            <div class="btn-group" >
              <button id="btnConnLocal" type="button" class="btn btn-default connection" 
                data-bind="
                    click: controls.settings.useLocal, 
                    css: {'btn-success': NL.settings.connectionMethod() == 'local'},
                    disable : $root.settings.systemStatus() === 'Connected'
                    ">Direct / Local</button>
              <button id="btnConnUtopia" type="button" class="btn btn-default connection" 
                data-bind="
                    click: controls.settings.useUtopia, 
                    css: {'btn-success': NL.settings.connectionMethod() == 'utopia'},
                    disable : $root.settings.systemStatus() === 'Connected' || NL.settings.selectedSystemId() === 'manual'
                    ">Nightlife</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-3">
            <button id="btnConnect" type="button" class="btn btn-primary" data-bind="click: controls.settings.connect, visible: $root.settings.systemStatus() !== 'Connected'">Connect</button>
            <button id="btnDisconnect" type="button" style="display: none;" class="btn btn-danger" data-bind="click: controls.settings.disconnectClick, visible: $root.settings.systemStatus() === 'Connected'">Disconnect</button>
          </div>
        </div>
        <div class="id=badgeSystem badge pull-right" data-bind="text: $root.settings.systemStatus, css: $root.settings.systemStatus() == 'Connected' ? 'badge-success' : 'badge-error'">Status Badge</div>
      </div>
    </div>
  <div class="panel panel-default" data-bind="visible: NL.settings.connectionMethod() == 'utopia' && NL.settings.systemStatus() == 'Connected'">
  <div class="panel-heading" data-bind="click: controls.settings.toggleSettingsAccordian">
    <h4>
    <i class="icon icon-building"></i>&nbsp;
    <i class="" data-bind="css: $root.settings.accessCode.verified() ? 'success icon-ok-sign' : 'error icon-remove'">
    </i>&nbsp;  On Site Access
    </h4>
  </div>
  <div class="panel-body settings-accordian" id="settings-onsiteaccess-body">
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="button" class="btn btn-primary" data-bind="click: controls.settings.displayOnsiteAccessCode">Display Code</button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Access Code</label>
      <div class="col-sm-4">
        <input type="tel" class="form-control" name="txtOnsiteAccess" required="required" data-bind="value: controls.settings.accessCode" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <button type="button" class="btn btn-primary" data-bind="click: controls.settings.saveOnsiteAccessCode">Verify</button>
      </div>
    </div>
     <div class="badge pull-right" data-bind="text: $root.settings.accessCode.code() ? 'Verified' : 'Not Verified', css: $root.settings.accessCode.code() !== undefined ? 'badge-success' : 'badge-error'">Status Badge</div>
  </div>
</div>
<!-- /ko -->
</script>