<script type="text/html" id="settings-diagnostics">

  <div class="panel panel-default z-depth-1" data-bind="with: controls.diagnostics">
    <div class="panel-heading clickable" data-bind="click: controls.settings.toggleSettingsAccordian"><h4><i class="icon-signal"></i> Network Diagnostics</h4>
    </div>
    <div class="panel-body settings-accordian" id="diagnostics-body">
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
          <input type="checkbox" class="col-xs-2 col-sm-2" data-bind="checked: bTestHDMSLive">
          <p class="col-xs-10 col-sm-10"> Test HDMSLive (HTTP) Connection </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
          <input type="checkbox"  class="col-xs-2 col-sm-2" data-bind="checked: bTestWS">
          <p class="col-xs-10 col-sm-10"> Test HDMSLive (WS) Connection </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
          <input type="checkbox"  class="col-xs-2 col-sm-2" data-bind="checked: bTestPingHDMS, attr: {'disabled' : $root.settings.systemStatus() == 'Connected' ? false : true }">
          <p class="col-xs-10 col-sm-10"> Test Ping to HDMS  </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
          <input type="checkbox" class="col-xs-2 col-sm-2" data-bind="checked: bTestParrotHDMS, attr: {'disabled' : $root.settings.systemStatus() == 'Connected' ? false : true }">
          <p class="col-xs-10 col-sm-10"> Test Parrot request to HDMS </p>
        </div>
      </div>
<!--      <div class="form-group form-inline">
        <div class="col-sm-8 col-sm-offset-1">
          <input type="checkbox"  class="col-xs-2 col-sm-2" data-bind="checked: bTestManualIP">
          <p class="col-xs-4 col-sm-4"> Local IP Address </p>
          <input type="text" class="col-xs-6 col-sm-6" data-bind="value: manualIP" >
        </div>
      </div>      -->
      <div class="form-group panel-body">
        <div class="col-sm-6 col-sm-offset-3">
          <button id="btnRunTests" type="button" class="btn btn-info btn-tests" data-bind="click: runTests">Run Tests</button>
        </div>
      </div>
      <div class="form-group">
        <div id="HDMSLiveResultDiv" class="col-xs-12 col-sm-6 col-sm-offset-3" data-bind="html: HDMSLiveResult"> </div>
        <div id="GoogleResultDiv" class="col-xs-12 col-sm-6 col-sm-offset-3" data-bind="html: WSResult"> </div>
        <div id="PingHDMSResultDiv" class="col-xs-12 col-sm-6 col-sm-offset-3" data-bind="html: PingHDMSResult"> </div>
        <div id="ParrotHDMSResultDiv" class="col-xs-12 col-sm-6 col-sm-offset-3" data-bind="html: ParrotHDMSResult"> </div>
        <div id="ManualIPResultDiv" class="col-xs-12 col-sm-6 col-sm-offset-3" data-bind="html: ManualIPResult"> </div>
      </div>
    </div>
  </div>

</script>
