<script type="text/html" id="sign-in">

  <form data-bind="submit: function() { controls.settings.login(true) }">
    <div class="panel panel-default " id="sign-in" >
      <div class="panel-body" id="sign-in-body" >


          <h3 class='app-title'> <img src="assets/img/app-icon-white.svg" alt="Smiley face" height="90" width="90">
                &nbsp;  Manage My Nightlife </h3>
          <h5> Please sign in to continue </h5>

             <label class="sr-only" for="txtUptopiaUsername">Username</label>
              <input type="text" class="form-control centre" name="txtUptopiaUsername" id="txtUptopiaUsername" autocapitalize="off" placeholder="Username" data-bind="value: controls.settings.username, typeahead: NL.settings.prevUsernames" required="required"/>

            <label class="sr-only" for="txtUptopiaPassword">Password</label>
            <input type="password"  autocomplete="off" class="form-control centre" name="txtUptopiaPassword" id="txtUptopiaPassword" placeholder="Password" autocapitalize="off" data-bind="value: controls.settings.password" required="required"/>

            <button id="btnLogin" class="btn btn-primary centre" type="submit"
                    data-bind="disabled:false" >Sign In   <i class="icon-chevron-right"/></button>

            <button id="btnLogout" class="btn btn-danger centre" style="display: none" type="button"
                    data-bind="click: controls.settings.logout">Sign Out</button>


            <a class="" href="#"data-bind="click: controls.settings.showResetPassword"> Reset Password </a>
            <label for="txtAutoLogin" >Remember Me </label>
            <input type="checkbox" name="txtAutoLogin" data-bind="checked: autoLogin, value: true"  /><span class="help-block"></span>
      </div>

      <hr />
      <div class="panel-body" id="sign-in-footer">
        <h4 style='font-family: "open_sanssemibold";'>Don't have an account?</h4>
        <h4>Call Nightlife to get started. <a href="tel:+611800773468">1800 773 468</a></h4>
        <h4>View all Nightlife products <a href="http://www.nightlife.com.au/what-we-do#products" target="_blank">here.</a></h4>
      </div>
    </div>
  </form>
</script>
