<script type="text/html" id="layout-modal">
  <div class="modal-dialog z-depth-2" data-bind="css: cssClass">
    <div class="modal-content" data-bind="">
      <!-- ko template: { name: templateName, data: model } --><!-- /ko -->
    </div>
  </div>
</script>
