<script type="text/html" id="load-mask">
    <div class="modal-body" data-bind="">
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
            
     </div>
</script>