<script type="text/html" id="pane-advertising-home">
<div class="panel nm-panel fixed-height">
    <div class="not-fixed-header panel-heading" data-bind = "
        style: {backgroundColor:NL.textScrolling.scrollingTextVisible() ? 'khaki' : 'white'}">
      <div class="dropdown">
        <div class="btn btn-default dropdown-toggle unfocused bold" data-toggle="dropdown" aria-expanded="false" data-bind="">
          <i class="nm-icon" data-bind="css: controls.advertising.getActiveBtnIcon()" />
           <span data-bind="text: controls.advertising.getActiveBtnText()" style="padding-left: 5px;"/> <span class="caret"></span>
        </div>

          <ul class="dropdown-menu" role="menu">
              <li data-bind="css: {if:  ( NL.advertising.activeTab() === 'user' &&
                                      NL.textScrolling.scrollingTextVisible() )  ? 'active' : ''}">
                  <a href="#"   class="advertising-tab"  data-bind="click: function(){
                    if ( NL.textScrolling.scrollingTextVisible() ){
                      controls.scrollingText.toggleScrollingText();
                      controls.advertising.switchActivePanel('user');
                    }
                    else{
                      controls.advertising.switchActivePanel(
                          (NL.advertising.activeTab() ==='user') ? 'priority' : 'user');
                    }
                  }, 
                  attr: {'data-ref' : NL.advertising.activeTab()}">
                    <i class="nm-icon"  data-bind="css: controls.advertising.getBtnIcon(1)"/>
                     <span data-bind="text: controls.advertising.getBtnText(1)" />
                  </a>
              </li>
              <li data-bind="css: {if:  NL.textScrolling.scrollingTextVisible() ? 'active' : ''}">
                  <a href="#" class="advertising-tab" data-bind="click: function(){
                      if ( NL.textScrolling.scrollingTextVisible() ){                      
                        controls.scrollingText.toggleScrollingText();
                        controls.advertising.switchActivePanel('priority');
                      }
                      else{
                        controls.scrollingText.toggleScrollingText();
                      }
                    }">
                    <i class="nm-icon"  data-bind="css: controls.advertising.getBtnIcon(2)"/>
                     <span data-bind="text: controls.advertising.getBtnText(2)" />
                  </a>
              </li>              
          </ul>

      </div>

       <!-- <div><i class='nm-icons-angle-right' /></div> -->

       <div class="dropdown">
          <div class="btn btn-primary dropdown-toggle " id="import-dropdown" data-toggle="dropdown">
            Create/Upload
            <span class="caret"></span>
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="import-dropdown">
            <!-- ko if: ((NL.settings.connectionMethod() == 'utopia' && NL.advertising.activeTab() === 'priority')
                        || NL.zone.version_num() >= 3.92)
                        && NL.advertising.activeTab() !== 'galleries' -->
                <li><a role="menuitem" tabindex="-1" href="#"
                    data-bind="click: controls.advertising.showFileModal,
                      visible: !NL.textScrolling.scrollingTextVisible(),
                      enable: NL.settings.utopia.canIUse('request_system','da_upload')()">
                    <i class="icon-file"></i> Upload File...
                </a></li>
                <li><a role="menuitem" tabindex="-1" href="#"
                    data-bind="click: controls.instagram.showInstagramModal,
                    visible: !NL.textScrolling.scrollingTextVisible()">
                    <i class="icon-instagram"></i> Create Instagram Feed...
                </a></li>

              <!-- /ko -->
              <li><a role="menuitem" tabindex="-1" href="#"
                  data-bind="click: controls.advertising.showWebPageModal,
                    visible: !NL.textScrolling.scrollingTextVisible(),
                    enable: NL.settings.utopia.canIUse('request_system','da_upload')()">
                  <i class="icon-file"></i> Create HTML Slide...
              </a></li>
              <!-- ko if: ( NL.zone.version_num() >= 3.92)
                          && NL.advertising.activeTab() == 'user'-->
                <li><a role="menuitem" tabindex="-1" href="#"
                  data-bind="click: controls.advertising.showTOIModal "> 
                  <i class="icon-file"></i> Create TOI Slide 
              </a></li>  
                <li><a role="menuitem" tabindex="-1" href="#"
                    data-bind="click: controls.advertising.showCreateGalleryModal,
                    visible: !NL.textScrolling.scrollingTextVisible(),
                      enable: NL.settings.utopia.canIUse('request_system','gallery_create')()">
                    <i class="icon-file"></i> Create New Picture Gallery...
                </a></li>
              <!-- /ko -->

              <li><a role="menuitem" tabindex="-1" href="#"
                  data-bind="click:controls.scrollingText.showCreateMsgText,
                    visible: NL.textScrolling.scrollingTextVisible(),
                    enable: NL.settings.utopia.canIUse('request_system','set_scrolling_text')()">
                  <i class="icon-text-width"></i> Create Message Text...
              </a></li>

            </ul>
          </div>


<div class="pull-right" data-bind="template: {name: 'advertising-controls', data: NL.advertising.user, if: NL.advertising.activeTab() === 'user'}"></div>
<div class="pull-right" data-bind="template: {name: 'advertising-controls', data: NL.advertising.priority, if: NL.advertising.activeTab() === 'priority'}"></div>

    </div>


<!-- ko if:( (NL.advertising.activeTab()==='user') &&  !NL.textScrolling.scrollingTextVisible() )-->
  <div style="height: 100%;" data-bind="template: {name: 'advertising-channel', 
                                                   data: NL.advertising.user}"></div>
<!-- /ko -->

<!-- ko if:( (NL.advertising.activeTab()==='priority') &&  !NL.textScrolling.scrollingTextVisible() )-->
    <div  style="height: 100%;" data-bind="template: {name: 'advertising-channel', 
                                                      data: NL.advertising.priority}"></div>
<!-- /ko -->

<!-- ko if:( (NL.advertising.activeTab()==='user') &&  NL.textScrolling.scrollingTextVisible() )-->
  <div style="height: 100%;" data-bind="template: {name: 'scrolling-channel', 
                                                   data: NL.textScrolling.user}"></div>
<!-- /ko -->

<!-- ko if:( (NL.advertising.activeTab()==='priority') &&  NL.textScrolling.scrollingTextVisible() )-->
    <div  style="height: 100%;" data-bind="template: {name: 'scrolling-channel', 
                                                      data: NL.textScrolling.priority}"></div>
<!-- /ko -->



</div>
</script>
