<script type="text/html" id="pane-zoneinfo">
  

    <div id="pane-zoneinfo" class="container col-lg-offset-2 col-lg-7">
        <div class="row">
            <div class="panel panel-default">            
                <div class="panel-heading">
                    <h4><i class="icon icon-building"></i> Music Zone Information</h4>
                </div>

                <div class="panel-body pair-value">
                    <p > Venue Name: <span data-bind="text: NL.settings.selectedSystem() ? 
                                                            NL.settings.selectedSystem().client_name : ''"> </span> </p>
                </div>                

                <div class="panel-heading">
                    <h4> Network</h4>
                </div>

                <div class="panel-body pair-value">                
                    <p> IP: <span data-bind="text: NL.settings.selectedSystem() ? 
                                                            NL.settings.selectedSystem().local_ip : '' "> </span> </p>               
                    <p> Local Port: <span data-bind="text: NL.settings.selectedSystem() ? 
                                                            NL.settings.selectedSystem().local_port : '' "> </span> </p>
                </div>

                <div class="panel-heading">
                    <h4> System Information</h4>
                </div>

                <div class="panel-body pair-value">
                    <p> System Code: <span data-bind="text: NL.settings.selectedSystem() ?
                                                            NL.settings.selectedSystem().client_code : '' "> </span></p>
                    <p> Version: <span data-bind="text: NL.settings.selectedSystem() ?
                                                            NL.settings.selectedSystem().version : '' "> </span></p>
                    <p> Zone: <span data-bind="text: NL.settings.selectedSystem() ?
                                                            NL.settings.selectedSystem().zone_name : '' "> </p>
                    <p> Zone No: <span data-bind="text: NL.settings.selectedSystem() ?
                                                            NL.settings.selectedSystem().zone : '' "> </p>
                </div>

                <div class="panel-heading">
                    <h4> System Mode</h4>
                </div>

                <div class="panel-body pair-value" >   
                    <p> Playback Mode: <span data-bind = "text:controls.settings.getPlaybackMode()" > </span></p>
                    <p> Jukebox: <span data-bind="text: NL.zone.system_mode.juke() ?'On' : 'Off' "> </span></p>
                    <p> Jukebox Connected: <span 
                                    data-bind="text: (NL.zone.juke() && NL.zone.juke().connected) ?  'True' : 'False' "> </span> </p>
                    <p> Jukebox Mode: <span data-bind="text: NL.zone.juke() ? NL.zone.juke().mode : '' "> </span> </p>
                    <p> Onsite Access: <span data-bind="text: (NL.settings.accessCode && NL.settings.accessCode.code()!== undefined) ?
                                                            'Verified Onsite' : 'Not Verified' "> </span> </p>
                </div>                

            </div>
        </div>

        <div class="row">
            <button type="button" class="btn btn-primary" href="#tab-settings" title="Settings" data-toggle="tab">
                    <i class="icon nm-icons-cogs"></i><span class="hidden-xs">Back to Settings</span>
            </button>

        </div>
  </div>

</script>

