<script type="text/html" id="pane-settings">
  <div class="container">
    <div class="row">
      <form class="form-horizontal col-lg-offset-2 col-lg-8" data-bind="with: settings" role="form">        
        <!-- Ebrahim M: removed : 'settings-public' --> 
        <!-- ko template: 'settings-onsite' --><!-- /ko -->
        <!-- ko template: 'settings-controls' --><!-- /ko -->
        <!-- ko template: 'settings-third-party' --><!-- /ko -->
        <!-- ko template: 'settings-diagnostics' --><!-- /ko -->
        <!-- ko template: 'settings-dev' --><!-- /ko -->
        <!-- Ebrahim M: removed for the live server: 'settings-dev' --> 
      </form>
    </div>
  </div>
</script>