<script type="text/html" id="pane-search">
<form class="form-inline z-depth-1" id="search-header">
    <!-- Nav tabs -->

        <ul class="search-tabs nav nav-tabs">
            <li><a class="search-tab" href="#search-title" data-toggle="tab"><i class="nm-icons-musicnote"></i>Title</a></li>
            <li><a class="search-tab" href="#search-artist" data-toggle="tab"><i class="nm-icons-artist"></i>Artist</a></li>
            <li><a class="search-tab" href="#search-lists" data-toggle="tab"><i class="nm-icons-lists"></i>Nightlife Lists</a></li>
            <li><a class="search-tab" href="#search-year" data-toggle="tab"><i class="nm-icons-release"></i>Year</a></li>
            <li><a class="search-tab" href="#search-category" data-toggle="tab"><i class="nm-icons-genre"></i>Genre</a></li>
            <li class=" spotify-list"><a class="search-tab" href="#search-spotify" data-toggle="tab"><i class="nm-icons-spotify"></i>Spotify Lists</a></li>
        </ul>

    <!-- Tab panes -->
    <div class="search-field-container">
        <div class="tab-content">
            <div class="tab-pane active" id="search-title">
                <div class="search-form">
                        <input type="text" placeholder="Search Song Titles" class="input-medium search-query"
                        		id="txtSongTitle" data-bind="value: songSearch.searchTitle,valueUpdate: 'input'" />

                        <a class="btn-adjacent-search" href="#"
                            data-bind="click: controls.search.toggleAdjacent,
                            			css: {active : !NL.songSearch.adjacent()}" >
                           <span data-bind="visible: NL.songSearch.adjacent()" class="switch-exact"></span>
                           <span data-bind="visible: !NL.songSearch.adjacent()" class="switch-loose"></span>
                        </a>

                </div>
                <!-- ko template: {name: 'search-form'}--> <!-- /ko -->
            </div>
            <div class="tab-pane" id="search-artist">
                <div class="search-form" >
                       <input type="text" onClick="this.select();" placeholder="Search Song Artists"
                       		class="input search-query" id="txtSongArtist"
                       		data-bind="value: songSearch.searchArtist, valueUpdate: 'input'" />

                        <a class="btn-adjacent-search" href="#"
                            data-bind="click: controls.search.toggleAdjacent,
                            		   css: {active : !NL.songSearch.adjacent()}" >
                           <span data-bind="visible: NL.songSearch.adjacent()" class="switch-exact"></span>
                           <span data-bind="visible: !NL.songSearch.adjacent()" class="switch-loose"></span>
                        </a>

                </div>
                <!-- ko template: {name: 'search-form'}--> <!-- /ko -->
            </div>
            <div class="tab-pane" id="search-lists" data-bind="click:controls.settings.getFavoriteRemvedSongs">
                <div class="search-form"  >
                    <div class="" data-bind="if: musicList.activeLists().length">
                        <select class="form-control search-query" name="ddlList"
                        data-bind="
                            options: musicList.activeLists,
                            optionsText: 'displayName',
                            optionsCaption: 'Select a List...',
                            optionsValue: 'slot',
                            optionsAfterRender: function(option, item){
                                if(item){ $(option).addClass(item.style);}
                            },
                            value: $root.songSearch.selectedListSlot " />
                    </div>
                </div>
                 <!-- ko template: {name: 'search-form'}--> <!-- /ko -->
            </div>
            <div class="tab-pane" id="search-year">
                <div class="search-form">
					<select class="form-control search-query" id="selSearchYear" name="selSearchYear"
						data-bind="options: NL.songSearch.searchYears, value: NL.songSearch.searchYear,
						                            optionsCaption: 'Select a Decade...'">
					</select>
					<!--
                    	<input type="text" onClick="this.select();" class="form-control" id="txtSearchYear" data-bind="typeahead: NL.songSearch.searchYears,
                         value: songSearch.searchYear, valueUpdate: 'input'" placeholder="Search By Year">
                    -->

                </div>

                <!-- ko template: {name: 'search-form'}--> <!-- /ko -->
            </div>
            <div class="tab-pane" id="search-category">
                <div class="search-form">
                        <select class="form-control search-query" id="selSongCategory" name="selSongCategory"
                                data-bind="options: NL.songSearch.searchCategories,
                                            optionsCaption: 'Select a Genre...',
                                            value: songSearch.searchCategory">
                        </select>
                </div>
                <!-- ko template: {name: 'search-form'}--> <!-- /ko -->
            </div>

            <div class="tab-pane" id="search-spotify" onload="controls.search.onLoadSpotifyTab()">
                <div class="search-form"  >
                    <div >
                        <!-- <select class="form-control search-query" name="spotifyUsersList"
                            style="width:200px;"  
                            onchange="controls.search.changeUserList(this.value)"
                            data-bind="options: NL.spotify.spotifyUsers(),
                            optionsText:NL.spotify.spotifyUsers(),
                            optionsValue:NL.spotify.spotifyUsers(),                            
                            value: controls.search.selectedUsername" />
                        -->

                        <select class="form-control search-query"
                                data-bind="foreach: controls.search.getDropListOption()"
                                onchange="controls.search.changePlaylist(this.value);">
                            <!-- <option value=''> Select a Spotify playlist... </option> --> 
                            <optgroup style="color:blue;" 
                                data-bind="attr: {label: owner}, foreach: ownerPlaylists">
                                    <option style="color:black" 
                                        data-bind ="
                                        text:name, 
                                        value: (id + ','  + owner ),
                                        attr: {selected:
                                        ((NL.songSearch.selectedSpotifyList() !== 
                                                                           undefined ) && 
                                        (NL.songSearch.selectedSpotifyList().id === id)) }
                                    ">
                                   </option>
                            </optgroup>
                        </select>

                        <!--
                        <select class="form-control search-query" name="spotifyPlaylists"
                            data-bind="
                            options: controls.search.getDropdownListOptions(),
                            optionsText:function(item) {
                                // Ebrahim M: It is a bit weird but I implemented it here!!
                                 var i=0;
                                var nMatches = 'Not matched yet.';
                                var strRetVal = item.name + ' - (Not matched yet.)';
                                for(i=0;i<controls.search.arImportedPlaylists().length ; i++){
                                    if(item.id === controls.search.arImportedPlaylists()[i].spPlaylistId){
                                        break;
                                    }
                                }
                                if(i < controls.search.arImportedPlaylists().length){
                                   nMatches =  controls.search.arImportedPlaylists()[i].fileNames.length;
                                   strRetVal = item.name + ' - (' + nMatches + ' matches)';
                                }
                                return strRetVal;
                            },
                            optionsCaption: 'Select a Spotify Playlist...',
                            optionsValue: 'id',
                            optionsAfterRender: function(option, item){
                                if(item){
                                    $(option).addClass(item.color);
                                }
                            },
                            value: $root.songSearch.selectedSpotifyList " />
                        -->
                        <a href="#" class="btn btn-success" data-bind="click: function (){
                            controls.search.refreshSpotifyPlaylist($root.songSearch.selectedSpotifyList());}">
                                <i class="icon-refresh"> </i> Refresh
                        </a>
                        <a href="#" class="btn btn-primary" data-bind="click: function (){
                            controls.search.removeSpotifyPlaylist($root.songSearch.selectedSpotifyList());}">
                                <i class="nm-icons-cross"> </i> Remove
                        </a>                        
                    </div>

                </div>
                <!-- ko template: {name: 'search-form'}--> <!-- /ko -->
            </div>

        </div>
    </div>

</form> <!-- End Header -->

<!-- ko template: { name: 'search-results', data: songSearchResults } --><!-- /ko -->
<!-- ko template: {name: 'search-pagebar', data: songSearchResults } --><!-- /ko -->

</script>

<script type="text/html" id="search-form">

        <div class="btn-group">
            <button type="button" id="search-form-sort" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                data-bind="">
            <i class="icon-sort"></i>
            <span class="search-form-btn-text" data-bind="text: 'Sort By: '+NL.songSearch.primarySort().name" />
            <span class="caret"/>
            </button>
            <ul class="dropdown-menu" role="menu" data-bind="">
                <!-- ko foreach: NL.songSearch.sortFieldTypes-->
                <li>
                    <a href="#" data-bind="text: name, click: NL.songSearch.primarySort ,
                    visible:(( value!=='' )||(NL.songSearch.activeTab() === 'search-spotify'))">
                    </a>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <div class="btn-group" data-bind="visible: NL.songSearch.activeTab() !== 'search-spotify'" >
            <button type="button" id="search-form-filter" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                data-bind="">
                <i class="icon-filter"></i>
                <span class="search-form-btn-text"
                    data-bind="text: 'Filter: '+ NL.songSearch.typeFilter().name " />
                <span class="caret"/>
            </button>
            <ul class="dropdown-menu" role="menu" data-bind="">
                <!-- ko foreach: NL.songSearch.filterFieldTypes-->
                <li><a href="#" data-bind="text: name, click: NL.songSearch.typeFilter"></a></li>
                <!-- /ko -->
            </ul>

        </div>

        <!--
        <div class="btn-group">
          <button type="button" class="btn btn-success" id="import-from-spotify"
                data-bind="visible: true || NL.songSearch.activeTab() === 'search-lists' ,
                    click: controls.search.navigateToImportSpotify" > Import from Spotify ...
          </button>
        </div>
        -->

        <span class="underline" style="vertical-align:-webkit-baseline-middle;"
            data-bind="visible: NL.songSearchResults.songs().length > 0,
            text: ( parseInt(NL.songSearch.startIndex() ) + 1 ) + ' to ' + Math.min((parseInt(NL.songSearch.startIndex(),10)+parseInt(NL.songSearch.limit(),10)),NL.songSearchResults.count())   +' of ' + NL.songSearchResults.count()">
        </span>
</script>
