<script type="text/html" id="pane-visuals">
<div class="container">
    <div class="row">
	    <div class="visuals col-md-offset-0 col-md-12">
		    <div class="row" data-bind="foreach: videoStates.states">
		    	<div class="video-output col-sm-6 col-md-6  fixed-height" 
		    		data-bind="template: { name: 'video-output-selector' }">
		    	</div>
		    </div>
	    </div>
    </div>
</div>
</script>