<script type="text/html" id="pane-advertising">
<div class="advertising-panel panel">
    <div class="not-fixed-header panel-heading">
         <nav class="navbar" role="navigation">

            <span><i class='icon-home' /></span>
             <span><i class='nm-icons-angle-right' /></span>
             <!-- Single button -->
            <div class="btn-group">

              <button type="button" class="btn btn-default dropdown-toggle unfocused" data-toggle="dropdown" aria-expanded="false" data-bind="" style="font-family: 'open_sanssemibold'"> <!--hack temporary-->
                User Advertising <span class="caret"></span>
              </button>

            <ul class="dropdown-menu" id="advertising-tabs" role="menu">
                  <li class="active">
                      <a href="#"
                      class="advertising-tab callout-bottom"
                      data-ref="user" data-bind="click: self.showAdvertisingPanel">
                          <i class="icon-user" /> User Advertising
                      </a>
                  </li>
                  <li>
                      <a href="#advertising-priority-panel"
                      class="advertising-tab"
                     data-ref="priority"  data-bind="click: self.showAdvertisingPanel">
                          <i class="nm-icons-film" /> Priority Advertising
                      </a>
                  </li>
               <!-- <li>
                    <a href="#advertising-app-panel" class="advertising-tab disabled" data-toggle="tab"
                    data-ref="app">
                        <i class="nm-icons-film" /> In App Advertising
                    </a>
                  </li>        -->
              </ul>

            </div>
            <!-- end single button -->
             <span><i class='nm-icons-angle-right' /></span>

             <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="import-dropdown" data-toggle="dropdown">
                  Import
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="import-dropdown">
                        <!-- ko if: ((NL.settings.connectionMethod() == 'utopia' && NL.advertising.activeTab() === 'priority')
                                    || NL.zone.version_num() >= 3.92)
                                    && NL.advertising.activeTab() !== 'galleries'
                        -->
                            <li><a role="menuitem" tabindex="-1" href="#"
                                data-bind="click: controls.advertising.showFileModal,
                                  enable: NL.settings.utopia.canIUse('request_system','da_upload')()">
                                <i class="icon-file"></i> Import File
                            </a></li>
                            <li><a role="menuitem" tabindex="-1" href="#"
                                data-bind="click: controls.instagram.showInstagramModal">
                                <i class="icon-instagram"></i> Import Instagram Feed
                            </a></li>

                          <!-- /ko -->
                          <li><a role="menuitem" tabindex="-1" href="#"
                              data-bind="click: controls.advertising.showWebPageModal,
                                enable: NL.settings.utopia.canIUse('request_system','da_upload')()">
                              <i class="icon-file"></i> Import Web Page
                          </a></li>
                          <!-- ko if: ( NL.zone.version_num() >= 3.92)
                                      && NL.advertising.activeTab() == 'user'
                          -->
                            <li><a role="menuitem" tabindex="-1" href="#"
                                data-bind="click: controls.advertising.showCreateGalleryModal,
                                  enable: NL.settings.utopia.canIUse('request_system','gallery_create')()">
                                <i class="icon-file"></i> Create New Picture Gallery
                            </a></li>

                          <!-- /ko -->
                  </ul>
                </div>



          </nav>
    </div>
    <div class="tab-content" id="advertising-tabs-body">
        <div class="tab-pane active" id="advertising-user-panel"
          data-bind="template: {name: 'advertising-user', data: NL.advertising.user}"
        >
        </div>
        <div class="tab-pane" id="advertising-priority-panel"
          data-bind="template: {name:'advertising-priority', data: NL.advertising.priority}"
        >
        </div>
        <div class="tab-pane" id="advertising-app-panel"
          data-bind="template: {name:'advertising-app', data:NL.advertising.app }"
        >
        </div>
  </div>

</div>



</script>
