<script type="text/html" id="pane-playlist">
      <div id="create-playlist-history" data-bind="visible: NL.spotify.isSingedIn()">
        <button type="button" id="snap-shot-spotify" class="z-depth-1 hoverable-1"
                    data-bind="click: controls.song.snapShotHistory">
           <img src="assets/img/spinner.gif" data-bind="visible:controls.song.spinBtnExportShow()"
                    height="18" width="18"/>
            <i class="nm-icons-spotify"></i>
            <span>Create Playlist from Play History</span>
        </button>
    </div>
    <div id="playlist-wrapper" style="opacity: 1"
    	data-bind="template: {name: 'song-table', data: playlist},
    	css: nowPlaying().status,
    	afterRender: controls.playlist.enableSorting()"></div>
    <div id="playlist-spacer-bottom"></div>
</script>
