<script type="text/html" id="pane-musiczones">
  <div class="container">
    <div class="row">
      <form class="form-horizontal col-lg-offset-2 col-lg-8" data-bind="with: settings" role="form">        
        <!-- ko template: 'music-zones' --><!-- /ko -->
      </form>
    </div>
  </div>
</script>