<script type="text/html" id="pane-help">
  
 <div class="container">
 <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="icon icon-mobile-phone"></i> Contact Nightlife</h4>
            </div>
            <div class="panel-body">
                <p><i class="icon icon-phone"></i> Technical Support: <a href="tel:1800773468">1800 773 468</a></p>
                <p><i class="icon icon-phone"></i> Nightlife HQ: (07)3858 2560</p>
                <p><a href="http://www.nightlife.com.au" target="_blank"><i class="icon icon-globe"></i> www.nightlife.com.au</a></p>
            </div>
          </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="icon icon-keyboard"></i> Keyboard Shortcuts </h4>
            </div>
            <div class="col-xs-6">
                <table class=" table table-condensed">
                    <tr>
                        <th> Shortcut </th>
                        <th> Function </th>
                    </tr>
                    <tr>
                        <td> arrow-left / arrow-right </td>
                        <td> Switch tab </td>
                    </tr>
                    <tr>
                        <td> arrow-up / arrow-down </td>
                        <td> Select song </td>
                    </tr>
                </table>
              </div>
          </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="icon icon-asterisk"></i> About this App</h4>
            </div>
            <div class="panel-body">
                <p><i class="icon icon-compass"></i> Version = 1.03 - 23rd Jan 2015</p>
            </div>
          </div>
    </div>
    <div class="row">
    <button type="button" class="btn btn-primary" href="#tab-settings" title="Settings" data-toggle="tab"><i class="icon nm-icons-cogs"></i><span class="hidden-xs">Back to Settings</span></button>
    </div>

  </div>
</script>