<script type="text/html" id="pane-lists">

    <!-- ko with: musicList -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
        <ul id="list-tabs" class="nav nav-tabs list-tabs z-depth-1"
                            data-bind="css: { 'forceExpanded'  : controls.navigation.menuShown(),
                                               'mini' : controls.navigation.menuShown() && isMiniLayout(),
                                              'forceRetracted' : !controls.navigation.menuShown()}" >
            <li ><a  href="#lists-all-panel" class="list-tab" data-toggle="tab">
                All Lists
            </a></li>
            <li class="active"><a href="#lists-current-panel" class="list-tab" data-toggle="tab">
               Currently Loaded Lists
            </a></li>
            <!--
              // Commented due to Mark B's request
              <!-- ko template: {name: 'lists-song-tab'}-- <!-- /ko --
            -->

            <!-- Ebrahim M: I called them 'guest' because in future we may add other 3rd party playlists as well -->

            <!-- Commented due to Mark suggestions
            <li class="spotify-list"><a href="#lists-myspotify-panel" class="list-tab"
                            data-toggle="tab"
                            data-bind="/*click:controls.spotify.getUserPlaylists */">
                            <i class="nm-icons-spotify"></i>
               MY Spotify Playlists</a>
            </li>
            -->

            <li class="spotify-list"><a href="#lists-guests-panel" class="list-tab"
                            data-toggle="tab"
                            data-bind="click:controls.navigation.jumpToListsSpotify /*click:controls.spotify.getUserPlaylists */">
                            <i class="nm-icons-spotify"></i>
               Spotify Users Lists</a>
            </li>


        </ul>
    </nav>

    <div class="tab-content " id="list-tabs-body">
        <div class="tab-pane " id="lists-all-panel">
            <!-- ko template: 'lists-all' --><!-- /ko -->
        </div>
        <div class="tab-pane active now-playing" id="lists-current-panel">
            <!-- ko template: 'lists-current' --><!-- /ko -->
        </div>
        <div class="tab-pane now-playing" id="lists-song-panel">
            <!-- ko template: 'lists-song' --><!-- /ko -->
        </div>


        <!-- Commented due to Mark suggestions
        <div class="tab-pane now-playing" id="lists-myspotify-panel" >
            <!-- ko template: 'lists-myspotify' --
        </div>
        -->

        <div class="tab-pane now-playing" id="lists-guests-panel" >
            <!-- ko template: 'lists-guests' --><!-- /ko -->
        </div>

    </div>
    <div class="list-controls page-bar" data-bind="
                hidden: (NL.musicList.activeTab() === 'lists-myspotify-panel') ||
                        (NL.musicList.activeTab() === 'lists-guests-panel'),
                visible: (NL.musicList.activeTab() === 'lists-all-panel' ||
                        NL.musicList.activeTab() === 'lists-current-panel' ||
                        NL.musicList.activeTab() === 'lists-song-panel')">
        <div class="row">
            <!-- ko if: false /*NL.musicList.selectionsOnly() */ -->
                <a href="#" class="btn btn-primary col-sm-offset-4 col-sm-4 col-xs-12" data-bind="click: controls.search.allSongs">
                    Search All Songs
                </a>
            <!-- /ko -->
            <!-- ko if: (NL.musicList.activeTab() !== 'lists-myspotify-panel') &&
                                            (NL.musicList.activeTab() !== 'lists-guests-panel')
                                    /*NL.musicList.selectionsOnly() === false*/ -->
                <a href="#" class="btn btn-primary col-sm-offset-2 col-sm-3 col-xs-6" data-bind="click: controls.lists.loadLists">
                    Load Selection
                </a>
                <a href="#" class="btn btn-primary col-sm-offset-2 col-sm-3 col-xs-6" data-bind="click: controls.lists.clearLists">
                    Reload Default Lists
                </a>
            <!-- /ko -->

            <!-- ko if: (NL.musicList.activeTab() === 'lists-myspotify-panel') ||
                                (NL.musicList.activeTab() === 'lists-guests-panel')  -->
             <div align='center' style='color:green;'
                    data-bind="visible:controls.song.spinBtnImportShow()">
                <img src="assets/img/spinner.gif"
                    data-bind="visible:controls.song.spinBtnImportShow()"
                    height="27" width="27"/>
                <span style='font-weight:bold;'>Matching Spotify Playlist to Nightlife Songs...</span>
            </div>
            <!-- /ko -->

        </div>

    </div>
  <!-- /ko -->

</script>
