<script id="now-playing" type="text/html">
  <div class="now-playing" data-bind="click: controls.navigation.businessAsUsual">

    <div class="controls pull-right">

      <a title="Recue" class="btn btn-default btn-lg" id="btnReCue" href="#"
        data-bind="click: controls.player.recue,
          css: {'disabled' : false || NL.zone.version_num() < 3.92}">
          <i class="nm-icons-control-mix-prev" ></i>


      <a title="Resume" class="btn btn-default btn-lg" id="btnPlay" href="#"
        data-bind="click: controls.player.resume,
              css: {'disabled' : false}">
        <i class="nm-icons-play"  data-bind="css:{'control-state-playing':NL.zone.pause()===''}"></i></a>

      <a title="Pause"  class="btn btn-default btn-lg" id="btnPause" href="#"
        data-bind="click: controls.player.pause,
          css: {'disabled' : false}">
        <i class="nm-icons-pause-now" data-bind="css:{'control-state-paused':NL.zone.pause()==='paused'}"></i></a>

      <!-- ko if: (!NL.zone.system_mode.karaoke() && !NL.zone.system_mode.djManual()) || NL.zone.version().substr(0,4) !== "3.92" -->
      <a title="Pause After Song"  class="btn btn-default btn-lg" id="pauseEnd" href="#"
        data-bind="click: controls.player.pauseNext,
          css: {'disabled' : false}">
        <i class="nm-icons-scheduled-pause"  data-bind="css:{'control-state-pausing':NL.zone.pause()==='pausing'}"></i></span></a>
      <!-- /ko -->

      <!-- ko if: (NL.zone.system_mode.karaoke() || NL.zone.system_mode.djManual()) &&  NL.zone.version().substr(0,4) === "3.92" -->
      <a title="Stop" class="btn btn-default btn-lg" id="btnStop" href="#"
        data-bind="click: controls.player.stop,
              css: {'disabled' : false}">
        <i class="icon-stop" ></i></a>
      <!-- /ko -->


      <a title="Mix"  class="btn btn-default btn-lg" id="btnMix" href="#"
        data-bind="click: controls.player.playNext,
          css: {'disabled' : false}">
        <i class="nm-icons-control-mix"></i></a>


      <a title="Volume"  class="btn btn-default btn-lg" id="btnVolume" href="#"
        data-bind="click: controls.volume.toggle"><i class="icon-volume-up"></i><span  data-bind="text: ' ' + volume.level() + '%' " /> <i class="nm-icons-cog"></i></a>
    </div>
    <!-- ko template: { name: 'song-current', data: nowPlaying().song} --><!-- /ko -->
    <!-- ko template: { name: 'player-bar', data: nowPlaying, afterRender: controls.player.animate } --><!-- /ko -->
  </div>
</script>

<script id="player-bar" type="text/html">
  <div class="timer">
    <div class="time-remaining pull-right" data-bind="text: remainingMinSec" />
    <div class="time-elapsed pull-left" data-bind="text: elapsedMinSec" />
  </div>
  <div class="progress progress-striped">

    <div class="progress-bar" data-bind="css: { 'progress-bar-info': status === 'playing', 'progress-bar-warning': status === 'halting', 'progress-bar-danger': status === 'halted' }">
    </div>
     <img src="assets/img/white_circle.png" class="progress-dot" width="15px" height="15px" />
  </div>
</script>
