<script type="text/html" id="pane-system">

<div class="container">
<div class="current-system" data-bind="with: NL.settings.selectedSystem">
        <div class="form-group">
            <h4><i class="nm-icons-info"></i> Saved System Details</h4>
        </div>
        <div class="form-group">
          <label class=" control-label" for="txtAddress">Local Address</label>
            <input type="text" class="form-control disabled" name="txtAddress" disabled="disabled" 
              data-bind="value: address" />
        </div>
        <div class="form-group">
          <label class="control-label" for="txtSystem">System</label>
            <input type="text" class="form-control disabled" name="txtSystem" disabled="disabled" 
              data-bind="value: system" />
        </div>
        <div class="form-group">
          <label class=" control-label" for="txtZone">Zone</label>
            <input type="text" class="form-control disabled col-xs-3" name="txtZone" disabled="disabled" 
              data-bind="value: zone_name" />
        </div>
        <div class="form-group">
          <label class=" control-label" for="txtVersion">Version</label>
            <input type="text" class="form-control disabled col-xs-3" name="txtVersion" disabled="disabled" 
              data-bind="value: version" />
        </div>
        <div class="form-group">
          <label class="control-label" for="txtAccessLevel">Access Level</label>
            <input type="text" class="form-control disabled" name="txtAccessLevel" disabled="disabled" 
              data-bind="value: accessLevelName()" />
        </div>
        <div class="form-group">
          <label class="control-label" for="txtDAAccess">Advertising Access Level</label>
          <input type="text" class="form-control disabled" name="txtDAAccess" disabled="disabled"
            data-bind="value: da_access"
        </div> 
        <div class="form-group">
            <button type="button" class="btn btn-primary" href="#tab-settings" title="Settings" 
              data-toggle="tab"><i class="nm-icons-cogs"></i><span class="hidden-xs">Back to Settings</span>
            </button>
        </div>
      </div>
</div>
</script>