.advertising-panel-header {
    height: 160px;
}

#tab-advertising{
    padding: 20px;
    // background: @greyLight;
    overflow-y: hidden;
    .ad-players-button{
			@media (max-width: @screen-sm) {
				margin: 0;
        padding: 6px 10px;
			}
    }
    div {
      &.dropdown {
        margin-left: 0;
        li > a > i {
          margin-right: 10px;
        }
      }
    }
    .video-output {
        height: auto;
        .panel {
            margin-bottom: 0px;
        }
        .video-selector-container {
            width: 200px;
        }
        .video-modes-container {
          //  display: none;
        }
        .content-controls {
                &:focus{
                    outline: 0;
                }
            .btn {
                padding-top: 5px !important;
                padding-bottom: 5px !important;
            }
        }
    }

    .navbar{
        border: 0;
        margin-bottom: 5px;
    }
    .advertising-panel {
        height: 100%;
        background: @greyLight;
        h3, h4{color: @stormGreen;   }
        h3{margin:0; padding: 15px;}
        .tab-content{padding: 20px; padding-top: 0;}
        .dropdown.asset-filter {margin-top: 70px;}
        .import-controls{
            padding-bottom: 0px;
            margin-bottom: 0px;
            border: 1px dashed @greyPale;
            background: @greyLighter;
            .border-radius(10px);
            padding: 15px;
            margin: 10px 20px;
            //h3{float:left; color: @greyDark;}
            .btn{padding: 15px;}
        }
        .advertising-tabs {
            li a {padding: 10px 40px;}
            .callout-bottom{background: @stormBlue; border-bottom-color: @greyDark;}
            .callout-bottom:after {border-top-color: @stormBlue;}
            .callout-bottom:before{border-top-color: @greyDark;}
            width:100%;
            }

        .advertising-panel {
            #advertising-table-body {
                overflow-y: scroll;
                overflow-x: hidden;
                position: absolute;
                top: 245px;
                //height: 100%;
                padding-left: 34px;
                bottom: 5px;
                left: 0px;
                width: 100%;
                font-size: 12px;
            }

            .advertising-table{
            //display: table;

            width: 100%;
            background: @white;
            padding-top:0;
            .row{
                > div > div{padding-left: 0px;}
                padding-left: 5px;
                .col-xs-1 .col-xs-2 .col-xs-3 .col-xs-4 {
                 padding-left: 0px;
                }
            }
            .row-header{
                background: @greyLighter; padding: 5px 0;
                border-bottom: 1px solid white;
                .col-xs-1 .col-xs-2 .col-xs-3 .col-xs-4 {
                    padding-left: 0px;
                }
                div > div {
                    font-family: 'open_sanssemibold';
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

                .asset{
                    background: @white;

                    &:hover{background: @greyLighter; cursor: pointer;}
                    div{
                        vertical-align: middle;
                        padding: 1rem 0;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                .playing {background: @stormGreenLime;}
                .selected {background: @greyMid !important;}
                .playing.selected {background: @stormGreenLimeDark !important;}

            }
            color: @greyDark;
        }
        .delete {
            color: red;
        }

        .thumbnails{
            img { height: 32px; width: 32px;}
        }
    }

}
//////////////////////////////
// MODAL POPUPS FOR IMPORT //
//////////////////////////////
.advertising-modal{
    /*left: 0;*/
    .modal-dialog {
        width: 700px;
        /*margin-left: auto;
        margin-right: auto;*/

        .nm-icons-cross{
            font-size: 1.5em;
            padding: 0 3px;
            color: lighten(@greyDark, 40%);
            &:hover{
                color: @greyDark;
                cursor: pointer;
            }
        }
        h4{
            text-align: left;
            padding: 0;

        }
    }
    .panel-heading{
        img{
            vertical-align: text-top;
            width: 60px;
            margin-right: 10px;
        }
    }

    .btn{
        margin-right: 5px;
    }

    .form-horizontal{
        p{
            font-weight: bold;
        }
    }
}

/* Lucas A - set these values to zero because now we use JS to calculate vertical middle */
@modal-top-offset: 0px;
@modal-top-offset-sm: 0px;
@modal-top-offset-xs: 0px;
@modal-left-offset: 20px;

#container-advertising-file-modal {
    #advertising-preview-container {
        height: 130px;
    }
    #advertising-preview {
        width: 200px;
        height: 113px;
        padding: 5px;
        background: darken(@greyLight, 5%);
        border: 1px dashed @greyPale;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    #chk-squish { margin-left: 15px;}
}
#container-advertising-instagram-modal {
    .modal-content {
        #instagram-container {
            height: 612px;
            #instagram-img{
                height: 412px;
                width: 412px;
            }
            .instagram-controls {
                //margin-left: auto;
                width: 494px;
            }
        }
        .alert-danger{padding: 10px 0; text-align: center;}
        .tab-content{padding-top: 10px;}
        .nav-tabs > li > a{border-radius: 0; padding: 4px 15px;}
    }
}
#container-advertising-create-gallery-modal{
    /* Because this modal embeds two templates, we want to remove the col padding. The container panel-body has the padding it needs */
    .col-xs-7, .col-xs-5{
        padding: 0;
    }

    .modal-dialog{
        width: 850px;
        @media screen and (max-width: @screen-md) {
          width: 760px;
        }
    }
}
#container-advertising-edit-gallery-modal, #container-advertising-create-gallery-modal{
    /*.panel-body {
        padding: 0px;
    } */
    .progress {
        margin-bottom: 0px;
    }
    .form-group {
        margin-left: 0px;
        margin-right: 0px;
    }

    #files-list {
        background-color: white;
        .img-cache-progress{
            background: @stormGreen;
            height: 100%;
        }
        height: 241px;
        overflow-y: scroll;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .row {
            margin-right: 0px;
        }
        .thumbnail-container {
            height: 80px;
            width: 80px;
            padding: 2px;
            text-overflow: ellipsis;
            overflow-x: hidden;
            overflow-y: hidden;
            white-space: nowrap;
            font-size: 11px;

            .img-thumbnail{
                .border-radius(0);
            }
        }
        .img-overlay {
            position: absolute;
            font-size: 32px;
            color: @stormGreen;
        }
        img {
            height: 60px;
        }
        .uploaded {
            opacity: 0.3;
        }

    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    #chk-squish { margin-left: 15px;}
}

#container-advertising-toi-modal{
    .modal-dialog{
        width: 850px;
        @media screen and (max-width: @screen-md) {
          width: 760px;
        }
        .panel-body{
            padding-top: 0;

            .column-toi-preview{
                width: 650px;
                float: left;
            }
            .column-toi-controls{
                width: 170px;
                float: right;
            }
        }
    }

    .nav-tabs{
        > li{
            > a{
                @inactiveTab: darken(@greyLight, 5%);
                margin: 0;
                border: 0;
                border-bottom: 2px solid @inactiveTab;
                padding: 8px 0;
                font-size: 12px;
                width: 83px;
                .border-radius(0,0,0,0);
                text-align: center;
                background-color: @inactiveTab;
                color: darken(@stormGreen, 20%);

            }
            &.active > a{
                color: white;
                background-color: @stormGreen;
                border-bottom-color: lighten(@stormGreen, 30%);
                font-size: 12px;
            }
        }
    } 

    .toi-config-group{
        .btn-bold-switch{
            
        }
        .btn-shadowed-switch{
            color: #8C8989;
            text-shadow: 0 -1px 0 rgba(62,60,60,1);
        }
        .btn-bold-switch, .btn-shadowed-switch{
            font-size: 12px;
            padding: 5px;
            color: @greyMid;
            background: @greyPale;
            &.on{
                background: @hdmsTeal;
                color: @black;
            }
            &:hover{
                background: darken(@greyPale, 10%);
                &.on{background: @hdmsTeal;}
            };
            &:focus{outline: none;}
        }
    }
    .toi-config-label{
        font-size: 11px;
        margin-bottom: 5px;
    }

    .toi-config-tb-group, .toi-config-font-group, .toi-config-slider-group{
        border-bottom: 1px solid darken(@greyLight, 10%);
        padding-bottom: 10px;
    }
    .toi-config-tb-group{
        margin-top: 10px;
        .toi-config-label{
            width: 55px;
            float: left;
            margin-right: 10px;
            margin-top: 5px;
        }
        .num-text-boxes{
            &.input-group{
                width: 80px;
                /*float: right;*/
                margin: 0px 5px;
                .input-group-addon{
                    padding: 6px;
                    &:hover{cursor: pointer;}
                    &.disabled{color:darken(@greyPale, 5%);}
                }
                .form-control{
                    text-align: center;
                    padding: 0;
                    height: 30px;
                }
            }
        }      
    }
    .toi-textline{ font-size: 3em; width: 100%; background: transparent; border: 0; outline: 0; z-index: 99999999; text-align: center; -webkit-appearance:none;}
    input.toi-textline:hover{background:rgba(255,255,255,0.2);}
    input.toi-textline:focus{outline: 0; border-style: solid; border-color: white; background:rgba(0,0,0,0.2);}

    .border-guide{border:1px dashed gray; }
    .shadowed{text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);}
    .bold{font-weight: bold;}
    .fontchange{font-size: 12px;}
    .dropdown-container{position: relative; height: 50px; width: 297px; }
    .dropdown-arrow{background: red; width: 1em; height: 1em; float: right;}
    .dropdown{
        display: block; 
        clear: both; 
        padding: 5px; 
        width: 100%; 
        border: 1px solid @greyPale;
        background: white;
        text-transform: capitalize;
        .border-radius(3px, 3px, 3px, 3px);
        &:hover{
            border-color: darken(@greyPale, 10%);
            cursor: pointer;
        }
        &.active, &.active:hover{
            border-color: @stormGreen;
        }
    }
    
    .dropdown-list{
        position: absolute;
        top: 0; 
        left: 0;
        width: 169px;
        //display: none;
        max-height: 220px;
        overflow: auto;
        list-style-type: none;
        border: 1px solid #BFBFBF;
        border-top: 0;
        background: white;
        .box-shadow(1px 1px 3px rgba(0,0,0,0.4));
        z-index: 1000;
        padding-left: 0;
    }
    .dropdown-list li{
        padding: 5px 2px;
        padding-left: 10px;
        font-size: 12px;
        text-transform: capitalize;
    }
    .dropdown-list li:hover{
        background: #f2f2f2;
    }


    .toi-color-group{
        height: 20px;
        margin: 10px 0;
        .toi-color-label{
            float:left;
            width: 52px;
        }
        .toi-color-preview{
            display: inline-block;
            //background: @stormGreen;
            border: 1px solid @greyDark;
            width: 80px;
            margin-left: 10px;
            height: 20px;
        }
    }
    .toi-slider-group{
        height: 20px;
        margin: 10px 0;

        @sliderKnobColour: lighten(@stormGreen, 10%);

        .toi-slider-label{
            float:left; 
            width: 50px;
        }
        .toi-slider{ 
            width: 80px;
            margin-left: 60px;
            height: 5px;
            top: 7px;
            .ui-slider-range{background: darken(@greyLight, 5%);}
            .ui-state-default, .ui-widget-content .ui-state-default{
                background: @sliderKnobColour;
                .border-radius(50%, 50%, 50%, 50%);
                border: 0;
                height: 14px;
                width: 14px;
                top: -7px;
                &:focus, &:active,&.ui-state-hover{
                    outline: none;
                    border: 0;
                    background: darken(@sliderKnobColour, 10%);
                }
            }
        }
        .toi-slider-value{
            display: inline-block;
            width: 20px; 
            font-size: 11px;
            float: right;
        }

    }

    .color-picker-container{
        padding: 10px;
        background: white;
        position: absolute;
        margin-left: -40px;
        margin-top: -5px;
        border: 1px solid #A0A0A0;
        z-index: 100;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.4);

        h3{
            font-size: 14px;
            margin-top: 0;
            color: @greyMid;
        }
    }

    .toi-preview-container{
        overflow: hidden;  
        border: 2px solid white;
        box-sizing: border-box;
        background-size: 1024px auto; 
        background-color: #000;
        position: relative;

        img{width: 100%;}
        .text-container, .img-container{
            position: absolute; top: 0; left: 0;
            height: 100%; 
            width: 100%;
        }
        .text-container{
            z-index: 20;
            font-size: 24px;
            }
        .img-container{
            z-index: 0;
            overflow: hidden;  
            background-size: 640px; 
            /*background-color: #000;*/
        }
    }
    .upload-dialog-container{
        position: absolute;
        padding: 10px;
        top: 50%;
        background: #EFEFEF;
        width: 260px;
        margin-left: -130px;
        left: 50%;
        height: 110px;
        margin-top: -130px;
        z-index: 30;
        .box-shadow(0 0 6px rgba(0,0,0,0.6));
        input{
            width:100%;
            font-size: 12px;
        }
        h4{
            text-align:left;
            margin-top: 2px;
        }
        h3{
            text-align:center; 
            margin-top: 30px;
            font-size: 16px;
            color: @greyMid;
            font-family: 'open_sanssemibold';
        }
        p{
            font-size: 10px;
            color: @grey;
        }
         -webkit-animation-duration: 0.8s; 
        animation-duration: 0.8s; 
        -webkit-animation-fill-mode: both; 
        animation-fill-mode: both; 
    }
}

#container-advertising-edit-asset-modal {
    h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.advertising-modal-controls-right{
    position: absolute;
    width: 60px;
    right: -60px;
    height: auto;
    h1{margin:10px 0;}
    .btn{border-radius: 0; border: 0;}
    .btn:focus{outline: none; }
}

#advertising-app-panel {
    [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    #app-ad-preview {
        font-family: 'open_sanssemibold';
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        padding: 00px;
        box-sizing: border-box;
        border: 1px solid blue;
        .main-image{width: 320px;  border: 0px solid white; margin: 0 auto;}
        .main-image img{width: 100%; margin: 0 auto; border: 1px solid red;}
    }

}
@progressBarColor: lighten(@stormGreen, 10%);

.progressBarContainer{
      background: rgba(255, 255, 255, 0.9);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 270px 200px;
    #progressBar{
        background-color: transparent;
        height: 11px;
        .border-radius(0);
        padding: 1px;
        margin-bottom: 10px;
        .ui-widget-content{
            background:;
        }
        .ui-widget-header{
            .border-radius(0);
            border-color: @progressBarColor;
            background: @progressBarColor;
        }
        .ui-progressbar-value{
            margin: 0;
        }
    }

    #progressBarNarrow{
        background-color: @greyDark;
        height:10px;
    }

    #progressBarText{
        /*width: 100%;
        position: relative; */
        float: right;
        margin-left: 10px;
        text-align: center;
        color:@greyDark;
        font-size: 11px;
        font-family: 'open_sanssemibold';
    }
}

#header-msg-modal{
    padding-top:2px;
    padding-bottom:1px;
    padding-left:20px;
    //background-color:@stormLight;
    background-color:khaki;
}
