/***********************************************/
/************ NIGHTLIFE ANIMATION **************/
/***********************************************/

/** for showing files stack */
.stack-peekaboo {
	img {
		max-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		outline: 1px solid transparent;
		.opacity(0);

		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;

		&:last-child {
		position: relative;
		}
	}
	img.cover{.opacity(1);}

	&.active{
		img.cover{.opacity(0);}
	}
}

/* Peek-a-boo */
.stack-peekaboo{
	margin: 20px auto;
	width: 400px;
	padding: 0;
	position: relative;
	max-width: 100%;
}
.stack-peekaboo img.leaf:first-child,
.stack-peekaboo img.leaf:nth-child(2),
.stack-peekaboo img.leaf:nth-child(3) {
	-webkit-transform: scale(0.2);
	transform: scale(0.2);
}

.stack-peekaboo.active img.leaf {
	.opacity(1);
}
.stack-peekaboo.active img.leaf:nth-child(3) {
	-webkit-transform:scale(0.7) translate(-15%, 4%) rotate(-11deg);
	transform: scale(0.7) translate(-15%, 4%) rotate(-11deg);
}

.stack-peekaboo.active img.leaf:first-child {
	-webkit-transform: scale(0.3) translate(50%,-50%) rotate(15deg);
	transform: scale(0.3) translate(50%,-50%) rotate(15deg);
}

.stack-peekaboo.active img.leaf:nth-child(2) {
	-webkit-transform: scale(0.6) translate(-27%, -11%) rotate(-17deg);
	transform: scale(0.6) translate(-27%, -11%) rotate(-17deg);
}

.stack-peekaboo img.leaf:nth-child(4) {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.stack-peekaboo.active img.leaf:nth-child(4) {
	-webkit-transform: scale(.8);
	transform: scale(.8);
}


/** LOADING SPINNER **/
#spinners {
	padding: 0;
}
#spinners .selected {
	opacity: 1;
	visibility: visible;
}
#spinners li {
	height: 40px;
	width: 40px;
	right: 0;
	left: 0;
	z-index: 10;
	opacity: 1;
	margin: 0px;
	display: inline-block;
	visibility: visible;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}


/*** Rectangle Bounce ***/
@rect-width: 10px;
@rect-gutter: 5px;

.rectangle-bounce {
  text-align: center;
}

.rectangle-bounce div {
  height: 50px;
  width: @rect-width;
  margin: 0 3px 0 0;
  // background-color: darken(@greyPale, 23%);
	background-color: @greyLight;
  display: inline-block;
  .opacity(0.6);
  position: absolute;
  .border-radius(10px, 10px, 10px, 10px);

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.rectangle-bounce .rect1 {
	left: 0;
}
.rectangle-bounce .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  left: @rect-width + @rect-gutter;
}

.rectangle-bounce .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
	left: (@rect-width + @rect-gutter) * 2;
}

.rectangle-bounce .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  left: (@rect-width + @rect-gutter) * 3;
}

.rectangle-bounce .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  left: (@rect-width + @rect-gutter) * 4;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { height: 35px; margin-top: 7px; -webkit-opacity : .6; }
  20% { height: 50px; margin-top: 0px; -webkit-opacity: 1;}
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    height: 35px; margin-top: 7px; opacity :.6;

  }  20% {
    height: 50px; margin-top: 0px; opacity: 1;

  }
}
/********************************************************************************/
/****************NOTIFICATIONS ***********************************************/
/********************************************************************************/
/* Common, default styles for the notification box */

@load-spinner-diameter: 70px;
@notification-height: @load-spinner-diameter;
@notification-width: 550px;
@notification-delay: 800ms; /* how long the loader takes */
@notification-speed: 0.3s; /* how long it takes to expand / show*/

@notification-text-color: #fff; /* how long it takes to expand / show*/
@load-spinner-color: @stormGreen; /* how long it takes to expand / show*/


.ns-box {
	position: fixed;
	background: rgba(42,45,50,0.85);
	padding: 12px;
	margin: 10px 0;
	line-height: 1.4;
	z-index: 1000;
	pointer-events: none;
	color: rgba(250,251,255,0.95);
	font-size: 90%;
	font-family: 'open_sansregular', Helvetica, Arial, sans-serif;

	&.ns-show {
		pointer-events: auto;
	}
	a {
		color: inherit;
		opacity: 0.7;
		font-weight: 700;

		&:hover, &:focus {
			opacity: 1;
		}
	}
	 p {
		margin: 0;
	}

	&.ns-show, &.ns-visible {
		pointer-events: auto;
	}
}

.ns-close {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 4px;
	top: 4px;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	&:hover, &:focus {
		outline: none;
	}
	&::before, &::after {
		content: '';
		position: absolute;
		width: 3px;
		height: 60%;
		top: 50%;
		left: 50%;
		background: #6e6e6e;
	}
}

.ns-close:hover::before,
.ns-close:hover::after {
	background: #fff;
}

.ns-close::before {
	-webkit-transform: translate(-50%,-50%) rotate(45deg);
	transform: translate(-50%,-50%) rotate(45deg);
}

.ns-close::after {
	-webkit-transform: translate(-50%,-50%) rotate(-45deg);
	transform: translate(-50%,-50%) rotate(-45deg);
}
.notification-shape {
	position: fixed;
	z-index: 100000000001;
}

.notification-shape svg {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

[class^="ns-effect-"].ns-other.ns-hide,
[class*=" ns-effect-"].ns-other.ns-hide {
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

/* Individual Effects */

/* SVG Windshield Wiper */
.ns-effect-loadingcircle {
	width:  @notification-width;
	height: @load-spinner-diameter;
	border: 5px solid @greyDark;
	border-radius: 40px;
	background: @greyDark;
	font-weight: 700;
	/*padding: 0.75em 1.5em 0;*/
	position: relative;
	z-index: 200;
	/*.box-shadow(0px 0px 9px #999);*/
}

.ns-effect-loadingcircle .ns-close {
	border: 2px solid #ddd;
	border-radius: 50%;
	top: 50%;
	right: 15px;

	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

.ns-effect-loadingcircle .ns-close::before,
.ns-effect-loadingcircle .ns-close::after {
	background: #ddd;
}

.ns-effect-loadingcircle .ns-close:hover::before,
.ns-effect-loadingcircle .ns-close:hover::after {
	background: #72BF7B;
}

.ns-effect-loadingcircle .ns-box-inner {
	color: @notification-text-color;
	padding-right: 40px;
	padding-left: 20px;
	word-break: break-all;
	font-weight: 100;
	&:hover{
		cursor: default;
	}
}

.shape-progress {
	bottom: 40px;
	right: 40px;
}

.shape-progress svg {
	width: @load-spinner-diameter;
	height: @load-spinner-diameter;
	right: 0;
	top: 10px;
	z-index: 100;
}

.shape-progress path {
	fill: none;
	stroke: @load-spinner-color;
	stroke-width: 5;
	stroke-dasharray: 204;
	stroke-dashoffset: 204;
	opacity: 0;
}
.shape-progress.dark path{stroke: @stormGreen;}

.ns-effect-loadingcircle.ns-show + svg path {
	-webkit-animation: animDash @notification-delay;
	animation: animDash @notification-delay;
}

@-webkit-keyframes animDash {
	0% { opacity: 1; stroke-dashoffset: 204; }
	33% { stroke-dashoffset: 160; }
	50% { stroke-dashoffset: 150; }
	85% { stroke-dashoffset: 30; }
	100% { opacity: 1; stroke-dashoffset: 0; }
}

@keyframes animDash {
	0% { opacity: 1; stroke-dashoffset: 204; }
	33% { stroke-dashoffset: 160; }
	50% { stroke-dashoffset: 150; }
	85% { stroke-dashoffset: 30; }
	100% { opacity: 1; stroke-dashoffset: 0; }
}

.ns-effect-loadingcircle.ns-show {
	opacity: 0;
	-webkit-animation-name: animResize;
	animation-name: animResize;

	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	.animation-duration(@notification-speed);
	.animation-delay(@notification-delay);

	-webkit-animation-timing-function: cubic-bezier(0.25, 0.25, 0.4, 1.6);
	animation-timing-function: cubic-bezier(0.25, 0.25, 0.4, 1.6);
}

@-webkit-keyframes animResize {
	0% { opacity: 1; width:@notification-height; background: transparent; }
	100% { opacity: 1; width: @notification-width; background: @greyDark; }
}

@keyframes animResize {
	0% { opacity: 1; width: @notification-height; background: transparent; }
	100% { opacity: 1; width: @notification-width; background: @greyDark; }
}

.ns-effect-loadingcircle.ns-show .ns-box-inner,
.ns-effect-loadingcircle.ns-show .ns-close,
.ns-effect-loadingcircle.ns-hide {
	-webkit-animation-name: animFade;
	animation-name: animFade;
	.animation-duration(@notification-speed);
}

.ns-effect-loadingcircle.ns-show .ns-box-inner,
.ns-effect-loadingcircle.ns-show .ns-close {
	opacity: 0;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	.animation-delay(@notification-delay);
}

.ns-effect-loadingcircle.ns-hide {
	opacity: 1;
}

@-webkit-keyframes animFade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes animFade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}


/* For TOI notification boxes */
@-webkit-keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(-30px); 
    } 
    80% { 
        -webkit-transform: translateY(10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(-30px); 
    } 
    80% { 
        transform: translateY(10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInUp { 
    -webkit-animation-name: bounceInUp; 
    animation-name: bounceInUp; 
}
