/****************************************************/        
/********* NIGHTLIFE ASSET PREVIEW MODAL ************/        
/****************************************************/   

@modal-lg: 900px;
@modal-md: 500px;

.preview-file-modal{
	left: 50%;
	@media (min-width: @screen-md){
		margin-left: -@modal-md/2;
	}
	@media (min-width: @screen-lg){
		margin-left: -@modal-lg/2;
	}
	.modal-dialog{
		@media (min-width: @screen-md){
			width: @modal-md;
		}
		@media (min-width: @screen-lg){
			width: @modal-lg;
		}

		.modal-content{
			.panel-body{
				img.preview-asset{
					width: 100%;
				}
			}
		}
	}
}