/****************************************************/
/************ NIGHTLIFE ASSET LIST ****************/
/****************************************************/

/* some vars first */
@asset-row-color-base: @white;
@asset-row-playing-color:  @stormGreenLime;
@asset-row-selected-color:  @greyLight;
@asset-row-border-color: @greyPale;
@asset-row-font-color: @greyDark;


.asset-list-container{
    width: 100%;
    height: 100%;
    background: @white;
    padding:0;
    font-size: 1.25rem;

    .asset-list-header{
        font-size: 12px;
        @media screen and (max-width: 1550px){            font-size: 10px;        }
        @media screen and (max-width: 1332px){            font-size: 10px;        }
        .row{
        	/*bootstrap reset */
            padding:  4px 0;

            /* hack to push the row over 15 pixels */
            /* for when the panel body has scrollbars */
            padding-right: 15px;


        	margin: 0 !important;
	        &.row-header{
	        	font-family: 'open_sanssemibold';
		        // background: darken(@asset-row-color-base, 2%);
            background: @panelHeading;
            border-bottom: 1px solid @greyPale;
            border-top: 1px solid @greyPale;
		        &:hover{cursor:default;}
		        margin: 0;
		        .col-xs-1 .col-xs-2 .col-xs-3 .col-xs-4 {
		            padding-left: 0px;
		        }
                >div, > div > div{padding: 0;}
		    }
        }
    }
    .asset-list-body{
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0;
        height: 100%;
        width: 100%;
        padding-bottom: 40px;
        font-family: @font-family-sans-serif-regular;

        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */

        /* Rules below not implemented in browsers yet */
        -o-user-select: none;
        user-select: none;
        .row{
            padding: 0;
            margin: 0;
             > div > div{padding-left: 0px;}
             padding-left: 5px;
             .col-xs-1 .col-xs-2 .col-xs-3 .col-xs-4 {
                 padding-left: 0px;
            }
	        &.asset{
                background: @asset-row-color-base;
                border-bottom: 1px solid @asset-row-border-color;
                color: lighten(@asset-row-font-color, 30%);

                &:hover{
                    /*background: darken(white, 2%); */
                    cursor: pointer; color:
                    @asset-row-font-color;
                }

                /* the div containing a row */
                >div{
                    padding: 0; /*reset*/
                    padding-top: 2px;
                    padding-bottom: 2px;

                    &:first-child{padding-left: 0;}
                }

                /* the specific cell div */
                > div > div{
                    &:not(.thumbnails){
                        vertical-align: middle;
                        padding: 9px 0;
                        padding-top: 7px;
                        padding-bottom: 4px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                input, textarea, select{
                        border: 1px solid #dadddd;
                        color: @grey;
                        background: white;
                        padding: 1px 3px;
                        max-width: 80%;
                        &:disabled{
                            background: #eee;
                            &:hover{cursor: not-allowed;}
                        }

                }
                input[type='text'].filename{
                    width: 100%;
                }

                .thumbnails{
                    img { height:32px; width: 58px;}
                    @media (max-width: 1332px) {
                        img {
                            height:20px; width: 38px;
                            margin: 10px 0;

                        }
                    }
                }
            &.playing {
            /*    background: @asset-row-playing-color; */
                font-family: 'open_sanssemibold';
            }
            &.selected {
                background: @stormGreen !important;
                div{color: white !important;}
                &.selection-anchor{border: 1px solid rgb(44, 92, 64);}

            }
            /*&.playing.selected {background: darken(@asset-row-playing-color, 2%) !important;}*/
            &.delete {
	            color: red;
	        }
            }
            &.data-summary{
                border: 0;
                text-align: center;
                font-size: 16px;
                &:hover{
                    cursor: default;
                    background: none;
                    color: #808080;
                }
                .clear-search{
                    color: lighten(@stormRed, 20%);
                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .fixed-width-1{
        /* use when you want a fixed width cell */
        /* for example, thumbnaills */
        max-width: 70px;
        @media (max-width: 1332px) {
            max-width: 50px;
        }
    }
}
