            .keyboard{width: 40%; border: 0px solid red; text-align: center; display: none; }
            .inputbox{width: 90%; margin: 20px 40px; border: 1px solid gray; background: white; height: 1em; padding: 1em 0;}
            .key{border-radius: 3px; font-size: 1.5em; padding: 15px 0 ; margin: 2px; background: gray; float:left; color: white;  width: 7%; height: 50px; box-sizing: border-box; text-align: center; }
            /*.key:hover{cursor: pointer; background: black;}*/
            .key:active{background:@blueBright;}
            .key:hover{cursor: pointer;}
            .first{clear:left;}
            .spacebar{width: 100%;}
            .backspace{background: @stormRed;}
            .case{background: @blue;}
            .unselectable{
                -webkit-user-select: none; /* Chrome/Safari */        
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+ */
                /* Rules below not implemented in browsers yet */
                -o-user-select: none;
                user-select: none;
            }
@media (max-width: @screen-sm) {
    .keyboard{width: 100%;}
}

@media (max-height: 560px){
    .key{margin: 1px; padding: 0;}
}