html, body{
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    zoom: 1;
    background: @bodyBackground;
    padding: 0;
    .user-select(none);
}

header,
footer{
    position: relative;
    z-index: 2;
}
footer{display: none;}

#body-wrapper{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: 147px;
    left: 250px;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;

    &.expanded{
        left: 250px;
      &.mini{left: 60px;}
    }
    &.retracted{left: 0 !important;}

    -webkit-transition: @menuExpandLeftValue;
}

#body-wrapper.body-disconnected {
    top: 0px; // Ebrahim M: 60 -> 0
    //padding-top: 15px;
}

#tab-signin, #tab-visuals, #tab-settings , #tab-zoneinfo {padding-top: 20px;}
//#tab-visuals{ background-image: url('../img/bg_texture.png');}
#body-content,
.tabbable,
.tab-content{
    height: 100%;
    max-height: 100%;
}

.tabbable.tabs-below > .tab-content > .tab-pane{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    padding: 0 20px;
}

#templates{
    display: none;
}

.fixed-header{top: 146px; background: @greyLight;display: block; border: 0; position: fixed; width: 100%;}
