.lists-gap-hide {
  padding-bottom: 0px!important;
}
.lists-gap-show {
  padding-bottom: 45px!important;
}
#tab-lists{
    padding: 0;
    // background:@white;
    padding-top: 41px;
    // padding-bottom: 45px;
    .list-loaded {
      font-size: 19px;
      padding-right: 15px;
      padding-top: 6px;
    }
    .callout-bottom{background: @stormBlue; border-bottom-color: @greyDark;}
    .callout-bottom:after {border-top-color: @stormBlue;}
    .callout-bottom:before{border-top-color: @greyDark;}
   .panel-heading {
        background-color: @grey;
        color: @white;
        padding: 5px;
        margin-top: 3px;
        border-radius: 0;
        border: 0;
   }
.panel-heading:first-child{margin: 3px 0 0 0;}
.panel-title{font-size: 1em; cursor: pointer;}
    .tab-content {
            padding-bottom: 45px;
            overflow-y: scroll;
        .tab-pane {
          //  padding-top:30px;
            //padding-bottom:35px;
        }
    }
} /**@TODO fix**/

.lists-body {
   // overflow-y: scroll;
   padding-bottom: 15px;
}

.list-group { //individual styles (specialty, party etc)
    width: 100%;
    border-radius: 0px;
    margin-bottom: 0px;
    text-align: left;
}
.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.list-group.badge{padding: 5px; margin: 0px;}

.unchecked{
    border: 2px solid @gray;
    border-radius: 50%;
    display: inline-block;
    padding: 0 5px;
    width: 25px;
    height: 25px;
       i{width: 10px; height: 10px;}
}


.list-controls{
    left:0px;
    padding: 5px 0;
    //.btn{margin-left:10px;}
    // background:#999;
}

#list-tabs{
    position:fixed;
 //   top: inherit !important;
    width:100%;
    border-bottom: 1px solid #999999;
    top:147px;
}

// Ebrahim M: '.forceExpanded' and '.forceRetracted' : a little hack
.forceExpanded{
    left:250px;
    &.mini{left: 60px;} /*Lucas A - dealing with the mini nav bar */
}
.forceRetracted{
    left:0px;
}

.list-tabs, .search-tabs{
    background: @panelHeading;

    li a, li{ border-radius: 0; margin: 0;outline: none;}
    li a{border: 0; border-right: 1px solid @greyMid; color: @white; background: @greyDark;}
    li.active a{background: @stormBlue !important; color: @white !important; border: 0 !important; border-right: 1px solid @greyMid !important;}
    li a:hover{color: @white !important; background: @blueLight;border: 0 !important; border-right: 1px solid @greyMid !important;}
    li.active a:hover{background: @blueLight; color: @white !important; border: 0 !important; border-right: 1px solid @greyMid !important;}
button::-moz-focus-inner {
  border: 0;
}

}

.well.lists {

    padding: 5px;
    margin: 5px 0;

    .loaded, .load {
        min-height: 40px;
        margin-bottom: 5px;
    }

    span.title {
        float: left;
        padding: 0;
    }

    span.description {
        float: none;
        height: 16px;
       // width: 200px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
    }

    span {
        padding-left: 0.2em;
    }
}
.icon-stack{float:left; margin-left: 5px; padding: 1px 3px;}
.icon-stack i{font-size: 20px;}
.icon-stack i:hover{cursor: crosshair;}
.list-group-item{
    background: @greyLight;
    padding: 0;

    .title {
        font-family: 'open_sanssemibold';
        text-decoration: underline;
    }

    .description {
        //display: inline-block;
        float: none;
        width: 75%;
        height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .list-text{
        border: 0px solid green;
        display: block;
        margin-left:30px;
        margin-right: 55px;
        padding: 5px;
        width: auto;
        &:hover{
          background: @greyPale;
          cursor:pointer;
          margin-right: 0;
          margin-left: 0;
          padding-left: 35px;
        }
        &:active{
            background:black;
            color:white;
        }
    }
}


.badge {
       margin: 3px 5px 0 0 ;
    &.list-count {
        width:50px;
        padding: .5em 0;
        background: @greyDark;
        margin-left:16px;
        margin-right:5px;
    }
    color: @white !important;


}

.ambient {
    &.list-group { background: @hdmsTeal; }
    color: @hdmsTeal;
}

.custom {
    &.list-group { background: @hdmsOlive; }
    color: @hdmsOlive;
}

.general-bar {
    &.list-group { background: @hdmsGreen; }
    color: @hdmsGreen;
}

.easy-cafe {
    &.list-group { background: @hdmsPurple; }
    color: @hdmsPurple;
}

.party-club {
    &.list-group { background: @hdmsFuchsia; }
    color: @hdmsFuchsia;
}

.negative {
    &.list-group { background: @hdmsRed; }
     color: @hdmsRed;
}

.specialty {
    &.list-group { background: @hdmsMaroon; }
    color: @hdmsMaroon;
}

.user-list {
    &.list-group { background: @hdmsBlack; }
    color: @hdmsBlack;
}

.back-to-top {
    margin-bottom: 5px;
}

@media (max-width: @screen-xs) {
    ul#list-tabs{
        li{font-size: 10px;}

        }
}

#spotify-guest-username{
    width:20%;
    display:block;
    float:left;
    margin-left:10px;
    margin-right:10px;
    margin-top: 2px;
    height: 31px;
    @media (max-width: @screen-lg) {
      width: 40%;
    }
}

#undo-new-spotify-user {
    font-size:20px;
    color: white;
    margin-left:-20px;
    margin-right:10px;
    margin-top:2px;
    padding: 3px 5px 3px 6px;
    &:hover {
      color: @grey ;
      background-color:@greyMid ;
      border-radius:5px;
      cursor: pointer;
    }
}

#spotify-guest-panel{
    //margin-top: 5px;
    //margin-bottom: 5px;
   // margin-right: 2px;
    //margin-left: 2px;
    //border: 2px solid @brand-spotify;
    color:white;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    //padding-bottom: 15px;
}

#lists-guests-panel {
  .panel-heading {
    i {
      margin: -2px 9px 0 5px;
    }
  }
}

.guest-img{
    /* width:20%;
    height:50%;
    position:absolute;
    background-size:cover;
    right:40%;*/
    //opacity: 0.4;

    width:32px;
    height:32px;
    top:0;
    left:0;
    /*background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    */

}
