/**************************************************************/
/**************** NIGHTLIFE LOAD MASK *************************/
/**************************************************************/
.load-mask{
    background: @greyLight;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    -webkit-transition: top 0.3s ease-in-out 0s;
    transition: top 0.3s ease-in-out 0s;

    .loadmask-back-btn{
        margin: 40px;
        font-size: 1.8rem;
        display: inline-block;
        float:left;
        color: @greyMid;
        background-color: #ffffff;

        &:hover{
            color: darken(@greyMid, 10%);
            cursor: pointer;
        }
    }

    .loadmask-signout-btn{
        margin: 40px;
        font-size: 1.8rem;
        display: inline-block;
        float:right;
        color: @stormRed;
        background-color: #ffffff;

        &:hover{
            color: darken(@stormRed, 10%);
            cursor: pointer;
        }
    }

}

.loading-container {
    position: absolute;
    top: 119px;
    text-align: center;
    padding: 20px 0;
    // background-color: rgba(243,244,243,0.75);
    background-color: rgba(51, 51, 51, 0.75);

    h5 {
      font-size: 45px;
      color: @stormGreen;
      text-shadow: 0px 1px #31483B;
      margin-bottom: 30px;
    }

    img{vertical-align:bottom;}
}

.hideme{
    top: -100%;
}

.loadmask {

    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}
.loadmask-msg {
    z-index: 20001;
    position: absolute;
    background: transparent
    top: 0;
    left: 0;
    height: 38px;
    width: 38px;
   // border:1px solid #6593cf;
    padding:2px;
}
.loadmask-msg div {
    padding:5px 10px 5px 25px;
    background: transparent url('../img/spinner.gif') no-repeat 5px 5px;
    height: 38px;
    width: 38px;
  //  border:1px solid #a3bad9;
    color:#222;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    cursor:wait;
}
.masked {
    overflow: hidden !important;
}
.masked-relative {
    position: relative !important;
}
.masked-hidden {
    visibility: hidden !important;
}

.brand-img{
    /* width:20%;
    height:50%;
    position:absolute;
    background-size:cover;
    right:40%;*/
    //opacity: 0.4;

    width:100%;
    height:100%;
    top:0;
    left:0;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;

}
