/******************/
/* MODAL BACKDROP */
/******************/
.modal-backdrop{
  &.in {
    .opacity(.1);
    &.darker{
      .opacity(0.7);
      z-index: 1000000;
    }
  }
}

/************************/
/* ALL MODALS (Default) */
/************************/
.modal {
  overflow: auto;
  z-index: 1000001;
  @media screen and (max-width: 1024px){
    h3{
      color: @greyDark;
      margin: 5px 0;
      font-size: 20px;
    }
    .content-controls{
      h1{margin: 0;}
    }
    .form-group{margin-bottom: 2px;}
  }

    &.fade .modal-dialog {
    .translate3d(0, 0, 0);
    .transition-transform(~"0.1s ease-in");
  }
  &.in .modal-dialog {
    .translate3d(0, 0, 0);
  }

  .modal-content{
    border-radius: 0;
    border: 0;
    background: @offWhite;
    .drop-shadow(0,0,15px,0.7);
  }

  h4{
    text-align:center;
    font-family: 'open_sanssemibold';
    padding: 20px;}

  .modal-dialog {
    padding: 0px;
    width: 635px;
  }

  h5{font-family: @font-family-sans-serif-bold;}
  p.helper{color: @greyMid; font-size: 0.9em;}

  .modal-footer {
    margin: 0px;
    margin-top: 10px;
    padding: 0;
    border: 0;
  }
  .modal-header {
    padding: 0;
    min-height: 65px;
    border: 0;
  }

  .lists{
      h3{font-size:1em; font-weight: bold; color: @stormBlue;}
  }
  /* Lucas A - I don't think this is used any more */
  /*&.modal-container {
    height : 100%;
    width : 100%;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }*/

}

/*.modal.in .song.modal-dialog{
    // adjust top value so it's just below the player
    .translate(0; 144px);
}*/

/******************/
/* SONG MODALS */
/******************/
.song-modal{
  left: 250px;
  top: 3px;
  @media screen and (max-width: 1024px){
    left: 60px;
  }

  .modal-dialog{
    /* Override Auto left margin so the modal is anchored to the inner left of its container */
    margin-left: 0px;

    /* Top Value - position it underneath the player */
    .translate(0; 144px) !important;

    @media (max-height: 650px) {
      -webkit-transform: translate(0, 4px) !important;
      -ms-transform: translate(0, 4px) !important;
      transform: translate(0, 4px) !important;
    }
  }
  .song-modal-controls{
    position: absolute;
    width: 60px;
    right: -60px;
    height: auto;
    h1{
      margin:6px 0;
      @media screen and (max-width: @screen-sm) {
        margin:3px 0;
      }
    }
    .btn{border-radius: 0; border: 0; height: 64px;}
    .btn:focus{outline: none; }
  }

  .modal-body {
    .row {
      margin-top: 15px;
    }
    .clearfix();
    min-height: 269px;
    padding: 0px;

    .thumbnail{
      border: 0;
      border-radius: 0;
      background-color: transparent;
      background-image: url('../img/albumart.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width:165px;
      height:165px;
      .pull-left;
      max-width: 200px;
      .transition(none);
  }

  .details {
    .pull-left;
    min-width: 50%;
    max-width: 358px;
    &:hover{cursor:pointer;}
    &:active{
      background: rgba(0,0,0,0.7);
    }
    .released > span{text-decoration: underline;}
    white-space: nowrap;
    @media (min-width: @screen-md) {
      padding-left: 15px;
    }
  }
    .modal-title{color: @stormBlue; font-size: 18px;}
  }

  .modal-header {
    .song-info{padding: 5px; min-height: 65px;}
    .artist{text-decoration: underline;}
    .title{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .title, .artist{
      padding: 0;
      width:100%;
    }
    .modal-title, .modal-artist{
      color: @stormBlue;
      font-size: 14px;
    }
  }
  .actions {
    a {
      max-width: 20%;
      padding: 10px 24px;
      i {
        padding: 0;
      }
    }
  }
  .modal-footer {
    background-color: #333333;
  }
  #modal-head{
    &:hover{background: @greyPale;cursor: pointer;}
    &:active{background: @white;}
  }
  #song-lists{
    min-width:150px;
    border: 1px solid @greyPale;
    padding-left:5px;
    li{display:block !important;}
    &:hover{cursor:pointer; background: @white;}
    &:active{background: @greyPale;}
  }
}


.modal.fade:not(.in).left .modal-dialog {
  -webkit-transform: translate3d(-175%, 0, 0);
  transform: translate3d(-175%, 0, 0);
}

.modal.in:not(.fade).left .modal-dialog {
  -webkit-transform: translate3d(-175%, 0, 0);
  transform: translate3d(-175%, 0, 0);
}

.content-controls{
  background: @greyDark !important; // this sets the custom triangle colour for the callout
  &:focus{
      outline: 0;
  }
  text-align: center;
  a{
    border-radius: 0 !important;
    &:hover{background-color: @grey !important;}
  }
  &:before{border-bottom-color:@black !important;} // this sets the custom triangle colour for the callout
  &:after{border-bottom-color: @greyDark !important;}// this sets the custom triangle colour for the callout
  i{font-size: 24px; color: @white; padding: 0 20px;}
 }
