/*
 * Styles relating to core navigation items
 * NOTE: These styles begin from the small scale (ie. phones) and the media queries at the bottom tailor the styles for screens wider than 768px
 */
@navIconSize: 1.5em;    // Tab icon size

@headerHeight: 147px;
@navMenuWidth: 250px;
@navMenuItemHeight: 70px;
@navMenuWidthMini: 60px;
@miniNavBreakpoint: 1024px;

// Header Navigation
header{
    min-height: 33px !important;
    //background-image: url('../img/player-bg-default.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 250px;


    &.expanded{
        margin-left: 250px;
        &.mini{margin-left: 60px;}
    }

    &.retracted{margin-left: 0;}
    -webkit-transition: @menuExpandMarginLeftValue;

   @media screen and (max-width: @miniNavBreakpoint){
        margin-left: 60px;
    }


    a.menu-hamburger{
        border-radius: 0; /*reset */
        padding: 5px 10px;
        &:hover{background: @greyDark;}
    }

    .navbar {
        border: 0;
        margin-bottom: 0;
        margin-right: 0 !important;
        background-position: center;
    }
    .navbar-header:active {background-color: @black;}
    .navbar-header{

        display: block;
        background: @greyDark;
        padding: 6px 10px;
        height: 33px;
        width: 100%;
        float: none !important;
        > .badge{float: right; max-width: 25%;}
        .nightlife-logo-small{margin-top: -10px; margin-right: 10px; height: 40px;}
        .navbar-brand {
            text-align: left;
            color: @greyPale;
            font-size: 14px;
           // line-height: 1em;
            /*width: 60%;*/
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            padding: 0;
            line-height: 20px;

            &:hover{color: @white; cursor: pointer;}
        }
    }
}

// Customise Tab Navigation
.tabs-container{
   //float: right;
    position:relative;
    left:-50%;
    text-align:left;

}
.primary-tabs{

    > .tabs-container > ul{
        display: block;
     //   max-width: 800px;
        position: relative;
        background-color: @stormBlack;
        left: 50%;
        &.nav {
            border: none;
        }

        > li{
            float:left;
            text-align: center;
            position: relative;
            background: @stormBlack;
            width: 16.66%;
            border-top: 4px solid @black;
            //margin-right: 1%;
            &.active{border-top-color: @stormBlue;}
            &:hover{  border-top-color: @stormBlue;}
            a{

                border-color: transparent !important;
                border: none !important;
                .border-radius(0);
                padding: 3px 15px !important;
                margin: 0;
                outline: 0;
                position: relative;
                color: @white;
                white-space:nowrap;
                height: 58px;

                &:hover{
                    color: @greyLight;
                    z-index: 3;
                    background-color: @stormBlue;
                }

                // Fix outlines
                &:focus{              outline: 0;   }
                &::-moz-focus-inner{  border: none; }
            }

            &.disabled a{
            color: @greyLighter;
                cursor: not-allowed !important;
            }
               &.disabled a:hover{background: none;}

            &.active {


                a{
                    color: @greyDarker;
                      background-color: @greyLight !important;



                    &:before{
                        border-top-right-radius: 10px;
                        left: -11px;
                    }

                    &:after{
                        border-top-left-radius: 10px;
                        right: -11px;
                    }
                }

                &:before {
                    left: -10px;
                }

                &:after {
                    right: -7px;
                }
            }

            > a > i.icon{
                display: block;
                font-size: @navIconSize;
                height: 32px;
                padding-top: 7px;
                line-height: 1.4em;
            }
        }
    }
}



#drawer-menu{
    z-index: 999999;
    position:fixed;
    background-color:@grey;
    height: 100vh;
    width: 250px;
    padding:0;
    margin:0;
   /* background-image: url('../img/menudrawer_bg.jpg');    */

   @media screen and (max-width: @miniNavBreakpoint){
        width: @navMenuWidthMini;
    }

    &.expanded{left: 0;}
    &.retracted{left: -255px;}

    -webkit-transition: @menuExpandLeftValue;
    .nav-branding{
        width: @navMenuWidth;
       @media screen and (max-width: @miniNavBreakpoint){
            width: @navMenuWidthMini;
        }

        &:hover{
            cursor: pointer;
            .user-select(none);
        }

        height: @headerHeight;
        background : @stormGreen;
        padding-left: 8px;
        border-bottom: 1px solid @grey;
        .pin-menu{
            display: block;
            padding: 9px 10px;
            float: right;
            &:hover{background: lighten(@stormGreen, 15%);}

            .icon-pushpin{
                display:block;
                color: darken(@stormGreen, 20%);
                font-size: 15px;
                line-height: 1;
                .rotation(-59deg);
                &:hover{.rotation(-45deg);}
                &.pinned{color: @white;.rotation(0deg);}
            }
        }
        img {
          margin-right: 4px;
        }
        h5{
            color: @white; margin: 0; padding: 3em 0; font-size: 19px;
                i{margin-right: 10px;}
                span{
                       @media screen and (max-width: @miniNavBreakpoint){
                            display: none;
                        }
                }
        }

    }

    .nav{
        top:0;
        left:0;
        z-index: 70;
        padding: 0;
        margin:0;
        margin-bottom: 2rem;
        text-align: center;

        img{width: 50px;}
        li {
                display: block;
                cursor: pointer;
                background:@grey;
                width: @navMenuWidth;

                // padding-left: 20px;
                &:after{border-left-color: transparent;  }
                &:before{border-left-color: transparent;  }

                &:hover{
                        background: #666;
                       &:after{ border-left-color: #666; }
                    a { color: @white; }
                 }

                &.active{
                    &:after{border-left-color: @greyDark; } //the active triangle
                    background: @greyDark;
                    -webkit-box-shadow: inset 2px 1px 2px 0px rgba(0,0,0,0.57);
                    -moz-box-shadow: inset 2px 1px 2px 0px rgba(0,0,0,0.57);
                    box-shadow: inset 2px 1px 2px 0px rgba(0,0,0,0.57);
                    a{color: #fff;}
                }

                   @media screen and (max-width:@miniNavBreakpoint){
                        width: @navMenuWidthMini;
                    }

                a{
                    padding:0;
                    padding-left: 20px;
                    &:hover{background: transparent;}
                    &:focus{
                        background: transparent;
                    }

                    i, span, p{
                        color: @white; float:left; margin: 0;
                    }

                    span, p{margin-left: 10px;}
                    font-size: 1.5rem !important;
                    line-height: 1.5rem !important;
                    display: table-cell;
                    height: @navMenuItemHeight;
                    @media screen and (max-height: 900px){
                        height: 69px;
                    }

                    p{
                       @media screen and (max-width: @miniNavBreakpoint){
                            display: none;
                        }
                    }

                    @media screen and (max-height: 840px){
                        height: 49px;
                    }
                    width: @navMenuWidth;
                    vertical-align: middle;
                    text-decoration: none;
                }
        }
    }

    .drawer-menu-footer {
      width:100%;
      position:absolute;
      bottom:0;
      left:0;
      color:@greyPale;
      text-align: center;

        .nightlife-logo{
            img.nm-logo{
                @media screen and (max-height: 900px){
                    width: 40px;
                }
                width: 80px;
            }
            @media screen and (max-width: @miniNavBreakpoint){
                display: none;
            }

        }
    p {
      font-size: 11px;
      &.version-min {
        display: none;
        @media screen and (max-width: @miniNavBreakpoint){
            display: block;
        }
      }
      &.version-full {
        display: block;
        @media screen and (max-width: @miniNavBreakpoint){
            display: none;
        }
      }
      i {
        margin-right:3px;
      }
    }
    }
}
