/*
 * Override Inherited Styles Settings
 */
 /* important for volume bar */
@import 'lib/jquery-ui-1.10.4.custom.css';

@import 'lib/bootstrap/bootstrap.less';
@import 'lib/font-awesome/font-awesome.less';

@import 'lib/bootstrap-switch.min.css';
@import 'lib/farbtastic.less';

/*
 * Import Nightlife Components
 */
@import 'colours.less';
@import 'elements.less';
@import 'variables.less';
@import 'layout.less';
@import 'nav.less';
@import 'player.less';
@import 'zone.less';
@import 'pane-playlist.less';
@import 'lists.less';
@import 'songs.less';
@import 'modal.less';
@import 'video.less';
@import 'settings.less';
@import 'notification.less';
@import 'nightlife-font.less';
@import 'nm-icons.less';
@import 'keyboard.less';
@import 'forms.less';
@import 'loadmask.less';
@import 'search.less';
@import 'callouts.less';
@import 'advertising.less';
@import 'status.less';
@import 'scrollbars.less';

/* SPOTIFY COMPONENTS */
@import 'spotify.less';

/* FILE BROWSER COMPONENTS */
@import 'panels.less';
@import 'asset-list.less';
@import 'asset-preview-modal.less';

/* WIDGETS */
@import 'widgets.less';

/* EFFECTS FOR UX */
@import 'animation.less';

/*
 * Misc styles which don't really belong anywhere
 */
*[class^="nm-icon-"],
*[class*=" nm-icon-"],
*[class*="nm-icons-"],
*[class*=" nm-icons-"],
*[class^="icon-"],
*[class*=" icon-"]{
    &:before,
        &:hover{
        text-decoration: none !important;
    }
}

/* wait class for cursor change [   $("body").toggleClass("wait"); ]*/
body.wait, body.wait *{
 cursor: wait !important;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


/*@TODO move these btn classes somewhere better, perhaps a new file called controls or widgets or something would suffice*/
.disabled-btn {
	color: @greyDarker;
}
