#notice-wrapper{
    position: absolute;
    z-index: 1000001;
    bottom: 50px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    opacity: 0.86;
    display: none;
}

.alert{
    color: @white; 
    font-size: 1.2em; 
    padding: 5px 0; 
    text-align: center; 
    border:0; 
    border-radius: 5px; 
    background: @black;
}

//.alert-success{background: @stormGreen; color: white; border: 0;}
