/*
 * Now playing tab
 */

body.tab-playlist{

    #tab-playlist{
        padding: 0;
        background-color: @greyLight;
    }

    #playlist-wrapper{
      position: relative;
    }

    .songlist{
        position: relative;
        z-index: 2;
        overflow: hidden;
        padding-left: 1px;

        .song-info{
            background-color: @greyLight;
            padding-right: 0;

            &.history{
                background-color: @grey;
                border-bottom-color: @greyLight;
                 &.active{background-color: @greyPale !important;}
            }

            &.current{
                background-color: @black;
                color: @white;

                > i.icon-play-state{
                    .icon-pulse;
                    display: inline;
                    font-size: 19px;
                    float: right;
                    margin-right: 22px;
                }
            }

            &.active {
              //  color: @blueLight;
            }

            /* .additional-info {
                padding-right: 1em;
            } */
        }
    }
}
