/****************************************************************************/
/************************** NIGHTLIFE PANEL STYLES **************************/
/*  Nightlife Panels extend bootstrap's .panel class
/*	General structure is: .panel > panel-heading and panel-body
/*  You can also have panel-footer, just insert a <div> under panel-body
/*  with the panel-footer class.
/****************************************************************************/
/****************************************************************************/

/* a few vars */
@nm-panel-border-radius: 3px;

.nm-panel{
	/* extends bootstrap's panel */

	/* all control panel items begin as regular (no light font) */
	font-family: @font-family-sans-serif;
	border-radius: (@nm-panel-border-radius + 1);
	overflow-x: hidden;

	&.fixed-height{
		height: 100% !important;
		overflow-y: hidden;

	}
	/***********************************/
	/* PANEL HEADING and */
	/* CONTROL BUTTONS FOR A PANEL */
	/***********************************/
	.panel-heading{
		padding: 10px 15px;
		background: @panelHeading;
        border: 0;
        font-size: 2rem;
        .border-top-radius(@nm-panel-border-radius);
        border-bottom: 1px solid @greyPale;

        h3{margin: 0;}

		@media screen and (max-height: 850px){
			padding: 3px 15px;
		}

        /* to make buttons float left of each other */
        span, div{display: inline-block;}

		@searchBarWidth: 180px;
		@clearSearchBtnSize: 30px;
		/*elements in the header */
		.search-input-container{
			background: white;
			border: 1px solid @greyPale;
			width: @searchBarWidth;
				input{
					padding: 0 5px;
					font-size: 1.4rem;
					width: @searchBarWidth - @clearSearchBtnSize;
					height: 33px;
					border: 0;
				}
				.clear-search{
					color: @greyPale;
					height: @clearSearchBtnSize;
					width: @clearSearchBtnSize;
					&:hover{
						color: @greyMid;
						cursor: pointer;
					}
				}
				@media screen and (max-width: @screen-md) {
					width: 120px;
					border: none;
					input {
						width: 112px;
						font-size: 0.6em;
					}
				}

		}
		div{
			i.icon-angle-right{color: @greyMid;}
			i.icon-home{font-size: .8em; color: @greyPale;}
			/* div class btn */
			.btn, &.btn{
				color: white;
				font-size: 1.4rem;
				margin: 0 5px;

				/* icons colours */
				i{color: @greyDark;}
				span.caret{border-top-color: @greyDark;}

				/* special classes & button colours */
				&.teal{
					background-color: @hdmsTeal;
					&:hover{ background-color: darken(@hdmsTeal, 5%);}
					i{color: white;}
					span.caret{border-top-color: #FFFFFF;}
				}

				/* for buttons that we don't want to look like buttons */
				&.unfocused{
                    background-color: transparent;
                    border-color:transparent;

					/* icons */
					span.caret{border-top-color: @greyDark;}
					color: @greyDark;

					/* we've reset the border and bg of unfocused elements */
					/* need to set the hover and active states again */
					&:hover, &:active{
                        background-color: #ebebeb;
                        border-color: #adadad;
					}
				}

				/* standard button hover */
				&:hover{}
			}
			&.dropdown{
				margin-left: 5px;
				margin-top: 0;
				.btn{margin-left: 0;}
				&.open{
					.btn.unfocused{border-color: @greyMid;}
				}
			}
		}
		.ad-players-button{
			span{display: inline-block;padding-right:5px;}
				@media screen and (max-width: 1200px){
					span{display: none;}
				}
		}

		.dropdown-menu{
           	border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            margin: 0;
            padding:0;

			li{
				a{padding: 8px 12px;}
			}
		}
	}
	/***********************************/
	/* PANEL BODY */
	/***********************************/
	.panel-body{
		h3, h4{color: @stormGreen;}
        h3{margin:0; padding: 15px;}
        height: 100%;
	}

	.panel-body-content{
		/* created for file lists that also have content above them */
		/* like on the advertising page */
		height: 100%;
	}

	/***********************************/
	/* PANEL SIDEBAR (Optional) */
	/***********************************/
	.nm-panel-topbar, .nm-panel-text-topbar {
		height: 45%;
		min-height: 325px;
		border-left: none!important;
		.bottom-bar{
			bottom: 0px!important;
			text-align: center!important;
			padding-right: 0px!important;
    	margin-left: -15px!important;
		}
	}
	.nm-panel-text-topbar {
		height: 51%;
		min-height: 360px;
	}
	.text-topbar-height {
		height: 58%!important;
		min-height: 390px!important;
	}
	.nm-panel-sidebar {
		height: 100%;
		.input-label{
			clear: both;
		}
		.nm-icons-cross{
			padding: 5px;
		}
	}
	.nm-panel-sidebar, .nm-panel-topbar, .nm-panel-text-topbar {
		background: @greyLight;
		border-left: 1px solid lighten(@greyMid, 10%);
		font-size: 12px; /*base */
		/*.box-shadow(-2px 11px 19px rgba(0,0,0,0.4));*/
		div{margin: 0;}

		.nm-icons-cross{
			font-size: 1.5em;
			@media screen and (max-width: 1024px){
				font-size: 1em;
			}
			margin: 0 10px;
			text-align: right;
			color: lighten(@greyDark, 40%);
			display: block;
			width: 100%;
			padding-right: 5px;
			font-size: 1.5em;

			&:hover{
				color: @greyDark;
				cursor: pointer;
			}
		}
		.sidebar-asset-details{
			/* Titles appearing in the sidebar*/
			h3{
				margin: 0;
				// margin-bottom: 10px;
				word-wrap: break-word;
				word-break: break-all;
				// max-height: 100px;
				overflow: hidden;
				line-height:40px;
				padding: 0;
				font-size: 1.7em;
				display: block;
				// max-height: 2.8em;
				height: 40px;

				@media screen and (max-height: 850px){
					font-size: 1.5em;
				}
			}
			h5{
				font-family: 'open_sanssemibold';
				font-size: 1.1em;
				margin: 0;
				margin-left: 15px;
			}

			img.preview{
				width: 100%;
				margin-bottom: 5px;
				// max-height: 150px;
				// max-width: 279px;
				max-height: 75px;
				max-width: 75px;

				@media screen and (max-height: 909px){
					max-height: 75px;
					// max-width: 140px;
					max-width: 75px;
				}
				@media screen and (max-height: 770px){
					display: none;
				}
			}

			hr{
				margin: 4px 0;
				@media screen and (max-height: 850px){
					margin: 2px 0;
				}
			}

			.form-group{
				font-family: 'open_sansregular', sans-serif;

				.row{
					// padding-bottom: 5px;
					@media screen and (max-height: 770px){
						padding-bottom: 2px;
					}
					> div{padding-right: 5px;text-align:right;}

				}
				.input-label{
					font-size:0.9em;
					padding-top: 8px ;
				}

			}
			input, select{width: 100%; padding: 5px;}
		}
		.bottom-bar{
			bottom: 57px;
			position: absolute;
			text-align: right;
			width: 100%;
			padding: 0;
			margin-left: -15px;
			@media screen and (max-height: 850px) {
				bottom: 42px;
			}
			&.disabled{background: lighten(@stormRed, 60%);}

			img{width: 15px;} /* temporary hack for load spinner */
			.btn{margin-bottom:5px;}
			.delete-btn{
				display: inline-block;
				color: @stormRed;
				&:hover{
					text-decoration: underline;
					color: lighten(@stormRed, 20%);
					cursor: pointer;
				}
			}
			.label-view-only{
				display: inline-block;
				width: 100%;
				background: lighten(@stormRed, 20%);
				color: white;
				text-align: center;
			}
		}
	}

}
