#player{
    @playerHeight: 93px;
    @thumbnailWidth: 46px;
    @controlsWidth: 465px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgb(25, 25, 25); /* Fall-back for browsers that don't  support rgba */
    background: rgba(25, 25, 25, .5);
    color: @white;
    //z-index: 100;
    padding: 0 4px 3px 4px;
    width: 100%;
    height: @playerHeight;
    .now-playing{padding-top: 4px; }
       .thumbnails {
           height: 46px;
           width: @thumbnailWidth;
           float: left;

           img { height: 46px; width: 46px; }
        }

        .song-info {
            margin-left: @thumbnailWidth;
            margin-right: @controlsWidth;
            background: rgba(25,25,25,0.6);
            padding-top: 11px;
            padding-right: 60px;
            height: 46px;
            margin-bottom: 2px;

            .title,
            .artist{
            height: 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                border: 0px solid yellow;
                white-space: nowrap;
                font-size: 19px;
                line-height: 24px;
                color: @white;
                width: 50%;
                padding-left: 5px;
                float: left;
//                width: 50%;
            }
        }

    .controls {
        /*padding: 0 4px 0 5px;*/
        height: @thumbnailWidth;
        margin-left: 10px;
        background: @greyDark;
        .btn, .btn-default {
            color: #dadddd;
            font-size: 26px;
            padding-top: 5px; //make up for line-height
            background:transparent;
            height: 46px;
            min-width: 70px;
            border-radius: 0px;
            border: 0;
            border-right: 1px solid @grey;
            float: left;

            &:hover,
            &:focus {
              color: @white;
              text-decoration: none;
              background: @grey;
            }
        }
        #btnVolume {
            width: 160px;
        }

        .icon-stop, .icon-step-forward, .icon-step-backward {
            font-size: 18px;
        }
    }
    .progress-dot {
        text-align: center;
        font-weight: bold;
        float: left;
          @progressBarDotRadius: 14px;
            width:@progressBarDotRadius;
            height: @progressBarDotRadius;
        margin-left: -13px;
        margin-top: -6px;

    }
    .progress {
        @progressBarHeight: 3px;
        position: relative;
        height: @progressBarHeight;
        background-color: @grey;
        margin-left: 115px;
        margin-right: 115px;
        overflow: visible;
        margin-top: 20px;
        .progress-bar{
            height: @progressBarHeight;
            border-radius: 4px;
            margin-left: -13px;
            //margin-top: 5px;
            width: 0;
           background-color: @white;
            .transition(none);
        }
    }
    .timer{
        color: @white;
        font-size: 17px;
        line-height: 38px;
   //     position: absolute;
        width: 100%;

        .time-elapsed {
    //        display: inline;
            padding-left: 0.2em;
            margin-right: 20px;
            margin-left: 10px;
        }

        .time-remaining {
     //       display: inline;
            text-align: right;
            padding-right: 1em;
            margin-left: 20px;
        }
    }


    ul.dropdown-menu{
        bottom: -50%;
    }

.btn:focus{
    outline: none;
}

    @media (max-width: @screen-lg) {
       // background: red;
        @controlsWidth: 405px;
          .title{margin-top: -3px;}
        .title, .artist{
            font-size: 14px !important;
            line-height: 1.2em !important;
            width: 99% !important;
            min-width: 50px;
            clear:none;
            height: 1.2em !important;
            overflow: hidden; border: 1px solid red;
            margin-bottom: 4px;
        }

        #btnVolume{ font-size: 25px;}
        // .thumbnails {
        //     display: none;
        // }
        //.current {
            .song-info {
              //  margin-left: 0;
               padding-top: 8px;
            //   background: red;
               margin-right: @controlsWidth;
             //  .title, .artist { float: none; width: 100%; padding-left: 10px;}
            }
      //  }
        .controls {
            //padding: 0 4px 0 5px;
            .btn, .btn-default {
                padding: 6px 16px;
                min-width:20px !important;
                //font-size: 16px;
            }
        }
        }

    @media (max-width: @screen-sm) {
      @controlsWidth: 325px;
      .thumbnails {
          display: none;
      }
      .song-info {
         margin-left: 0;
         padding-top: 8px;
         margin-right: @controlsWidth;
      }
      .title, .artist{
          clear:none;
      }
      .controls {
        #btnVolume {
          width: 120px;
          font-size: @font-size-large;
          line-height: 34px;
          > span {
            margin-right: 10px;
          }
        }
        .btn, .btn-default {
            padding: 6px 12px;
        }
      }
    }

    @media (max-width: @screen-xs) {
        .title, .artist { display : none; }
        .song-info{
          background: none;
        }
        #btnVolume {
          width: auto !important;
          > span {
            display: none;
          }
          > .icon-volume-up {
            margin-right: 10px;
          }
        }
        .controls {
          width : 100%;
        }
    }
     @media (max-width:320px) {//iPhone 4s portrait
         #btnVolume{
          //  color: pink;
           font-size: 15px;
           width: auto !important;}
        .controls{
            .btn, .btn-default,#btnVolume {padding: 0 10px;}
         }
     }
}
//#btnVolume{color: green; font-size: 10px;}
//#player .song-info:active{background: rgba(255,255,255,0.7);}
