  .highlight {
    color: @stormRed;
    font-weight: 700;
  }



#tab-search {
    padding: 0;
    padding-top: 84px;
    padding-bottom: 46px;
    .navbar {
      border: 0;
      margin-bottom: 0px;
      min-height: 0px !important;
    }

  .bar {
    -webkit-transition: width 2.0s ease !important;
       -moz-transition: width 2.0s ease !important;
         -o-transition: width 2.0s ease !important;
            transition: width 2.0s ease !important;
  }

  #search-footer {
  	position:fixed;
  	bottom: 61px;
  	width: 100%;
  	background: white;
  }

  #search-header {
    background:white;
    position:fixed;
    top: 147px;
    width: 100%;
    z-index: 2;
    height: 84px;
    .search-form {
      margin-bottom : 0px;
      float: left;
      margin-right: 10px;
      input{padding: 8px;}
      input, select {
          border-radius: 0;
          border: 0;
          background: @greyLight;
          font-size: 18px;
          min-width: 200px !important; // 350px;
          width:350px;  // Ebrahim M: Added this for the low resolution screen!
          height: 42px;
          border-right: 1px solid @greyMid;
          @media screen and (max-width: @screen-sm) {
            width: 200px;
          }      
      }
      .btn-group {
        padding-top: 0px;
      }

     
    }
    .btn-group {
      padding-top: 4px;
    }
  }

  .switch-exact, .switch-loose {
    display: inline-block;
    border: 0px solid red;
    height: 25px;
    width: 65px;
    vertical-align: bottom;
    //margin-bottom: -6px;
  }

  .switch-exact{
    background: url('../img/switch_exact.png');
  }

  .switch-loose{
    background: url('../img/switch_loose.png');
  }

  .btn-adjacent-search {
    height:40px;
    display: inline-block;
    &.active{ color: @white;}
  }

  #search-form-sort {
    width: 180px;
    .hidden-sm {
      display: initial !important;
    }
  }
  #search-form-filter{
    width: 165px;
  }

	.search-tabs {
      width:100%;
      .callout-bottom{background: @stormBlue; border-bottom-color: @greyDark;}
      .callout-bottom:after {border-top-color: @stormBlue;}
      .callout-bottom:before{border-top-color: @greyDark;}
      .search-tab i {
        padding-right: 5px;
      }
  }
	.invalid {
		box-shadow: 0 0 1.5px 1px red;
	}

}

.search-field-container {height: 43px; border-bottom: 1px solid @greyMid;}
.search-field-container .tab-content{padding: 0;}
.btn-group{padding-top: 5px;}
#search-results-body {
	overflow-y : scroll;
	height: 100%;
	.search-spinner {
            display:block;
            margin-left: 50%;
	}
.song-info{background: @white;}
.song-info:hover{background: @greyLight !important;}
  .distance {
    min-width: 70px;
  }

.absolute-center{
  bottom: 0;
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;}

h4{height: 3em; color: @greyMid; font-size: 3em; }

}

/** PAGESCRLL STUFF **/
#nav-list {
    left: 30px;
    right: 20px;
    -webkit-transition: left 1s;
    transition: left 1s;
}
.page-li:active {background-color: @blue; color: white;}
//.outer { width: 60%;}

.page-bar {
 /* height: 40px;*/
  position: absolute; /* Lucas A - change from fixed to absolute as the 100% width was filling the whole screen*/
  background: @greyLight;
  border-top: 1px solid @greyMid;
  bottom:0;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}

.links {
    display: inline-block;
    width: 100%;
    height: 45px;
}
#scroll-container {
//  padding-right: 30px;
}

#nav-list {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
 /* position: relative;*/
  /*  left:-20px;*/
 /*   right:0px;*/
    white-space: nowrap;
     font-size: 14px;
    /*z-index: -1;*/
  /*border: 1px solid grey;
    border-radius: 7px;*/
    overflow-x: auto;
}
    .page-li {
        height: 100%;
        text-transform: uppercase;
        display: inline-block;
        padding: 6px 18px;
        text-align: center;
        cursor:pointer;
      }
    .page-li.active {
      background-color: @stormGreen;
      color: white;
    }
    .page-li:hover{background: @greyPale;}
    .page-button {
      height: 100%;
      width: 100%;
    }

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    .page-bar{
      // bottom: 55px;
    }/* STYLES GO HERE */
    .page-li:hover{background: @stormGreen;}
}

@media (max-width: @screen-sm) {
      #search-header{
        .search-form{
            input{ min-width: 250px !important;}
            select{ width: 250px !important; min-width: 250px !important;}

        }
      }
}

@media (max-width: @screen-md) {
  #search-header{
    .search-form-btn-text {
           display: none !important;
     }
     #search-form-filter {
         width: 65px;
     }
     #search-form-sort {
         width: 65px;
     }
  }
}

span.underline {
  font-size: 16px;
  border-bottom: 2px solid @stormBlue;
  display:inline-block;
}