/* VARS */
@inputWidthNormal: 330px;
@inputWidthMedium: 400px;
@inputWidthLarge: 500px;

@inputFontSizeNormal: 2rem;
@inputFontSizeMedium: 3rem; //slightly bigger than large, because there's less padding
@inputFontSizeLarge: 2.8rem;


body.tab-settings{
  #player{
    /*display: none;*/
  }

  option.offline{
    background-color: @stormRed;
    color: @white;
  }
  #diagnostics-body { display: none}
  #dev-setting-body { display: none}

  form {
    i {
      margin-right: 12px;
    }
  }

}

@media (min-width: @screen-sm){
  body.tab-settings{

  }
}

.reset-password {
  min-height: 180px;

  #password-reset-result {
    display: none;
  }

  #password-reset-error {
    display: none;
  }
}

/***********************************************/
/************* SIGN IN PAGE ********************/
/***********************************************/
#sign-in{
  padding-top: 50px;
  background: transparent;
  text-align: center;
  margin-top:-15px;
  color:white;
  height: 95vh;

  .app-title{
    color: white;
    img{width: 50px; height: 50px;}
  }

  a, label{font-size: 1.5rem; color: @white;}
  button, input[type="text"], input[type="password"], .typeahead{
    display: block;
    width: @inputWidthNormal;
    margin: 15px 0;
    margin-left: -@inputWidthNormal/2;
    font-size: 2rem;
  }

  button{
    i{font-size: 1.5rem;margin-left: 10px;}
  }

  h3{margin-bottom: 60px;}
  h5{font-size: 2rem; margin: 10px 0;}

  div{
    clear : both;
    margin-top:10px;
    margin-bottom:10px;
  }
  hr{
      margin-top:2px;
      margin-bottom:20px;
      -webkit-filter: brightness(0.4);
      color:rgb(115,105,105);
    }
  .centre{
    position:relative;
    left:50%;
  }
  a{
    margin-right:82px;
  }
  .typeahead{
    text-align: left;
    li{
      border-bottom: 1px solid @greyPale;
      a{color: black; margin-right: 0;}
      &.active{a{color:white;}}
    }
  }
  input[type="checkbox"] {
    margin-left: 15px;
    height: 20px;
    width: 20px;
    vertical-align: sub;
  }
  #sign-in-footer {
    a {
      margin-right: 0;
      color: @btn-primary-bg;
    }
  }
  /* SMALL SCREENS */
  @media (min-width: @screen-sm){
    .app-title{
      img{width: 80px; height: 80px; margin: 20px 0;}
    }
    a, label{font-size: 2rem;}
    a{
      margin-right:78px;
    }
    h3{font-size: 4rem;}
    h5{font-size: 2rem;}
    input[type="text"], input[type="password"], button, .typeahead{
        font-size: 3rem;
        width: @inputWidthMedium;
        margin-left: -@inputWidthMedium/2;
        height: 60px;
    }
    button{font-size: 2rem;}
    input[type="checkbox"] {
      height: 25px;
      width: 25px;
    }
  }


  /* LARGER SCREENS */
  @media (min-width: @screen-lg){
    h5{font-size: 3rem; margin: 30px 0;}
    .app-title{
      img{width: 90px; height: 90px;}
    }
    h3{font-size: 6rem;}
    input[type="text"], input[type="password"], button, .typeahead{
        font-size: 2.8rem;
        width: @inputWidthLarge;
        margin-left: -@inputWidthLarge/2;
        height: 70px;
    }
    button{font-size: 2rem;}
    a{
      margin-right:176px;
    }
  }
}

#music-zones{
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 50px;
  /*background-image: url('../img/menudrawer_bg.jpg');  */
  background: transparent;
  text-align: center;
  height: 100vh;
  color:white;
  &.panel{
    .box-shadow(none);
  }

  .music-zones-top-controls{
    .header-search-button, .header-back-button{
        padding: 5px 10px;
        border-radius: 5px;
      &:hover{
        background: @stormBlack;
      }
      span {
        font-size: 1.45rem;
        color: white;
        float: right;
        display: inline-block;
        padding-left: 14px;
        margin-top: 5px;
        @media screen and (max-width: @screen-sm){
          display: none;
        }
      }
    }

    .controls-titlebar{
        input{
          outline: none;
          border: ;
          position: absolute;
          top: -5px;
          right: 0;
          left:0;
          padding: 10px;
          border-radius: 5px;
         /* display: none;*/
          width: 100%;
        }
    }
    clear : both;
    margin-top:10px;
    margin-bottom:5px;
  }


  .connect-mode-switch, .music-zone-controls{
    margin: 0 0 20px;
    button{border-radius: 5px; }
  }
  .connect-mode-switch{
    /* because we've changed the border-radius of buttons */
    /* we now have to fix up the btn-group settings so that the corners aren't all round */
    text-align:left;
    padding-left: 8px;
    margin: 20px 0;
    button:first-child{border-top-right-radius: 0; border-bottom-right-radius: 0;}
    button:last-child{border-bottom-left-radius: 0; border-top-left-radius: 0;}
  }
  .music-zones-top-controls h3{margin-top: 0 !important;}

  .btn-group {
    width: 100%;
  }

  .customBtn1{
    .button-variant(white; @stormBlack; white);
    // width :  215px;
    width: 33%;
  }
  .customBtn2{
    .button-variant(@stormBlack; white; white);
    // width : 215px;
    width: 33%;
  }
  .noRadius{
    border-radius:0 !important;
  }

  @media(max-width: @screen-sm){
      // .customBtn1, .customBtn2{width: 140px;}
      .customBtn1, .customBtn2{min-width: 140px;}
  }
  .btn-mode {
      border: 0;
      background-color: transparent;
      background-image: url('../img/switch_web.9_new.png');
      background-size: cover;
      width : 80px;
      height : 30px;
      margin-right: 8px;
    &.active {background-image: url('../img/switch_local.9_new.png');}
  }
  label{
    margin-bottom: -5px;
    margin-top: 0px;
    text-align:left;
    vertical-align: super;
  }
  #dummySpace{
    margin-bottom: 80px;
  }
  #txtManualIP, #txtManualSystem, #numManualZone{
    margin-bottom: 20px;
    font-size: 2.8rem;
    // height: 60px;
  }
  #btnConnect{
    margin-top: 20px;
    border-radius: 5px;
  }

  .music-zone-list-container{
    margin:0;
    button{
        i{font-size: 20px;}
         margin-left :8px;
    }
    #txtIpRange{
      font-weight : bold;
    }
  }

  #music-zone-list{
    max-height: 70vh;
    color:black;
    overflow-y:auto;
    .rowlist:hover{background: @white;}
    div{
      margin-top:0px;
      margin-bottom:0px;
    }
    h4{
      margin-top:0px;
      span{
        margin-left:5px;
      }
      i{
        margin-left:15px;
      }
    }
    span{
      margin-left:10px;
    }

    .active{
      font-family: 'open_sanssemibold';
      background-color:rgb(220,220,220);
      border-color:rgb(220,220,220);
    }
    .list-group-item {
      color:black;
      padding: 10px;
      > rowlist{
        background-color:white;
      }
    }
    .badgeOnline{
      background-color: @stormGreen;
      font-weight: normal;
    }
    .badgeOffline{
      background-color: @stormRed;
      font-weight: normal;
    }
    .badgeInProgress{
      background-color: @stormYellow;
      font-weight: normal;
    }
    .badgeOnlineNotconnectable{
      background-color: @black;
      font-weight: normal;
    }
    .list-group .list-group-item:first-child {
      border-top-right-radius: 100;
      border-top-left-radius: 100;
    }
    .list-group-item:last-child {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
  .manual-connect-container, .music-zone-discover-container{
      margin: 0 65px;
      text-align: left;
      border-radius: 5px;
      button, input, label{
        display: block;
        height: 60px;
        width: 100%;
        margin: 10px 0;
        font-size: @inputFontSizeNormal;
      }
      label{height: @inputFontSizeMedium;}
      @media (max-width: @screen-sm){
        input {
          font-size: 2.8rem;
        }
      }

      /* MEDIUM SCREENS */
      @media (min-width: @screen-sm){
        input, button{
          font-size: @inputFontSizeMedium;
          height: 60px;
        }
        label{height: @inputFontSizeMedium;}
        button{font-size: 2rem;}
      }

      /* LARGE SCREENS */
      @media (min-width: @screen-lg){
        input, button{

          font-size: @inputFontSizeLarge;
          height: 70px;
          margin: 10px 0;
        }
        label{height: @inputFontSizeLarge;}
        button{font-size: 2rem;}
      }
  }
  .music-zone-discover-container {
    button {
      width: 48%;
      display: inline-block;
    }
  }
  .ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
  }
}

#tab-settings {
  .btn{
    margin-bottom:5px;
    width: 100%;
  }
}

#settings-controls{
  display:none;
  #controls-buttons-zone{
    text-align: center;
    color:white;
    padding-top: 10px;
    padding-bottom: 5px;
    // background-color : @greyDarker;
    a:hover{
      color: @grey;
      i{
        color:@grey;
      }
    }
    i{
      color:white;
    }
  }
}


#settings-third-party{
  display:none;
  #spotify-heading, #instagram-heading {
    padding-top:0px;
    padding-bottom:0px;
    .badge {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: 25px;
    }
  }
  #controls-buttons-zone{
    text-align: center;
    color:white;
    padding-top: 10px;
    padding-bottom: 5px;
    // .btn{
    //   margin-top:-25px;
    //   margin-bottom:-10px;
    //   width: 82%;
    // }

    #Instagram-login, #Instagram-logout {
      border-radius:20px;
      color: @white !important;
      text-align: center;
      width: 85%;
      height: 31px;
      font-size:12px;
      font-weight:bold;
      border:0px;
      padding: 6px;
      &:hover{
        color: @blueDark !important;
        i {
          color: @blueDark !important;
        }
      }
      i, span {
        vertical-align: middle;
      }
      i {
        float:left;
        font-size:20px;
        margin-left: 18px;
      }
      span {
        margin-right: 18px;
      }
    }

    // a:hover{
    //   color: @grey;
    //   i{
    //     color:@grey;
    //   }
    // }
    i{
      color:white;
    }
  }
  hr{
    margin-top:20px;
    margin-bottom:0px;
  }
}
#settings-onsite{
  #settings-onsite-msg{
    text-align: center;
    width : 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .badge{
    margin-right:17%;
  }
  .btn-onsite {
    width: 100%;
    float: right;
  }
  .btn-displaycode {
    @media screen and (max-width: @screen-sm){
      margin-bottom: 15px;
    }
  }
  /*#onsite-buttons-zone{
    text-align: center;
    color:white;
    padding-top: 10px;
    padding-bottom: 5px;
    // background-color : @greyDarker;
    .btn{
      margin-bottom:5px;
      width: 120%;
    }
    a:hover{
      color: @grey;
      i{
        color:@grey;
      }
    }
    i{
      color:white;
    }
  } */
}

#dlg-confirm-sys-restart, #dlg-confirm-remove-song, #dlg-confirm-bingo-restart, .reset-password{
    text-align: center;
    width : 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
    h5{
      font-size:15px;
    }

    hr{
      margin-top:5px;
      margin-bottom:10px;
      -webkit-filter: brightness(0.8);
      color:@grey;
    }
    .btn{
      margin-top: 10px;
      width: 40%;
    }
    .modal-body {
      padding: 0;
    }
}

#dlg-confirm-sys-restart{
    height: 200px;
    min-height: 200px;
}

#dlg-confirm-remove-song{
    min-height: 200px;
}

.bingo-restart-modal {
  .modal-dialog {
    .modal-content {
      width: 80%;
      margin: 0 auto;
    }
  }
}

#dlg-confirm-bingo-restart{
    height: 185px;
    min-height: 185px;
}

#txtRemoveComment {
  width : 100%;
  height:100px;
  min-height: 100px;
  color:Gray;
  white-space:normal;
  font-size:14px;
  word-wrap: break-word;
}​

#pane-zoneinfo{
  .pair-value{
    p{
      font-weight : bold;
      font-size:13px;
      color: @stormBlue;
    }
    span{
      font-weight : normal;
      font-size:14px;
      color: black;
    }
  }
}
