.song-info{
    height: 25px;
    padding: 5px 3px 4px 0;
    &:active{background: @greyPale;}
    .thumbnails {
        float: left;
        height: 36px;
        padding-right: 0.5em;
        img { height: 36px; width: 36px; }
    }

    .distance {
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 0;
        padding-left: 10px;
        font-size: 19px;
        line-height: 24px;
        overflow: hidden;
        min-width: 45px;
        max-width: 5%;
        display: inline-block;
        float:left;
        cursor: default;
    }
    .song-and-artist{
        display: block;
        position: relative;
        border: 0px solid yellow !important;
        margin-left: 70px;
        margin-right: 230px;
        width: auto;

        .title {
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 0;
            padding-left: 10px;
            font-size: 19px;
            line-height: 24px;
            overflow: hidden;
            border: 0px solid red !important;
            width: 48%;

            &.removed {
                text-decoration: line-through;
            }

        }
        .artist{
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 0;
            font-size: 19px;
            line-height: 24px;
            border: 0px solid green !important;
            overflow: hidden;
            width: 40%;

            &.removed {
                text-decoration: line-through;
            }
        }
    }

    .title { display: inline-block; font-family: 'open_sanssemibold'; color: @stormBlue; }
    .artist { display: inline-block; color: @grey; }


    .additional-info {
        float: right; // HOLD
        text-align: right;
        font-size: 19px;
        line-height: 1em;
        display:block;
        padding: 4px 5px;
        margin-top: -1px;
        margin-right: 5px;
        height: 33px;
        &:hover{background: @greyPale;}
        //height: 100%;
        > div, > i {
            display: inline-block;
            vertical-align: middle;
        }
        > i {
          width: 19px;
        }
            .length {
                width: 10px;
                background: pink;
            }
            .released {
                width: 60px;
            }

            .bpm {
                width: 35px;
            }

            .bpmWide {
                width: 60px;
            }

            i {
                &.icon-film {
                   // margin-top: -1px;
                   // font-size: 17px;
                }
            }
            .category {
                width: 120px;
                //overflow: hidden;
            }
            .categoryWide {
                width: 145px;
                //overflow: hidden;
            }

    }
    .additional-info:active {
        background: @stormGreen;
        color: @white;
    }
}
.history{
    .title, .artist, .additional-info{color: @white;}
}
.current{
    .title, .artist, .additional-info{color: @white;}
}


.playing .song-info i.icon-play-state:before {
  .icon(@play);
}

.halted .song-info i.icon-play-state:before {
  .icon(@pause);
}

.load-method-paid .icon-load-method:before {
    .icon(@usd);
}

.load-method-teaser .icon-load-method:before {
    .icon(@puzzle-piece);
}

.load-method-programmed .icon-load-method:before {
    .icon(@desktop);
}

.load-method-random .icon-load-method:before {
    .icon(@random);
}

.load-method-user .icon-load-method:before {
    .icon(@user);
}

.load-method-nightlife .icon-load-method:before {
    .icon(@list);
}

.load-method-dj .icon-load-method:before {
    font-family: 'nm-icons';
    content: "\f11c";
    text-decoration: none !important;
    display: inline-block;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.load-method-user-manager .icon-load-method:before {
    font-family: 'nm-icons';
    content: "\f121";
    text-decoration: none !important;
    display: inline-block;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.load-method-crowddj .icon-load-method:before {
    font-family: 'nm-icons';
    content: "\f120";
    text-decoration: none !important;
    display: inline-block;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.songlist{
    width: 100%;

    .song-info{
        height: 32px;
        border-bottom: 1px solid #dadddd;
        padding: 1px 0;
        margin: 0;
        &:active{background: red;}
        &:hover{background: @white !important;}
        &.active{
            background: @greyPale !important;
        }
        &.active {
            &.current { background: @stormBlack !important; }
        }
// set the current playing song's text to white so it shows through the highlight
        &.current{
            &:hover{background: @stormGreen !important;}
            .title, .artist, .additional-info, .distance {color: white !important;}
        }
        &.history{
            &:hover{background: @greyMid !important;}
            .distance{color: @white;}
            &.active{
                .title, .artist, .additional-info, .distance {color: @greyDark !important;}
            }
        }
        &.future{
            .distance{cursor:move;}

        }

        &:first-child{
            border-top: 1px solid white;
        }
    }
}
.extended-info{
    padding-top: 10px;
}

// Lucas and Ebi has added this line
#container-song-modal{
    z-index:1031;
}

.modal-content{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    .song-row {
  //     height: 67px;
    }
    .masonry-col {
      display: block;
    }
    .thumbnail { float:right };

    .actions {
      margin: 0;
     // margin-top: 20px;
      text-align: center;
    a{background: transparent; border: 0;}
      .icon-play,
      .icon-plus,
      .icon-eject,
      .icon-search,
      .icon-trash,
      .icon-ban-circle,
      .icon-info{
          margin-top: -2px;
          font-size: 26px;
          color: @white;
      }
    }

     #song-next, #song-prev {
        background: @greyDark; // this sets the custom triangle colour for the callout
        border-color: @black;
        color: @white;
        text-align: center;
        button{border-radius: 0 ;}
        &:hover{background-color: @grey ;}
    }

    #song-fav {
        background: @greyDark; // this sets the custom triangle colour for the callout
        color: @blue;
        text-align: center;
        button{border-radius: 0 ;}
        &:hover{background-color: @grey;}
        vertical-align: middle;
    }

    #PreviewPlayer{
      background-color:@gray-dark;
      color: @white;
      text-align: center;
      button{border-radius: 0 ;}
      &:hover{background-color: @grey ;}
      border-radius:5px;
      padding-left:28px;
      padding-top:5px;
      padding-right:27px;
      padding-bottom:5px;
      margin-bottom: 7px;
    }

    h1{
        &.rotates{
            -webkit-transform: rotate(-10deg);
             transform: rotate(-10deg);
            -webkit-transition: all 250ms; /* Safari */
            transition: all 250ms;
             &:hover{
                -webkit-transform: rotate(0deg);
                 transform: rotate(0deg);
             }
         }
        svg{
            width: 36px;
            height: 35px;
        }
        &.empty svg path{
            fill: transparent;
            stroke: @white;
        }

        &.filled svg path{
            fill: @white;
            stroke: @white;
            -webkit-transform: rotate(0deg);
             transform: rotate(0deg);
        }
    }

}



.song-selected {
    // margin-bottom: -3px;
    height: 40px;
    background: @greyPale;
    cursor: default;
    .title { display: inline-block; font-family: 'open_sanssemibold'; color: @stormBlue; cursor: default; }
    .artist { display: inline-block; color: @grey; cursor: default;}
    .additional-info {color: @black;}
}
///////////////////////////////////////////////////
// Below is for wider devices, setting fonts and icons a bit larger
///////////////////////////////////////////////////

@media (min-width: @screen-sm) {
    .songlist {
        .song-info {
            height: 33px;
            padding: 5px 23px 28px 8px;
        }
    }
    .modal-dialog {
  //          width:55% ;
 //           min-width: 794px;
    }
    .song-info{
        padding: 8px 3px 11px 0;
        .thumbnails {
            height: 48px;
            padding-right: 1em;
            img { height: 48px; width: 48px; }
        }
        .title,
        .artist{
            border-color: pink;
            font-size: 19px;
            line-height: 24px;
        }
        .additional-info{
            font-size: 19px;
            padding: 5px 5px;
            margin-top: -5px;
            // height: 33px;
            .released {
                width: 60px;
            }
            .bpm {
                width: 35px;
            }

            i {
                &.icon-film {
                  //  margin-top: -1px;
                 //   font-size: 17px;
                }
            }
        }
    }
}

@media (max-width: @screen-sm) { //ugly hacks ahoy!

        .song-and-artist{margin-right:150px !important; margin-left: 0 !important;}
        .distance{display: none !important;}
        .song-info{
            .category {width: 90px !important;}
            .title,.artist, .additional-info{
                    font-size: 15px !important;
                    line-height: 18px;
                    height: 32px;
                    .bpm, .released, .category {border: 0px solid red !important; }
.now-playing-gif{display:none;}
.bpm{display:none;}
                }
         }
        .actions {
          // margin-left: -90px !important;
       }
  .modal-dialog.song {
        width: 400px !important;
    }
}

#container-song-fav-modal {
    .modal-dialog {
        width: 370px !important;
    }
    .modal-content {
        left: 660px !important;
        top: 215px !important;
    }
}

#song-fav-modal{
    height: 200px;
    min-height: 200px;
    width : 90%;
    margin-left: 5%;
    margin-right: 5%;
    h4{
        color:@blue;
    }
    hr{
      margin-top:-10px;
      margin-bottom:20px;
      -webkit-filter: brightness(0.8);
      color:@grey;
    }
    .btn{
      margin-top: 10px;
      #btnCancel{
        text-align: right;
      }
    }
}

#ul_import_export{
    li{
        height : 30px;
    }
    .active{
        height : 30px;
    }
    a{
        height : 30px;
        padding-top:2px;
        &:hover{background: grey !important;}
    }
}

#create-playlist-history{
    // display:block;
    // float:left;
    // z-index:100;
    // position:fixed;
    // width: 35%;
    // top: 85%;
    // left:80%;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 100;
    display: block;
    float: left;
    width: 350px;
}
