/* Created by samb, stylesheet for spotify classes. They were beginning to get too heavily nested in the page structure */

/* SPOTIFY BRAND COLOURS */
@brand-spotify:   #1ed760;
@bg-spotify:      #282828;
// #648f00 (old spotify green)
.spotify-bg {background-color: @brand-spotify!important;}
.spotify-fg  {color: @brand-spotify !important;}
.spotify-guest-fg{color:  #D7B21E!important;}

.spotify-list-main{ color: black ; }
.spotify-list-guest{ color: blue ; }
.spotify-list-guest2{ color: @hdmsGreen; }

#spotify-import-playlist,
#spotify-link,
#spotify-login,
#spotify-logout,
#snap-shot-spotify,
#jump-spotify-lists,
#spotify-add-user-playlist,
#spotify-add-playlist,
.spotify-standard-btn {
  height: 31px;
  width: 85%;
  position: relative;
  border: 0px;
  border-radius:20px;
  background-color: @brand-spotify!important;
  color: @white !important;
  text-align: center;
  padding-top: 2px;
  font-weight:bold;
  font-size:12px;
  i, span {
    vertical-align: middle;
  }
  i {
    float:left;
    font-size:20px;
    margin-left: 18px;
  }
  span {
    line-height:27px;
    margin-right: 18px;
  }
  .spotify-spinner {
    position: absolute;
    top: 5px;
    left: 3px;
  }
  &:hover {
    color: @blueDark !important;
    i {
      color: @blueDark !important;
    }
  }
  &.mini {
    height: 34px;
    width: 34px;
    padding: 3px 7px;
    span {
      display:none;
    }
    i {
      margin-left: 0;
    }
    .spotify-spinner {
      top: 7px;
      left: 7px;
    }
  }
}

/**************************/
/* SPOTIFY IN SONG MODALS */
/**************************/
#song-spotify-detail {
  background-color: @gray-dark;
  margin-top:-20px;
  iframe {
    margin-top: -20px;
    margin-bottom: -5px;
    border-bottom: 1px solid #4c4c4c;
  }
  select{
    width : 100%;
    height: 31px;
  }
  label{
    margin-top : 5px;
    color:@white;
    text-align:left;
  }
  hr {
    border-top: 1px solid #4C4C4C;
  }
  &.future {
    height: auto;
  }
  &.current, &.history {
    min-height: 147px;
    border-bottom: 1px solid #4c4c4c;
  }

  .spotify-loading {
    color: @brand-spotify;
    margin-bottom: -10px;
    padding-bottom: 1px;
  }

  #btnAddTracksToSpotify {
    font-size:26px;
    color: @white;
    &:hover{color: @grey ;}
  }

  #undo-create-playlist {
    font-size:20px;
    color: white;
    margin-left:-10px;    
    margin-top:2px;
    &:hover {
      color: @grey ;
      background-color:@greyMid ;
      border-radius:5px;
    }
  }
}
/****************************************/
/* SONG MODAL SPOTIFY BUTTONS OVERRIDES */
/****************************************/
#spotify-add-playlist {
  width : 100%;
  margin-top: 15px;
  font-size: 14px;
  @media (min-width: @screen-sm) {
    margin-top: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    span {
      padding-left: 5px;
    }
  }
}

/************************/
/* SPOTIFY NAVBAR MODAL */
/************************/
#dlg-spotify {
  padding:1px;
  .modal-heading {
    padding:0px !important;
    h4 {
      padding:0px !important;
      text-align:center !important;
    }
    .nm-icons-cross {
      font-size: 1.5em;
      padding: 0 5px;
      color: lighten(@greyDark, 40%);
      margin-top:-5px;
      &:hover {
        color: @greyDark;
        cursor: pointer;
      }
    }
  }
  .modal-body {
    padding:0px !important;
  }

  #dlg-spotify-detail {
    background-color: @gray-dark;
    height: 145px; // 305px; //290px;
    select{
      width : 100%;
      height: 2.7em;
    }
    hr{
      -webkit-filter: brightness(0.4);
      color:@grey;
      margin-top: 10px;
    }
    @media (min-width: @screen-sm) {
      height: 145px; //270px;
    }

    #spotify-link-buttons {
      margin-bottom:25px;
      button {
        font-size: 12px;
        width: 45%;
        height: 33px;
      }
      i {
        float:left;
        font-size:20px;
        margin-top: -4px;
      }
    }

    #add-guest-playlist {
      color: @white;
      i {
        margin-right: 10px;
      }
      h4 {
        padding: 5px;
        margin: 0 auto 20px;
        span {
          font-size: 14px;
        }
      }
     input {
        height: 31px;
      }
    }

  }
}
/***************************************/
/* NAV MODAL SPOTIFY BUTTONS OVERRIDES */
/***************************************/
#snap-shot-spotify {
  // width: 50%;
  margin: 25px;
  float: right;
  /*span {
    margin-right: 28px;
  }*/
}

#spotify-add-user-playlist {
  // width: 55%;
  // margin-top: 5px;
  // span {
  //   margin-right: 28px;
  // }
  width:15%;
  display:block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top:10px;
  @media (max-width: @screen-lg) {
    width: 30%;
    // margin-top: 0;
  }
}

/******************************/
/* SPOTIFY LIST & SEARCH TABS */
/******************************/
li.spotify-list {
  a {
    color: @brand-spotify;
    &:hover {
      color: @white;
      background: @brand-spotify!important;
    }
  }
}

li.spotify-list.active {
  a, callout-bottom {
    background: @brand-spotify!important;
    &:after {
      border-top-color: @brand-spotify!important;
      margin-left: -6px;
      border-width: 6px;
    }
  }
}

#close-spotify-guest{
  color:black;
  font-size:18px;
  &:hover{
    color:@stormRed;
  }
}

#signed-spotify-user{
  color:black;
  font-size:18px;
  &:hover{
    color:@brand-spotify;
  }
}

.spotify-guest-title{
  background-color:grey;
  height:25px;
  vertical-align:middle;
  padding-top:2px;
  padding-left: 13px;
  color:white;
}
