 #zone-status { //TODO - move this to status.less
    display:block;
    width: 100%;
    min-height: 20px;
    opacity: 0.93;
    font-family: 'open_sanssemibold';
    color: @white;
    text-align: center;
}
#zone-status.badge-success:hover {
    background: #5ab37f;
}
