@font-family-sans-serif:  "open_sanslight", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
@font-family-sans-serif-regular:  "open_sansregular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
@font-family-sans-serif-bold:  "open_sanssemibold", "Helvetica Neue", Helvetica, Arial, sans-serif !important;

/* font styles to add */
.bold{font-family: 'open_sanssemibold';}

.flip {
  -moz-transform: scaleX(-1);    /* Gecko */
  -o-transform: scaleX(-1);      /* Operah */
  -webkit-transform: scaleX(-1); /* webkit */
  transform: scaleX(-1);         /* standard */
  filter: FlipH;                 /* IE 6/7/8 */
}


.control-state-playing {
  color: @stormGreen !important;
}

.control-state-paused {
  color: @stormRed !important;
}

.control-state-pausing {
  color: @yellow !important;
}


/*
 * Bootstrap Components edited for Nightlife App
 */
*:focus {
    outline: 0;
}


/*::-moz-selection { background: @stormGreen; color: #fff; text-shadow: none; }
::selection { background: @stormGreen; color: #fff; text-shadow: none; }
::-webkit-selection{ background: @stormGreen; color: #fff; text-shadow: none; } */
.panel{
    border-color: @white;
    border-radius: 0;
    border-width: 0px;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 1px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}


/* for things like filelist */
/* that need to go to the edge */
&.no-horiz-padding{
  padding-left:0;
  padding-right: 0;
}
&.no-vert-padding{
  padding-top:0;
  padding-bottom: 0;
}

.badge-success, .btn-success{
    background: @stormGreen; border-color: @stormGreen;
    &:hover{
      background: darken(@stormGreen, 5%);
    }
  }
.badge-warning{ background: @yellow; color: @black;}
.badge-error,.btn-danger{background: @stormRed; border-color: @stormRed;}
.success{color: @stormGreen;}
.error{color: @stormRed;}

.header-status-icon{margin-right: 5px; font-size: 14px; color: @greyPale;}
.user-access-icon{
    margin-top: 4px;
    display: block;
    font-size: 10px;
    padding: 0; height: 12px; width: 12px; border-radius: 6px; text-align: center;
    background: @greyPale; color: @black;
    .success { background: @stormGreen}
    &.error {background: @stormRed}
  }

@-webkit-keyframes blink {
  0%     { opacity: 0 } 50% { opacity: 0 }
  50.01% { opacity: 1 } 100% { opacity: 1 }
}

.blink {
  -webkit-animation: blink 0.5s infinite linear alternate;
  -webkit-font-smoothing: antialiased;
}

@menuExpandLeftValue: left 200ms ease-out;
@menuExpandMarginLeftValue: margin-left 200ms ease-out;

.loading-small-white{display: inline-block; background-image: url('../img/nm-loading-animation-white.gif'); width: 14px; height: 14px; background-repeat: no-repeat; background-size: 100%;}

.textured-background{background-image: url('../img/bg_texture.png');}
.manager-background{background-image: url('../img/manager_bg.jpg');}

.btn-remove i{color: @red;}
.btn-apply {
            color: #dadddd;
            background:@stormBlue;

            &:hover,
            &:focus {
              color: @white;
              text-decoration: none;
              background: @grey;
            }
        }

.callout-bottom.current {background: @black;}
.callout-bottom.current:after{border-top-color: @black;}
.callout-bottom.history {background: @grey;}
.callout-bottom.history:after{border-top-color: @grey;}
.callout-bottom.active {background: @greyPale;}
.callout-bottom.active:after{border-top-color: @greyPale;}
.callout-bottom.warning{background: @stormRed; border-bottom-color: @greyDark;}
.callout-bottom.warning:after {border-top-color: @stormRed;}
.callout-bottom.warning:before{border-top-color: @greyDark;}
.callout-bottom:hover:after{border-top-color: @greyPale;}
.callout-bottom:active:after{border-top-color: @white;}
.artist, .title, .additional-info{
    &:hover{cursor: pointer;}
}
.switch{display:block;}

.btn{border-radius: 1px;}

.nm-icons-star-filled.green:before {
  color:green;
}
.nm-icons-star-filled.red:before {
  color:red;
}

.clickable {
  cursor: pointer !important;
}

/* Material Design shadows */
// Z-levels
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.z-depth-2{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-3{
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-4{
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5{
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.hoverable-1 {
  &:hover{
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.hoverable-2 {
  &:hover{
    transition: box-shadow .25s;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

.hoverable-3 {
  &:hover{
    transition: box-shadow .25s;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  }
}
