/****************************************************************************/
/****************** NIGHTLIFE VIDEO OUTPUT PANEL STYLES *********************/
/*  Nightlife Panels extend bootstrap's .panel class
/*  General structure is: .panel > panel-heading and panel-body
/*  You can also have panel-footer, just insert a <div> under panel-body
/*  with the panel-footer class.
/****************************************************************************/
/*  For video output, these are for both the 'visuals' panel */
/*  And the Video Switcher on the Advertising page */
/****************************************************************************/
/* some vars */
@panel-video-background: @panelHeading;

/* CONTAINER */
.video-output {
    /* A SINGLE PANEL / Video Output */
    margin-bottom: 20px;
    .video-panel {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
    .panel {
        background: @panel-video-background;
        margin-bottom: 5px;
        // box-shadow: none;
        // -webkit-box-shadow: none;
        // -moz-box-shadow: none;

        .icon-3x {
            .icon-2x;
        }

        label.radio{font-weight: normal;}

        /* Visuals Page has headers */
        .panel-heading.callout-bottom{
            background: @greyLight;
            &:after{border-top-color: @greyLight;}
        }

        .panel-heading {
            padding: 5px;
            h4{color: @stormBlue; font-family: 'open_sanssemibold';}
            h4, h5 {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        /* Components inside the panel */
        .video-asset-details {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }

        .btn-mode {
            border: 0;
            background-color: transparent;
            background-image: url('../img/switch_auto.png');
            background-size: cover;
            width : 80px;
            &.active {background-image: url('../img/switch_manual.png');}
        }

        .panel-body {
            padding: 5px;
            padding-left: 10px;
            &.row{margin: 0;}

        }

        .content-controls {
            button.btn {
                border-radius: 0px;
                border: 0;
                max-width: 25%;
                padding: 6px 24px;
                background: @greyDark;
                &:hover{background: @greyPale; cursor: pointer;}
                &:active{background: @white;}
              i {
                padding: 0;
              }
            }
        }
    }
    //below are the custom stylings for using the video switcher in the advertising panel
    &.advertising-control{
        .panel{
           .panel-heading{
                h4 span{font-size: 1.3rem;}
            }
            .panel-body{height: auto;}
            .content-controls{
                .btn{padding: 2px 10px;}
            }
        }
    }
}

@media (min-width: @screen-sm) {
    .video-output {

        /* on the visuals page, we use a fixed height*/
        /* so when we have variable output types, */
        /* the panels are the same height */
        &.fixed-height{
            height: 390px;
            .panel{
                .panel-body{
                    padding: 15px;
                    height: 250px;
                    .video-modes {
                        height: 185px;
                    }
                }
            }
        }
        .panel {
            margin-bottom: 20px;
            .icon-3x {
                .icon-3x;
            }
            .panel-heading {
                padding: 10px 15px;
            }
        }
    }
}

#dlg-bingo, #dlg-rng{

  .modal-heading{
    padding:0px !important;
    h4{
        padding:0px !important;
        text-align:left !important;
        margin-left:10px;
        font-size:18px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: @stormBlue;
        min-height: 20px;
    }
    .nm-icons-cross{
        font-size: 1.5em;
        padding: 0 5px;
        color: lighten(@greyDark, 40%);
        margin-top:-5px;
        &:hover{
            color: @greyDark;
            cursor: pointer;
        }
    }
  }
  .modal-body{
    padding:0px !important;

    .bingo-controls , .rng-controls {
        text-align:center;

        button.btn {
            font-size: 24px;
            border-radius: 0px;
            border: 0;
            background: white;
            &:hover{background: @grey; cursor: pointer; color:white;}
            &:active{background: @white;}
        }
        span{
            font-size: 18px;
            font-weight:bold;
            font-style:normal;
        }
        i, span {
            vertical-align: middle;
        }
    }
  }
  padding:1px;

  #dlg-bingo-detail , #dlg-rng-detail{
    background-color: @gray-dark;
    height: 475px;
    p{
        color: white;
        margin-top:5px;
        font-size:14px;
        //font-weight: bold;
    }
    input{
        margin-left: 5px;
        border-radius: 5px;
    }
    select{
      width : 100%;
      height: 13em;
      font-size:18px;
      border-radius: 5px;
    }
    button{
      width : 100%;
    }
    hr{
      -webkit-filter: brightness(0.4);
      color:@grey;
      margin-top: 30px;
    }

    #txtTitle{
        width: 83%
    }
    #txtRangeFrom, #txtRangeTo, #txtDisplaytime{
        width: 50px;
    }
    .startRng {
      float:left;
      width:157px;
      text-align: left;
    }
    .endRng {
      float:left;
      width:200px;
      text-align:left;
    }
    .displayTime {
      float:right;
      width:178px;
    }
    .drawnNum, .excludeNum, .excludeRng {
      float:left;
      width:26%;
      margin-right:6px;
      select {
        margin-top: 5px;
      }
    }
    .excludeRng {
      float: right;
      width: 45%;
    }
    .dlg-bingo-content,.dlg-rng-content {
      margin-left: 15px;
      margin-top: 5px;
    }

    .bingoNumOff, .bingoNumOn {
        margin-left:10px;
        border-radius: 50%;
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */
        width: 46px;
        height: 46px;
        padding: 9px;
        text-align: center;
        font: 26px Arial, sans-serif;
        margin-top:5px;
        // border: 2px solid black;
    }
    .bingoNumOff {
        background: @grey;
        color: black;
    }
    .bingoNumOn {
        background: #0064D0 !important;
        color: white !important;
    }
    .bingoBigNumOn {
        border-radius: 50%;
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */
        width: 150px;
        height: 150px;
        padding: 15px;
        text-align: center;
        font: 100px Arial, sans-serif;
        background: #0064D0 !important;
        color: white !important;
        border: 4px solid white;
        position:absolute;
        top:30%;
        left:40%;
        clear:both;
    }
    .rngBigNumOn {
        border-radius: 15%;
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */
        width: 200px;
        height: 150px;
        padding: 15px;
        text-align: center;
        font: 100px Arial, sans-serif;
        background: black !important;
        color: white !important;
        border: 4px solid yellow;
        position:absolute;
        top:32%;
        left:34%;
        clear:both;
    }
    .rngNumOn {
        margin-left:1px;
        //border-radius: 10%;
        behavior: url(PIE.htc);
        width: 60px;
        height: 60px;
        padding: 9px;
        text-align: center;
        font: 26px Arial, sans-serif;
        font-weight:bold;
        margin-top:1px;
        background: yellow;
        color: black;
        top:32%;
        left:-7px;
        border: 1px solid black;
    }
    .rngNumOff {
        margin-left:1px;
        behavior: url(PIE.htc);
        width: 60px;
        height: 60px;
        padding: 9px;
        text-align: center;
        font: 26px Arial, sans-serif;
        font-weight:bold;
        margin-top:1px;
        background: grey;
        opacity:0.4;
        top:32%;
        left:-7px;
        border: 1px solid black;
    }
  }
  #dlg-rng-detail{
    height: 490px;
    padding-top: 15px;
  }
}
