/****************************************************************************/
/************************** NIGHTLIFE WIDGET STYLES **************************/
/*  Nightlife Panels extend bootstrap classes */
/*  And Also jquery-ui */
/****************************************************************************/
/****************************************************************************/
.ui-datepicker{
	font-family: @font-family-sans-serif-regular;
	.ui-datepicker-year {
		display: none;
	}
	.ui-widget-header{
		font-family: @font-family-sans-serif-bold;
		border :0;
		.border-radius(0);
		background: @greyDark;

		.ui-datepicker-next, .ui-datepicker-prev{
			.border-radius(0);
		}
		.ui-datepicker-next-hover, .ui-datepicker-prev-hover, .ui-state-hover{
			background: lighten(@greyDark, 4%);
			border:0;
			color: white;
		}
	}
	table.ui-datepicker-calendar{
		thead{
			tr{
				th{
					font-weight: 100;
				}
			}
		}
		tbody{
			td{
				a{
					font-weight: 100 !important;
					border-color: @greyPale;
					color: @grey;
					&:hover{
						background: darken(white, 10%);
					}
					&.ui-state-active{
						background: @stormGreen!important;
						color: white !important;
						border-color: @stormGreen!important;
					}
					&.ui-state-highlight{/* today */
						background: white;
						border-color: @greyPale;
						color: @stormGreen;
						font-weight: bold!important

					}

				}
			}
		}
	}
}
