/*
 * Zone Control
 */
#volume-level, #modes{
    padding: 20px; 
    margin-right: 10px;
    min-height: 320px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    h1{font-size: 1.6em; color: @stormBlue; font-family: 'open_sanssemibold'; margin-top: 0;}
}
#volume-level{
    //#gradient > .vertical(@navbarInverseBackgroundHighlight, @navbarInverseBackground);
    float: left;
    background: white;
    text-align: center;
    .volume-number{ //the bluepillbox
        font-size: 12px; 
        font-family: 'open_sanssemibold'; 
        background: @stormBlue; 
        border-radius: 8px; 
        padding: 2px; 
        color: @white; 
    }
}
#slider-volume {
  margin-left: auto;
  margin-right: auto;
margin-top: 10px;
  background: @greyPale;

a.ui-slider-handle:hover{background: @grey !important;}
a.ui-slider-handle:focus{outline: none;background: @grey;}
  .ui-slider-handle { // need to use !important as JQUI styles inline
    left: 50% !important;
    width: 40px;
    margin-left: -20px;
    background: @black;
    border: 0;
  }
  .ui-slider-vertical .ui-slider-range-min {
    width: 100% !important;
  }
}
.ui-slider-vertical{width: 35px !important; border-radius: 5px;} //this is the grey area overall width
.ui-slider-range{width: 100% !important;}
/*.ui-state-active{color: red;}*/
.ui-slider-range{
  background: #FC1D1D ; /* Old browsers */
  background: -moz-linear-gradient(top,  #FC1D1D  0%, #FFF975  100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FC1D1D ), color-stop(100%,#FFF975 )); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #FC1D1D  0%,#FFF975  100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #FC1D1D  0%,#FFF975  100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #FC1D1D  0%,#FFF975  100%); /* IE10+ */
  background: linear-gradient(to bottom,  #FC1D1D  0%,#FFF975  100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FC1D1D ', endColorstr='#FFF975 ',GradientType=0 ); /* IE6-9 */

}
#container-zone-controls {
  .volume.modal-dialog{
    left: auto;
    right: 10px;
    position: fixed;
    width: auto;
  }

  i.icon-plus-sign {
    font-size:24px;    
    margin-left:20px;
    cursor: pointer;
  }
  i.icon-plus-sign:hover{
    color: @grey; 
  }
  #add-credit-label {
    margin-left: 20px;
  }

  #btn-juke-credit {
    cursor: hand;
  }

  .credit-input {
    margin-left: -15px !important;
  }
}
#modes { 
    background: @white;
    width: 315px;
    float: left;
    .form-group{margin: 0;}
    .btn-mode { 
        border: 0;
        background-color: transparent;
        background-image: url('../img/switch_off.png');
        background-size: cover;
        width : 60px; 
      &.active {background-image: url('../img/switch_on.png');}
    }
}

@media (max-width: @screen-sm) and (min-height: 340px){
  .modal.in .volume.modal-dialog{
    .translate(0; 102px);
  }
}

@media (min-width: @screen-sm) and (min-height: 400px){
  .modal.in .volume.modal-dialog{
    .translate(0; 144px);
  }
}