<script type="text/html" id="guest">
    <div class="list-group-item" data-bind="">

        <div class="list-count badge pull-right" >
            <div data-bind="text: $data.tracksNumber " />
        </div>
        <div class="list-count badge pull-right" >
            <div data-bind="text: controls.lists.getMatchedSongsNo($data.id)" />
        </div>
        <div class="list-count badge pull-right" data-bind="" >
            <div  data-bind="text: controls.lists.getMatchedSongsNoOnSystem($data.id),
                       tooltip: $($element).tooltip(),
                       afterRender: $($element).on('click mousemove',function() {
                                        var tooltip = controls.lists.getBadgeTooltip($data.id);
                                        $($element).attr('data-original-title',tooltip);
                                    })"
                data-placement="left" data-original-title=""/>
        </div>

        <!-- <i class="list-loaded pull-right success icon-ok-sign" data-bind="visible: isLoaded"></i>
        <div class="icon-stack " data-bind="click: selectList, if: canSchedule">
        	<i class="nm-icons-unchecked" data-bind=" visible: !selected()"></i>
        	<i class="nm-icons-checked-plus" data-bind="visible: selected()"></i>
        </div>
        -->
        <span class="list-text" data-bind="afterRender: $($element).on('click',
                                        function() {
                                            controls.lists.importSpPlaylist($data.id, $data.name ,$data.owner);
                                        })">
            <span class="title"style="color:blue;"data-bind="text: ($data.collaborative ? '° ':'')"/>
        	<span class="title" data-bind="text: $data.name"/>
            <img src="assets/img/spinner.gif" data-bind="visible:
                                            (controls.song.spinBtnImportShow() &&
                                            (NL.spotify.selectedImpPlaylist().playlistId ===  $data.id)) "
                                            height="27" width="27"/>
            <span class="title" style="color:green;"
                data-bind="text:( (controls.song.spinBtnImportShow() &&
                            (NL.spotify.selectedImpPlaylist().playlistId ===  $data.id) )?
                            ' Please wait : Matching Spotify Playlist to Nightlife Songs...' : '')"/>
        </span>
    </div>

</script>
