<script type="text/html" id="guests">
    <div class="lists-body">

        <!-- ko if: NL.spotify.isSingedIn() -->
        <div data-bind="visible: $data.guestItems.length > 0, foreach: $data.guestItems" >
            <div class="panel-heading collapse-trigger " data-toggle="collapse"
                    data-target="#spotify-guests-lists"  data-bind="
                      click: function(){controls.lists.toggleSpListsCollapse( $index() )},
                      attr : {'data-target' : '#' + '_spotify-guests-lists_' + $index()},
                      css: ($data.guestUser === NL.spotify.userName() ? 
                                                  'spotify-fg' : 'spotify-guest-fg' ) ">
                <h1 class="panel-title">
                    <i id="close-spotify-guest" class="nm-icons-manager pull-left"
                    <i id="close-spotify-guest" class="nm-icons-manager pull-left"
                        data-bind=" visible: $data.guestUser === NL.spotify.userName(),
                                    tooltip: $($element).tooltip()"
                        data-placement="right" data-original-title="Spotify signed in User"></i>
                    <i id="close-spotify-guest" class="nm-icons-cross pull-left"
                        data-bind="click:function(guestItem){
                                        controls.lists.removeSpotifyGuestList(guestItem);
                                    },
                                    visible: $data.guestUser !== NL.spotify.userName(),
                                    tooltip: $($element).tooltip()"
                        data-placement="right" data-original-title="Remove User"></i>
                    <span data-bind = "text: 
                      ( ($data.guestUser === NL.spotify.userName()) ? 
                            'You: ' : 'Following: ' ) +  $data.guestUser +  
                      ( ($data.guestDisplayName !== null) ? 
                                  ' (' + $data.guestDisplayName + ')' : '')"> </span>
                    <i class="icon-chevron-down" id="sp-icon-chevron" data-bind= 
                      "attr : {'id' : 'sp-icon-chevron_' + $index()}"></i>
                </h1>
            </div>
            <div class="collapse" id="spotify-guests-lists"                 
                data-bind="visible: $data.guestUserOwners.length > 0,
                    foreach: $data.guestUserOwners,
                    attr : {'id' :  '_spotify-guests-lists_' + $index()}
                    ">

                <div class="badge pull-right" style="background-color:#1ed760;">
                    <div data-bind="text: 'Spotify'" />
                </div>
                <div class="badge pull-right" style="background-color:green;">
                    <div data-bind="text: 'Matched'" />
                </div>
                <div class="badge pull-right" style="background-color:blue;">
                    <div data-bind="text: 'Available'" />
                </div>

                <div class="list-group spotify-guest-title" 
                    data-bind="text: 'Owner: ' + $data + controls.lists.getDisplayName($data) ">
                </div>
                <div class="list-group" id="spotify-list-group"
                    data-bind="foreach:
                        NL.musicList.filterSpGuestGroup($parent.guestPlaylists, $data)">
                    <!-- ko template: { name: 'guest', data: $data  } -->
                    <!-- /ko -->
                </div>
            </div>

            <div class="form-group" id="spotify-guest-panel" data-bind="visible:($index()===0)">
              <h5 style = "float:left;">
                <i class="icon-exclamation-sign" style= "color:white;margin:0 5px 0 10px;"></i>
                <span>Did you know you can add other Spotify users lists? Try it here. </span>
              </h5>
              <div class="col-xs-12 col-sm-8" id="spotify-guest-username">
                <select style="height:32px;width:100%;" 
                        onchange = "controls.spotify.execSpListChange(this.value) "
                        data-bind="
                                visible:( (controls.spotify.spAllGuestUsers().length > 0) &&
                                      (controls.spotify.spSelectedGuestUser() !== undefined) ),
                                options:  controls.spotify.spAllGuestUsers,
                                optionsText      : 'name',
                                optionsValue     : 'id',
                                value            : controls.spotify.spSelectedGuestUser,
                                optionsCaption   : 'Add a new Spotify user ...',
                                disable:controls.spotify.spinAddGuestUser(),
                                event:{keypress:controls.spotify.excKeyPressed}">
                </select>
                <input type="text" class="form-control" 
                    placeholder ="Type a valid Spotify user name"
                    data-bind ="visible: (controls.spotify.spSelectedGuestUser() === undefined) ,
                                value:controls.spotify.newSpGuestUsername,
                                valueUpdate: 'afterkeydown',
                                hasFocus: true,
                                disable:controls.spotify.spinAddGuestUser(),
                                event:{keypress:controls.spotify.excKeyPressed}" />
              </div>
              <div class="col-sm-0" style="margin-left:10px;"
                    data-bind ="visible : (controls.spotify.spSelectedGuestUser() === undefined),
                                click: controls.spotify.undoAddSpUser" >
                  <i class="nm-icons-cross pull-left" id="undo-new-spotify-user"> </i>
              </div>

              <div class="col-sm-0" style="margin-left:10px;"
                      data-bind="visible:controls.spotify.spinAddGuestUser()" >
                <img src="assets/img/spinner.gif" height="32" width="32"
                      style="margin-top:2px" data-bind="tooltip: $($element).tooltip()"
                      data-original-title="Loading Spotify Playlists..."/>
              </div>

              <!--                          
              <button id="spotify-add-user-playlist" type="button"
                      data-bind = " click: controls.spotify.addSpGuestPlaylists,
                                    tooltip: $($element).tooltip()">
                 <i class="nm-icons-spotify"></i>
                 <span>Add Spotify User</span>
              </button>
              --> 
            </div>

        </div>
        <!-- /ko -->

        <!-- ko if: !NL.spotify.isSingedIn() -->
        <div class="collapse in" id="spotify-lists"
                    data-bind="attr : {'id' :  $data.itemType + '_spotify-lists'}">
                <div class="col-xs-12 col-sm-offset-3 col-sm-6" style="text-align:center;margin-top:100px;color:#fff;" >
                      <span>Not Logged into Spotify - No Available Data</span>
                    <button id="spotify-login" type="button" style="margin-top: 25px;"
                        data-bind = "click: controls.drawermenu.loginSpotify,
                                     visible: (NL.spotify.userName() === 'Not signed in') ">
                         <i class="nm-icons-spotify" style="font-size:20px; color:rgb(255,255,255);margin-right:8px;"></i>
                         <span>LOG IN WITH SPOTIFY</span>
                    </button>
                 </div>
        </div>
        <!-- /ko -->
    </div>
</script>
