<script type="text/html" id="lists">
    <div class="lists-body">
        <div class="panel-heading collapse-trigger" data-toggle="collapse"
        data-bind="visible:  NL.musicList.userLists($data.items).length > 0, 
                    attr : {'data-target' : '#' + $data.itemType + '_user-lists'}">
          <h1 class="panel-title">  USER LISTS <i class="icon-chevron-down pull"></i></h1>
        </div>
        <div class="list-group " id="user-lists" 
            data-bind="visible: ko.utils.arrayFilter($data.items, NL.musicList.filterUser).length > 0, 
                        foreach:  NL.musicList.userLists($data.items),
                        attr : {'id' :  $data.itemType + '_user-lists'},                        
                        css:{'collapse' : !NL.musicList.bIsAnyUserlistLoaded() }"> 
        <!-- ko template: { name: 'list', data: $data } -->
        <!-- /ko -->
        </div>    

        <div class="panel-heading collapse-trigger" data-toggle="collapse" data-target="#nightlife-lists"
        data-bind="visible: NL.musicList.listsGroups($data.items).length > 0,
                    attr : {'data-target' : '#' + $data.itemType + '_nightlife-lists'}">
            <h1 class="panel-title"> NIGHTLIFE LISTS <i class="icon-chevron-down"></i></h1>
        </div>
        <div class="collapse in" id="nightlife-lists" 
            data-bind="visible: $data.items.length > 0,
                foreach: NL.musicList.listsGroups($data.items),
                attr : {'id' :  $data.itemType + '_nightlife-lists'}">

            <div class="list-group badge" data-bind="text: $data, css:utils.toSeo($data)"></div>    
            <div class="list-group" id="nightlife-list-group" 
                data-bind="foreach: NL.musicList.filterGroup($parent.items, $data)">
                <!-- ko template: { name: 'list', data: $data } -->
                <!-- /ko -->
            </div>
        </div>
 
        <div class="panel-heading collapse-trigger" data-toggle="collapse" data-target="#other-lists"
        data-bind="visible: ko.utils.arrayFilter($data.items, NL.musicList.filterOther).length > 0,
                    attr : {'data-target' : '#' + $data.itemType + '_other-lists'}">
            <h1 class="panel-title"> OTHER LISTS <i class="icon-chevron-down"></i></h1>
        </div>
        <div class="list-group collapse" id="other-lists" 
            data-bind="visible: ko.utils.arrayFilter($data.items, NL.musicList.filterOther).length > 0, 
                        foreach:  NL.musicList.otherLists($data.items),
                        attr : {'id' :  $data.itemType + '_other-lists'},
                        css:{'collapse' : false }"> 
            <!-- ko template: { name: 'list', data: $data } -->
            <!-- /ko -->
        </div>    

        <div class="panel-heading collapse-trigger" data-toggle="collapse"
            data-bind="visible:  NL.musicList.ambientLists($data.items).length > 0, 
                    attr : {'data-target' : '#' + $data.itemType + '_ambient-lists'}">
          <h1 class="panel-title">  AMBIENT LISTS <i class="icon-chevron-down pull"></i></h1>
        </div>
        <div class="list-group " id="ambient-lists" 
            data-bind="visible: ko.utils.arrayFilter($data.items, NL.musicList.filterAmbient).length > 0, 
                        foreach:  NL.musicList.ambientLists($data.items),
                        attr : {'id' :  $data.itemType + '_ambient-lists'},                        
                        css:{'collapse' : false }"> 
        <!-- ko template: { name: 'list', data: $data } -->
        <!-- /ko -->
        </div>  

    </div>
</script>