<script type="text/html" id="lists-song">

    <!-- ko if: ( (NL.context.selectedSong() !== null) && ( NL.context.selectedSong() !== undefined) ) -->
    <div class="" 
        data-bind="with: NL.context.selectedSong, css : NL.context.selectedSong().cssClass" >
          <div class="" 
            data-bind="template: {name: 'song-selected', with: NL.context.selectedSong()}">
           </div>       
    </div>  
    <!-- /ko -->  

    <div data-bind="template: {name : 'lists', 
					data: { items : NL.musicList.selectedSongLists() , itemType : 'lists-song'}
				}">
    </div>
</script>

<script type="text/html" id="lists-song-tab">
            <li><a href="#lists-song-panel" class="list-tab" data-toggle="tab" data-bind="if: NL.context.selectedSong() != ''">
                Selected Song
            </a></li>
</script>

