<script type="text/html" id="list">
    <div class="list-group-item" data-bind="css: style">
        <div class="list-count badge pull-right" data-bind="css: style">
            <div data-bind="text: num_songs" />
        </div>
        <i class="list-loaded pull-right success icon-ok-sign" data-bind="visible: isLoaded"></i>
        <div class="icon-stack " data-bind="click: selectList, if: canSchedule">
        	<i class="nm-icons-unchecked" data-bind=" visible: !selected()"></i>
        	<i class="nm-icons-checked-plus" data-bind="visible: selected()"></i>
        </div>
        <span class="list-text" data-bind="afterRender: $($element).on('click',function() {controls.lists.toSearch($data)})">
        	<span class="title" 
        	data-bind="text: nameOriginal" /> 
                            <!-- Ebrahim M: 'name' is changed to 'nameOriginal' --> 
        	<span class="description" 
        	data-bind="text: description" />
        </span>
    </div>

</script>