<script type="text/html" id="lists-guests">
    <div data-bind="template: {name : 'guests', data: {
    				guestItems : NL.spotify.spotifyPlaylists(),
    				itemType : 'lists-guests'}}">
    </div>

</script>