<script type="text/html" id="lists-current">    
        <div class="panel-heading" 
        data-bind="visible: NL.musicList.activeTab() == 'lists-current-panel',text: source() +', '+ selection_method()+', '+ num_songs()">
        </div>  
        <div data-bind="template: {name : 'lists', data: { items : NL.musicList.loadedLists() , itemType : 'lists-current'}}"></div>
</script>