@font-face {
    font-family: 'architectsdaughter';
    src: url('../font-files/architectsdaughter/architectsdaughter.eot');    
    src: local('☺'), url('../font-files/architectsdaughter/architectsdaughter.ttf') format("truetype");
}
