@font-face {
    font-family: 'dancingscript';
    src: url('../font-files/dancingscript/dancingscript.eot');    
    src: local('☺'), url('../font-files/dancingscript/dancingscript.ttf') format("truetype");
}
