@font-face {
    font-family: 'gloriahallelujah';
    src: url('../font-files/gloriahallelujah/gloriahallelujah.eot');    
    src: local('☺'), url('../font-files/gloriahallelujah/gloriahallelujah.ttf') format("truetype");
}
