@font-face {
    font-family: 'open_sanslight';
    src: url('../font-files/open_sanslight/open_sanslight.eot');    
    src: local('☺'), url('../font-files/open_sanslight/open_sanslight.ttf') format("truetype");
}
