<script type="text/html" id="dlg-rng">
<div id="dlg-rng">
    <div class="modal-heading">
        <i class="nm-icons-cross pull-right" data-dismiss="modal"></i>
        <h4>
            <span data-bind="text: 'Random Number'"/>
            </span>
        </h4>
    </div>
    <div class="modal-body">
        <div id="dlg-rng-detail" class="container" >

            <!-- ko if:  NL.settings.accessCode.verified() -->
                <div class="form-group">
                    <p >Message Title: <input required type="text" id="txtTitle"
                            data-bind="value:(NL.videoStates.objRng() !== undefined)?
                                    NL.videoStates.objRng().msgTitle :''"
                            placeholder='Please type your mesasge title'> </p>
                </div>

                <div class="form-group">
                    <p class="startRng"> Include Range:<input required type="text"
                        id="txtRangeFrom" placeholder="From"
                        data-bind="value:(NL.videoStates.objRng() !== undefined)?
                                NL.videoStates.objRng().incRangeFrom : ''" ></p>
                    <p class="endRng"> - <input required type="text"
                        id="txtRangeTo"  placeholder="To"
                        data-bind="value:(NL.videoStates.objRng() !== undefined)?
                            NL.videoStates.objRng().incRangeTo : ''" ></p>
                    <p class="displayTime"> Display Time (min):<input required type="text"
                        id="txtDisplaytime" placeholder="min"
                        data-bind="value:(NL.videoStates.objRng() !== undefined)?
                            NL.videoStates.objRng().displayTime : ''"></p>
                </div>
                <div style="clear:both;height:0px;">&nbsp;</div>

                <div class="form-group">
                    <p class="drawnNum">Drawn:
                        <select multiple="multiple"
                            data-bind="options:NL.videoStates.objRngNumbers()">
                        </select>
                    </p>
                    <p class="excludeNum">Exclude Numbers:
                        <select multiple="multiple" height="5"
                            data-bind=" options:(NL.videoStates.objRng() !== undefined)?
                                            NL.videoStates.objRng().excNumbers() : '',
                                        selectedOptions:controls.video.excludeNumsSel,
                                        event:{keydown:controls.video.excNumKeyPressed}">
                        </select>
                    </p>
                    <p class="excludeRng">Exclude Ranges:
                        <select multiple="multiple" height="5"
                            data-bind="options:controls.video.arExcludeRange(),
                                        selectedOptions:controls.video.excludeRangesSel,
                                        event:{keydown:controls.video.excRangeKeyPressed}">
                        </select>
                    </p>
                </div>

                <div class="form-group">
                    <p style="float:left;width:50px;margin-top:0px;margin-left:162px;"><input required type="text"
                        id="txtExcNum" placeholder="Num" style="width:40px;"
                        data-bind="value: controls.video.excludeNum" >
                    </p>
                    <button class="btn btn-primary" style="float:left;width:100px"
                            data-bind="click:controls.video.addNumber">Add Number
                    </button>

                    <p style="float:left;width:85px; margin-top:0px;margin-left:18px;">From:
                        <input required type="text"
                            id="txtExcRangeFrom" placeholder="From" style="width:40px;"
                            data-bind="value:controls.video.excludeRange().From">
                    </p>
                    <p style="float:left;width:80px;margin-top:0px;margin-left:7px;">To:
                        <input required type="text"
                            id="txtExcRangeTo" placeholder="To" style="width:40px;"
                            data-bind="value:controls.video.excludeRange().To">
                    </p>
                    <button class="btn btn-primary" style="float:left;width:90px"
                        data-bind="click:controls.video.addRange">Add Range
                    </button>
                </div>
                <div style="clear:both;height:2px;">&nbsp;</div>

                <div class="form-group">
                    <p >Display previously drawn numbers:
                        <select style="height:2.5em; width:15%;font-size:14px;"
                            data-bind="YesNoList : controls.video.displayDrawnNum">
                        </select> </p>
                </div>
            <!-- /ko -->

            <!-- ko if:  !NL.settings.accessCode.verified() -->
                <div class="container" style="margin-top:60px" >
                   <h4 style="color:white;">You need permission to use RNG setting controls.</h4>
                   <p>Please verify your presence onsite by pressing 'Display Code'. A popup will appear on the screen of the Music Zone you are currently connected to.</p>
                    <div class="form-group row">
                                <span class="col-md-3">
                        <button type="button" class="btn btn-primary" data-bind="click: controls.settings.displayOnsiteAccessCode">Display Code</button>
                                </span>
                                <span class="col-md-9">
                        <input type="tel" class="form-control" name="txtOnsiteAccess"
                            required="required" data-bind="value: controls.settings.accessCode" placeholder="Access Code" />
                                </span>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" data-bind="click: controls.settings.saveOnsiteAccessCode">Verify </button>
                    </div>
                    <div class="badge pull-right"
                        data-bind="text: NL.settings.accessCode.verified() ? 'Verified' : 'Not Verified',
                            css: NL.settings.accessCode.verified() ? 'badge-success' : 'badge-error'">
                        Status Badge
                    </div>
                    <div style="clear:both;height:10px;">&nbsp;</div>
                    <h5 style="color:white;">Note: you are still able to draw a number or clear the result.</h5>
                </div>
            <!-- /ko -->

            <!-- ko if:  NL.videoStates.lastDrawnRngNo() >= 0 -->
                <div  style= "position:absolute; top:25%;" data-bind="foreach:new Array(40)">
                    <div class="rngNumOn col-xs-1 col-sm-1" data-bind="
                        text : (controls.video.isRandomBoxHidden($index() + 1) )? '' : '?' ,
                        css: {rngNumOff: controls.video.isRandomBoxHidden($index() + 1),
                              rngNumOn: !controls.video.isRandomBoxHidden($index() + 1) },
                          visible: (NL.videoStates.lastDrawnRngNo() === 0)  ">
                    </div>
                </div>

                <div class="rngBigNumOn"
                        data-bind = "text : (NL.videoStates.lastDrawnRngNo() === 0)? '?' :
                                            NL.videoStates.lastDrawnRngNo(),
                                     visible: (NL.videoStates.lastDrawnRngNo() > 0)">
                </div>
            <!-- /ko -->

        </div>

        <div class="rng-controls" >
            <button class="btn" href="#" title="Draw Next Random Number"
                                data-bind="click: controls.video.generateRandom ">
                <i class="nm-icons-plus-filled"> </i><span>Draw</span>
            </button>
            <button class="btn" href="#" title="Clear Drawn Numbers"
                                data-bind="click: controls.video.clearDrawnNumbers">
                <i class="nm-icons-refresh"> </i><span>Clear</span>
            </button>
            <button class="btn" href="#" title="Close Random Number Screen"
                                data-bind="click: controls.video.removeAdditive">
                <i class="icon-signout">  </i><span>Quit</span>
            </button>
        </div>

    </div>
</div>
</script>
