<script type="text/html" id="dlg-bingo">
<div id="dlg-bingo">
    <div class="modal-heading">
        <i class="nm-icons-cross pull-right" data-dismiss="modal"></i>
        <h4>
            <span data-bind="text: (NL.videoStates.states().length > 0)?
                                    NL.videoStates.states()[0].asset() : '' "/>
            </span>
        </h4>
    </div>
    <div class="modal-body">
        <div id="dlg-bingo-detail" class="container" >
            <div class="dlg-bingo-content" data-bind="foreach:new Array( controls.video.bingoCols() )">
                <div class="col-xs-1 col-sm-1" data-bind="text: $index()+1,
                                        css: {bingoNumOff: !controls.video.isNumDrawn($index() + 1) ,
                                              bingoNumOn:   controls.video.isNumDrawn($index() + 1)}">
                </div>
            </div>

            <!-- ko if:  NL.videoStates.states()[0].lastDrawnNo() > 0 -->
                <div class="bingoBigNumOn"
                        data-bind = "text : NL.videoStates.states()[0].lastDrawnNo()">
                </div>
            <!-- /ko -->

        </div>
        <div class="bingo-controls" >
            <button class="btn" href="#" title="Draw Next Number"
                                data-bind="click: controls.video.generateBingo">
                <i class="nm-icons-plus-filled"> </i><span>Draw</span> 
            </button>
            <button class="btn" href="#" title="Start New Bingo"
                                data-bind="click: controls.video.restartBingo">
                <i class="nm-icons-refresh"> </i><span>New Game</span> 
            </button>
            <button class="btn" href="#" title="Close Bingo Screen"
                                data-bind="click: controls.video.removeAdditive">
                <i class="icon-signout">  </i><span>Quit</span>
            </button>
        </div>
    </div>
</div>
</script>
