<script type="text/html" id="dlg-confirm-bingo-restart">
<div id="dlg-confirm-bingo-restart">

    <div class="modal-head">
        <h4><span data-bind="text: 'New Bingo Game'">
            </span> </h4>
        <hr>
    </div>

    <div class="modal-body">
        <div class="container" >
            <div class="form-group" style="display: block;" id="confirm-remove">
                <h5>
                <span>Do you wish to start a new bingo game?  </span>

                </h5>
              
                <div class="form-group">
                    <button type="button" class="btn btn-success"
                            data-bind="click:controls.video.startNewBingoGame" >Yes</button>
                    <button type="button" class="btn btn-danger"
                            data-bind="afterRender: $($element).click(function() {
                                controls.modal.hide();
                                controls.video.showBingoModal();
                                })">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

</script>
