<script type="text/html" id="video-output-selector">
  <div class="panel z-depth-1" data-bind="attr: { 'data-output': output}" >
    <div class="panel-heading callout-bottom">
        <div style="margin-bottom: 20px; ">
            <div class="btn-group" style="float:right;">
               <input class="btn-mode" type="button" id="btn-scheduler"
	  			data-bind="click: toggleLock, css: {active : locked()}">

            </div>
            <h4 class="visual-header"><span data-bind="text: ' Output ' + output"/></h4>
        </div>
      <h5 class="video-asset-details" style="clear:both;"><i class="nm-icons-visual-content"></i>
        <span data-bind="text: asset "/></span></h5>
    </div>
    <div class="panel-body video-modes-container">
      <form class="video-modes" data-bind="foreach: modes">
        <label class="radio" data-bind="">
          <input type="radio" name="modeGroup" data-bind="value: id, checked: $parent.mode(), event: {change: $parent.changeMode}" />
          &nbsp;<span data-bind="text: name + ' [' + id + ']', style: { color: ($parent.mode() === id && $parent.locked() === true  ) ? '#941616' : 'black'}"/>
        </label>
      </form>
    </div>
      <!-- ko template: { name: "video-output-asset-switcher", data: $data } --><!-- /ko -->
      <!-- ko template: { name: "video-output-random-number", data: $data } --><!-- /ko -->
      <!-- ko template: { name: "video-output-bingo", data: $data } --><!-- /ko -->
  </div>
</script>

<script type="text/html" id="video-output-asset-switcher">
<!-- ko if: mode()!=='R' && mode()!=='B' -->
      <div class="content-controls">
        <button class="btn" href="#" title="Cycle through content"
          data-bind="enable: selectedMode().can_cycle, click: function(data, event) { setVideoAsset(data, event, 'previous') }">
          <i class="nm-icons-arrow-content-left"></i>
        </button>
        <button class="btn" href="#"
          title='Play Digital Advertising'
          data-bind="
            enable: selectedMode().can_pause,
            click: function(d,e){controls.video.play($data.output) }
          ">
          <i class='nm-icons-play' data-bind="css:{'control-state-playing':!$data.paused()}">
          </i>
        </button>
        <button class="btn" href="#"
          title='Pause Digital Advertising'
          data-bind="
            enable: selectedMode().can_pause,
            click: function(d,e){controls.video.pause($data.output) }
          ">
          <i class='nm-icons-pause-now' data-bind="css:{'control-state-paused':$data.paused()}">
          </i>
        </button>
        <button class="btn" href="#" title="Cycle through content"
        data-bind="enable: selectedMode().can_cycle, click: function(data, event) { setVideoAsset(data, event, 'next') }">
          <i class="nm-icons-arrow-content-right"></i>
        </button>
      </div>
<!-- /ko -->
</script>

<script type="text/html" id="video-output-random-number">
<!-- ko if: mode()=='R' -->
      <div class="content-controls">
        <button class="btn" href="#" title="Generate Random Number"
          data-bind="click: controls.video.generateRandom, 
                     visible: !controls.video.newRngLook()">
          <i class="nm-icons-plus-filled"></i>
        </button>
        
        <button class="btn" href="#" title="Open Random Number Window"
                data-bind="click: controls.video.showRngModal,
                visible: controls.video.newRngLook()">
          <i class="icon-retweet"></i>
        </button>

        <button class="btn" href="#" title="Close Random Number Screen" data-bind="click: controls.video.removeAdditive">
          <!-- <i class="nm-icons-off"></i> -->
          <i class="nm-icons-sign-out"></i>
        </button>
      </div>
<!-- /ko -->
</script>

<script type="text/html" id="video-output-bingo">
<!-- ko if: mode()=='B' -->
      <div class="content-controls">
        <button class="btn" href="#" title="Draw Next Number"
                data-bind="click: controls.video.generateBingo ,
                           visible: !controls.video.newBingoLook()">
          <i class="nm-icons-plus-filled"></i>
        </button>

        <button class="btn" href="#" title="Start New Bingo"
                data-bind="click: controls.video.restartBingo,
                visible: !controls.video.newBingoLook()">
          <i class="nm-icons-refresh"></i>
        </button>

        <button class="btn" href="#" title="Open Bingo Window"
                data-bind="click: controls.video.showBingoModal,
                visible: controls.video.newBingoLook()">
          <i class="icon-retweet"></i>
        </button>

        <button class="btn" href="#" title="Close Bingo Screen" data-bind="click: controls.video.removeAdditive">
          <!-- <i class="nm-icons-off"></i> -->
          <i class="nm-icons-sign-out"></i>
        </button>
      </div>
<!-- /ko -->
</script>
