<script type="text/html" id="dlg-spotify">
<div id="dlg-spotify">
    <div class="modal-heading">
        <i class="nm-icons-cross pull-right" data-dismiss="modal"></i>
        <h4 class="bold">
            <!-- <i class="nm-icons-spotify"  style="font-size:24px;color:rgb(30,215,96);"></i> -->
            <img src="assets/img/ic-spotify-new.png" width="22px;" height="22px;" />
             Spotify
        </h4>
    </div>
    <div class="modal-body">
        <div id="dlg-spotify-detail" class="container" >

            <div class="form-group text-center">

            <!--
                <div class="col-sm-12" style='color:green; height:80px;'
                        data-bind="visible:( !controls.song.spFrmPlaylistIsReady() )">
                    <h4 > Loading preview tracks from spotify... </h4>
                </div>
                <div data-bind="visible:controls.song.spFrmPlaylistIsReady()">
                    <iframe name="spotify_frame_playlist" id="spotify_frame_playlist"
                            src="" width="100%" height="80px" frameborder="0" allowtransparency="true">
                    </iframe>
                </div>
            -->
                <div>
                    <button type="button" id="snap-shot-spotify"
                                    data-bind="click: controls.song.snapShotHistory">
                        <img src="assets/img/spinner.gif" data-bind="visible:controls.song.spinBtnExportShow()"
                                    height="18" width="18"/>
                        <i class="nm-icons-spotify"></i>
                        <span>Create Playlist from Play History</span>
                    </button>
                </div>

                <div id="spotify-link-buttons">
                    <button type="button"  class="btn btn-primary"
                            data-bind="click:controls.navigation.jumpToListsSpotify">
                            <i class="nm-icons-lists"></i>
                            <span>Match Spotify playlists with Nightlife</span>
                    </button>

                    <button type="button"  class="btn btn-primary"
                            data-bind="click:controls.navigation.jumpToSearchSpotify">
                            <i class="nm-icons-search"></i>
                            <span>View matched Spotify playlists</span>
                    </button>
                </div>

                <!--
                <hr>
                <div id="add-guest-playlist" class="col-xs-12">
                  <h4><i class="icon-exclamation-sign"></i>
                    <span>Did you know you can add other users playlists to your Spotify lists?</span>
                  </h4>
                  <div class="form-group">
                      <div class="col-xs-12 col-sm-6">
                          <input type="text" class="form-control"
                              placeholder="Type a valid Spotify user name "
                              data-bind ="visible : true ,
                                          value:controls.spotify.newSpGuestUsername,
                                          valueUpdate: 'afterkeydown',
                                          hasFocus: true" />
                      </div>
                      <div class="col-xs-12 col-sm-6">
                          <button id="spotify-add-user-playlist" type="button"
                            data-bind = "click: controls.spotify.addSpGuestPlaylists,
                                         tooltip: $($element).tooltip()">
                             <i class="nm-icons-spotify"></i>
                             <span>Add Guest Playlists</span>
                          </button>
                      </div>
                  </div>
                </div>
                -->

            </div>
        </div>
    </div>
</div>

</script>
