<script type="text/html" id="dlg-confirm-remove-song">
<div id="dlg-confirm-remove-song">

    <div class="modal-head">
        <h4><span data-bind="text: 'Confirm Permanent Removal from Playlist'">
            </span> </h4>
        <hr>
    </div>

    <div class="modal-body">
        <div class="container" >
            <div class="form-group" style="display: block;" id="confirm-remove">
                <h5>
                <span>Are you sure you want to permanently remove this song from ever being loaded into the playlist?
                </span>

                </h5>
                <div class="form-group">
                    <button type="button" class="btn btn-success"
                            data-bind="click:controls.song.toggleCommentExpand" >Yes</button>
                    <button type="button" class="btn btn-danger"
                            data-bind="afterRender: $($element).click(function() { controls.modal.hide()})">No</button>
                </div>
            </div>
            <div class="form-group" style="display: none;" id="remove-comment">
                <span>Let us know why you removed this song. </span>
                <div class="form-group">
                    <div class="col-sm-14">
                        <textarea name="textarea" id="txtRemoveComment"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary"
                            data-bind="click:function(){controls.song.removeSong($data )}">Ok</button>
                </div>
            </div>

        </div>
    </div>
</div>

</script>
