<script type="text/html" id="song-modal">
    <div id="song-modal-detail" class="song-modal-controls z-depth-2">
        <button type="button" class="btn btn-default btn-danger tooltip-helper" data-dismiss="modal" data-bind="tooltip: $($element).tooltip()" data-placement="right" data-original-title="Close window.">
            <h1 ><i class="nm-icons-cross"></i></h1>
        </button>

        <button id="song-fav" type="button" class="btn btn-default" style="clear:both;"
             data-bind="click: controls.songlist.toggleFavorite,
                        tooltip: $($element).tooltip()" data-placement="right"
                        data-original-title="Favourite song">
            <h1 ><i class=".nm-icon-star-empty"
                data-bind=" css: {  'nm-icons-star-empty': !controls.songlist.isSongInFavoriteList(),
                                    'nm-icons-star-filled': controls.songlist.isSongInFavoriteList() }"></i>
            </h1>
        </button>

        <button id="song-prev" type="button" class="btn btn-default" style="clear:both;"
            data-bind="enable: prev !== undefined, attr: {'data-index': prev},
                       click: controls.songlist.changeInfo,
                       tooltip: $($element).tooltip()"
            data-placement="right" data-original-title="Previous song.">
        <h1><i class="nm-icons-arrow-content-up"></i></h1></button>
        <button id="song-next" type="button" class="btn btn-default" style="clear:both;" data-bind="enable: next !== undefined, attr: {'data-index': next}, click: controls.songlist.changeInfo,
            tooltip: $($element).tooltip()"
            data-placement="right" data-original-title="Next song.">
        <h1><i class="nm-icons-arrow-content-down"></i></h1></button>

    </div>
    <div data-bind="afterRender: $($element).parent().draggable({handle: '.modal-body',
                                                                    distance: 10, cursor: 'move'})">
    <div class="modal-header">
        <div id="modal-head" class="song-info song-row callout-bottom" style="height:auto;"
         data-bind="afterRender: $('#modal-head').click(function(){
                                                    controls.song.toSearch($data , 'artist')}), css: cssClass">
            <div class="title "  data-bind="text: title, css: { 'removed': removed }"></div>
            <div class="artist"  data-bind="text: artist"></div>
        </div>
    </div>

<div class="modal-body" data-bind="css: cssClass">
    <div class="container" >
            <div class="row">
                <div class="col-xs-4">
                    <div class="h4 modal-title"
                        data-bind="text: distance + '/' + total(), visible: distance > 0">
                    </div>
                </div>
                <!-- Ebrahim M: Estimate Play Time : It is commented now.
                <div class="col-xs-8">
                    <div class="h4 modal-title" style="float:right; padding: 5px;"
                        data-bind="text: formatedWhen(), visible: when !== 0">
                    </div>
                </div>
                -->
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-8">
                    <div class="masonry-col">
                      <!-- ko if: NL.settings.showImages -->
                          <div class="thumbnail"  data-bind="if: filename, style: {
                              backgroundImage: 'url('+ '/albums/' + filename + '.jpg'+')' }"></div>
                      <!-- /ko -->
                      <!-- <div data-bind="if: id_spotify !== ''">
                          <audio id="audio" data-bind="attr: { src: preview_url}" preload="auto" ></audio>
                          <button data-bind="click: function() { audio.play() }"> Play </button>
                          <button data-bind="click: function() { audio.pause() }"> Pause </button>
                      </div> -->
                    </div>
                    <div class="details masonry-col" id="modal-details"
                    data-bind="afterRender:
                                    $('#'+$element.id).click(function(){controls.song.toSearch($data, 'year')})">
                        <div class="length">
                            <b>Duration: </b><!-- ko  text: formatedLength() --><!-- /ko -->
                        </div>
                        <div class="bpm">
                             <b>Tempo:  </b><!-- ko text: bpm --><!-- /ko --> bpm
                        </div>
                        <div class="released">
                            <b>Released:  </b><span><!-- ko text: released --><!-- /ko --></span>
                        </div>
                        <div class="category">
                            <b>Genre:  </b><!-- ko text: category --><!-- /ko -->
                        </div>
                        <div data-bind="visible: video">
                             <b>Media: </b>Video Clip <i class="nm-icons-film" ></i>
                        </div>
                        <div data-bind="visible: !video">
                            <b>Media: </b>Audio Only
                        </div>
                        <div class="load-method">
                            <b>Loaded Via: </b>
                            <span data-bind="text: loadMethodText()">
                            </span>
                            <i class="icon-load-method" ></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <div class="lists pull-right">
                    <button id="PreviewPlayer" type="button" class="btn btn-primary"
                        data-bind=" click: controls.song.toggleSpotify, css: {'disabled' :
                            (!NL.spotify.isSingedIn() || !controls.song.isSpotifyIdAvailable($data) ) }">
                        Preview Player
                    </button>

                    <BR>

                   <span>In Lists:</span>
                   <!-- ko template: { name: 'song-lists', data: {lists: lists()} } --><!-- /ko -->
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="modal-footer">

                <!-- ko template: {
                    name: (distance === 1 && context !== "#tab-search") ? 'song-actions-current' : 'song-actions'}
                -->
                <!-- /ko -->

    </div>
</div>
</script>

<script type="text/html" id="song-actions">
    <div class="actions" data-bind="click: function(o, e){e.stopPropagation(); return false;}">
        <div class="content-controls">
            <a id="song-play-now" title="Play Now" href="#" class="btn btn-default btn-lg"
                data-bind="click: controls.song.play, visible: showPlay">
                <i class="nm-icons-play"></i>
            </a>

            <a id="song-play-next" title="Play Next" href="#" class="btn btn-default btn-lg"
                data-bind="click: controls.song.playNext, visible: showPlayNext">
                <i class="nm-icons-arrow-content-top"></i>
            </a>

            <a title="Queue" href="#" class="btn btn-default btn-lg"
                data-bind="click: controls.song.queue, visible: showQueue">
                <i class="nm-icons-control-add">
                </i>
            </a>

            <a title="Play Last" href="#" class="btn btn-default btn-lg"
                data-bind="click: controls.song.playLast, visible: showPlayLast">
                <i class="nm-icons-arrow-content-bottom"></i>
            </a>

            <a id="song-remove-playlist" title="Remove From Playlist" class="btn btn-default btn-lg"  href="#" data-bind="click: controls.song.remove, visible: showRemove"><i class="nm-icons-control-trash"></i>
            </a>
            <a href="#" class="btn btn-default btn-lg"  title="Remove Permanently"  data-bind="click: controls.song.setRemoved, style: {backgroundColor: removed() === true ? '#167694' : '#333333'}" >
                <i data-bind="style: {color: removed() === true ? 'white' : '#be0b1d'}" class="nm-icons-delete"></i>


            </a>
            <!-- ko if: $parents -->
            <!--<a title="Info" class="btn btn-default btn-lg" href="#" data-bind="click: controls.song.info"><i class="icon-info"></i></a>-->
            <!-- /ko -->

         </div>
    </div>

    <!-- Ebrahim M: Added this section for Spotify detail  -->
    <div style="display: none;" id="song-spotify-detail"  data-bind="css: cssClass" >
        <hr>
        <div align='center' class="spotify-loading"
                data-bind="visible:!controls.song.spFrameIsReady()">
            <h4> Loading from spotify... </h4>
            <!-- <hr> -->
        </div>

        <div data-bind="visible:controls.song.spFrameIsReady()">
            <iframe name="spotify_frame" id="spotify_frame" src="" width="100%" height="80px"
                        frameborder="0" allowtransparency="true"></iframe>
        </div>

        <div data-bind="visible: ($data.distance <= 1) && NL.context.tab() === '#tab-playlist'"
                        style="margin-bottom: 15px;margin-top:15px;">
            <div class="form-group">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-7">
                        <select data-bind="visible : (NL.spotify.selectedExpPlaylist() !== undefined) ,
                                           options:NL.spotify.spotifyExpPlaylists,
                                           optionsText      : 'name',
                                           optionsValue     : 'id',
                                           value            : NL.spotify.selectedExpPlaylist,
                                           optionsCaption   : 'Create a new playlist ...'">
                        </select>
                        <input type="text" class="form-control" name="txtNewSpotifyPlaylist"
                            placeholder="Type a new playlist name"
                            data-bind ="visible : (NL.spotify.selectedExpPlaylist() === undefined) ,
                                        value:controls.song.newPlaylistSpotify,
                                        valueUpdate: 'afterkeydown',
                                        hasFocus: true" />
                    </div>

                    <div class="col-sm-0" style="margin-left:10px;"
                                data-bind ="visible : (NL.spotify.selectedExpPlaylist() === undefined),
                                            click:controls.song.undoCreatePlaylist" >
                        <i class="nm-icons-cross pull-left" id="undo-create-playlist"> </i>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <button id="spotify-add-playlist" type="button"
                          data-bind = "click: controls.song.addTrackToSpotify,
                                       tooltip: $($element).tooltip()"
                          data-placement="right" data-original-title="Add to playlist.">
                           <i class="nm-icons-spotify"></i>
                           <span>Add to Playlist</span>
                        </button>
                    </div>
                </div>

                <!--
                <div class="form-group" >
                    <div class="col-sm-4">
                        <button id="spotify-create-playlist" type="button"
                          data-bind = "click: controls.song.createPlaylistAddTrack,
                                       tooltip: $($element).tooltip()"
                          data-placement="right" data-original-title="Create playlist & add song.">
                          <i class="nm-icons-spotify"
                                    style="font-size:20px;color:white;margin-right:8px;"></i>
                            Create Playlist
                        </button>
                    </div>
                </div>
                -->

            </div>
        </div>

    </div>

</script>

<script type="text/html" id="song-actions-current">
    <div class="actions" data-bind="click: function(o, e){e.stopPropagation(); return false;}">
        <div class="callout-top content-controls">

            <a id="song-recue" title="Recue" href="#" class="btn btn-dfault btn-lg"
                data-bind="click: controls.player.recue">
                <i class="icon-step-backward"></i>
            </a>

            <a id="song-play-now" title="Play Now" href="#" class="btn btn-default btn-lg"
                data-bind="click: controls.player.resume">
                <i class="nm-icons-play"></i>
            </a>

            <a id="song-pause-now" title="Pause" href="#" class="btn btn-default btn-lg"
                data-bind="click: controls.player.pause">
                <i class="nm-icons-pause-now"></i>
            </a>

            <!-- ko if: !NL.zone.system_mode.karaoke() || NL.zone.version_num() < 3.92-->
            <a id="song-pause-after" title="Mix" href="#" class="btn btn-default btn-lg"
                data-bind="click: controls.player.playNext,
                css: {'disabled' : NL.settings.utopia.canIUse('request_zone','mix',true)} ">
                <i class="icon-step-forward">
                </i>
            </a>

            <!-- Commented by Ebrahim M and replaced with the mix button above
            <a id="song-pause-after" title="Pause After Song" href="#" class="btn btn-default btn-lg"
                data-bind="click: controls.player.pauseNext ">
                <i class="nm-icons-scheduled-pause">
                </i>
            </a>
            -->

            <!-- /ko -->

            <!-- ko if: NL.zone.system_mode.karaoke() &&  NL.zone.version_num() >= "3.92"  -->
            <a id="song-stop" title="Stop" href="#" class="btn btn-default btn-lg"
                data-bind="click: controls.player.stop ">
                <i style="font-size: 18px" class="icon-stop">
                </i>
            </a>
            <!-- /ko -->

            <a href="#" class="btn btn-default btn-lg"  title="Remove Permanently"  data-bind="click: controls.song.setRemoved, style: {backgroundColor: removed() === true ? '#167694' : '#333333'}" >
                <i data-bind="style: {color: removed() === true ? 'white' : '#be0b1d'}" class="nm-icons-delete"></i>
            </a>
            <!-- ko if: $parents -->
            <!--<a title="Info" class="btn btn-default btn-lg" href="#" data-bind="click: controls.song.info"><i class="icon-info"></i></a>-->
            <!-- /ko -->

            <!-- Ebrahim M: Added the Spotify button -->
            <!--
            <a id="spotify-detail" title="Show/Hide Spotify section" href="#" class="btn btn-default btn-lg"
                data-bind=" click: controls.song.toggleSpotify,
                            css: {'disabled' : (!NL.spotify.isSingedIn() || !controls.song.isSpotifyIdAvailable($data) ) }">
                <i class="nm-icons-spotify"></i>
            </a>
            -->

        </div>
    </div>

    <!-- Ebrahim M: Added this section for Spotify detail  -->
    <div style="display: none;" id="song-spotify-detail" data-bind="css: cssClass">
        <hr>
        <div align='center' class="spotify-loading"
                         data-bind="visible:!controls.song.spFrameIsReady()">
            <h4> Loading from spotify... </h4>
        </div>

        <div data-bind="visible:controls.song.spFrameIsReady()">
            <iframe name="spotify_frame" id="spotify_frame" src="" width="100%" height="80px"
                        frameborder="0" allowtransparency="true"></iframe>
        </div>
        <div data-bind="visible: ($data.distance <= 1) && NL.context.tab() === '#tab-playlist'"
                        style="margin-bottom: 15px;margin-top:15px;">
            <div class="form-group">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-7">
                        <select data-bind="visible : (NL.spotify.selectedExpPlaylist() !== undefined) ,
                                           options:NL.spotify.spotifyExpPlaylists,
                                           optionsText      : 'name',
                                           optionsValue     : 'id',
                                           value            : NL.spotify.selectedExpPlaylist,
                                           optionsCaption   : 'Create a new playlist...'">
                        </select>
                        <input type="text" class="form-control" name="txtNewSpotifyPlaylist"
                            placeholder="Type a new playlist name"
                            data-bind ="visible : (NL.spotify.selectedExpPlaylist() === undefined) ,
                                        value:controls.song.newPlaylistSpotify,
                                        valueUpdate: 'afterkeydown',
                                        hasFocus: true" />
                    </div>

                    <div class="col-sm-0" style="margin-left:30px;"
                                data-bind ="visible : (NL.spotify.selectedExpPlaylist() === undefined),
                                            click:controls.song.undoCreatePlaylist" >
                        <i class="nm-icons-cross pull-left" id="undo-create-playlist" ></i>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <button id="spotify-add-playlist" type="button"
                          data-bind = "click: controls.song.addTrackToSpotify,
                                       tooltip: $($element).tooltip()">
                           <i class="nm-icons-spotify"></i>
                           <span>Add to Playlist</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</script>
