<script type="text/html" id="song-lists">
  
<div id="song-lists" 
data-bind="afterRender: $($element).click(function() {controls.song.toLists($parent)})">
    
    <!-- ko foreach: lists -->
    <li data-bind="css: style + ' ' + group, text: name" />
    <!-- /ko -->
</div>
</script>