<script type="text/html" id="song-current">
    <div class="thumbnails" data-bind="if: $root.settings.showImages() && filename">
        <img data-bind=
            "attr: { src: '/albums/' + filename + '.jpg'}" alt="" width="48" height="48" />
    </div>
    <div class="song-info" data-bind="attr: {'data-filename': filename}, 
            click: controls.song.clickCurrent, css: cssClass, 'removed': removed ">
        <div class="title" data-bind="text: title, 
            css: { 'removed': removed } , afterRender: $($element).tooltip()" 
            data-placement="bottom" data-original-title="Jump to the current song">
        </div>
        <div class="artist" data-bind="text: artist, afterRender: $($element).tooltip()"
            data-placement="bottom" data-original-title="Jump to the current song">
        </div>            
    </div>
</script>