<script type="text/html" id="song-selected">
    <div class="song-info song-selected" data-bind="
        attr: {
            'data-filename': filename
             }, 
            css: cssClass, 'removed': removed">        

            <div class="additional-info tooltip-helper" data-bind="click: NL.playlist.toggleGenre, afterRender: $($element).tooltip()"  data-placement="left" data-original-title="Switch view mode.">
                
                <i class="nm-icons-film" data-bind="visible: video"></i>
                <i class="icon-load-method" ></i>

                <div class="bpm"      data-bind="visible: !NL.playlist.showGenre(), text: bpm"></div>
                <div class="released" data-bind="visible: !NL.playlist.showGenre(), text: released"></div>
                <div class="category" data-bind='visible: NL.playlist.showGenre(), text: category'> </div>      
            </div>

        <div class="song-and-artist">
            <div class="title" data-bind="text: title, css: { 'removed ': removed }"></div>
            <div class="artist" data-bind="text: artist"></div>
        </div>
    </div>
</script>