<script type="text/html" id="song-table">

  <div class="songlist" 
  	data-bind="template: {name: 'song', foreach: $data.songs, afterRender: controls.songlist.highlightIndex}">
  </div>

</script>