<script type="text/html" id="song">
    <div class="song-info" data-bind="
        attr: {
            'data-filename': filename, 
            'data-distance': distance } ,
        click: controls.song.click, css: cssClass, 'removed': removed">
        <div class="distance" data-bind="text: distance"></div>

            <!-- ko if: !NL.playlist.showGenre() -->
            <div class="additional-info tooltip-helper" data-bind="click: NL.playlist.toggleGenre, afterRender: $($element).tooltip()"  data-placement="left" data-original-title="Switch to 'Song Genre' mode.">
                <!-- ko if: distance == 1 && context == '#tab-playlist'-->
                <!--<i class="icon-play-state"></i>-->                
               <img class="now-playing-gif" data-bind="attr: {'src' : NL.nowPlaying().playing ? 'assets/img/nm-playing-animation-white.gif' : 'assets/img/nm-paused-animation-white.gif' }" />
                <!-- /ko -->

                <!-- Ebrahim M : Developed and commented!
                <i class="icon-user" style="margin-right:5px;" 
                                        data-bind="visible : controls.song.isUserList($data)"></i>
                -->

                <i class="nm-icons-film" data-bind="visible: video"></i>                
                <i class="icon-load-method" ></i>
                <div class="bpm"  data-bind="visible: !NL.playlist.showGenre(), text: bpm " ></div>
                <div class="released" data-bind="visible: !NL.playlist.showGenre(), text: released"></div>
                <div class="category" data-bind="visible: NL.playlist.showGenre(), text: category "> </div>      
            </div>
            <!-- /ko -->

            <!-- ko if: NL.playlist.showGenre() -->
            <div class="additional-info tooltip-helper" data-bind="click: NL.playlist.toggleGenre, afterRender: $($element).tooltip()" data-placement="left" data-original-title="Switch to 'Song Details' mode.">
                <!-- ko if: distance == 1 && context == '#tab-playlist'-->
                <!--<i class="icon-play-state"></i>-->                
               <img class="now-playing-gif" data-bind="attr: {'src' : NL.nowPlaying().playing ? 'assets/img/nm-playing-animation-white.gif' : 'assets/img/nm-paused-animation-white.gif' }" />
                <!-- /ko -->

                <!-- Ebrahim M : Developed and commented!
                <i class="icon-user" style="margin-right:5px;" 
                                        data-bind="visible : controls.song.isUserList($data)"></i>
                -->

                <i class="nm-icons-film" data-bind="visible: video"></i>                
                <i class="icon-load-method" ></i>
                <div class="bpm"  data-bind="visible: !NL.playlist.showGenre(), text: bpm " ></div>
                <div class="released" data-bind="visible: !NL.playlist.showGenre(), text: released"></div>
                <div class="category" data-bind="visible: NL.playlist.showGenre(), text: category "> </div>      
            </div>
            <!-- /ko -->
            
        <div class="song-and-artist">
            <div class="title" data-bind="text: title, css: { 'removed ': removed }"></div>
            <div class="artist" data-bind="text: artist"></div>
        </div>
    </div>
</script>
 
