<script type="text/html" id="song-fav-modal">
<div id="song-fav-modal">    
    
    <div class="modal-head">
        <h4>Song Favourite</h4>
        <hr>
    </div>

    <div class="modal-body">
        <div class="container" >
            <div class="form-group">
                <span style="margin:0px;"> Comment: 
                    <input type="text" id="txtComment" placeholder=" Type a comment" style="width:75%;" />
                </span>
            </div>

            <div class="form-group">
                <button id="btnLike" type="button" class="btn btn-success"  style="font-size:20px" title="Like"
                        data-bind="click: controls.songlist.toggleLike"> 
                    <i class="nm-icons-thumb-up-empty" 
                    data-bind=" css: {  'nm-icons-thumb-up-empty': !controls.songlist.isSongInFavoriteList(), 
                                        'nm-icons-thumb-up': controls.songlist.isSongInFavoriteList() }"></i>                  
                </button>
                <button id="btnDislike" type="button" class="btn btn-danger"  style="font-size:20px" title="Dislike" 
                    data-bind="click: controls.songlist.toggleDislike"> 
                    <i class="nm-icons-thumb-down-empty" 
                    data-bind=" css: {  'nm-icons-thumb-down-empty': !controls.songlist.isSongInPeevedList(), 
                                        'nm-icons-thumb-down': controls.songlist.isSongInPeevedList() }"></i>
                </button>
                <button id="btnCancel" type="button" class="btn btn-primary"  title="Cancel" 
                    style="float: right;font-size:20px" data-bind="click: controls.songlist.cancelFavDlg"> 
                    <i class="nm-icons-cross" > </i> 
                </button>  

            </div>

        </div>
    </div>

</div>

</script>
