<script type="text/html" id="zone-controls">
    <div id="modal-controls"  >
	  <div id="volume-level" class="">
	  	<h1> <!-- <i class="icon-reorder" style='font-size:16px'></i> --> Volume </h1>
	  	<span class="volume-number" data-bind="text: NL.volume.sliderLevel() + ' %'"></span>
	    <div id="slider-volume" style="height:418px;" data-bind=
	    	"slider: NL.volume.sliderLevel, 
	    	sliderOptions: 
	    		{min: 0, max: 100, range: 'min', step: 1}">
	   	</div>
	  </div>
	  <div id="modes" class="form-horizontal" style="background: white;">
            	<h1>Mode Controls</h1>
	  	<div class="form-group">
	  		<input class="btn-mode" type="button" id="btn-scheduler" 
	  			data-bind="click: controls.modes.toggleScheduler,
	  						enable: controls.modes.isAvail('scheduler') ,
	  						css: {active : NL.zone.system_mode.scheduler(), 
	  							'ui-state-disabled' : !controls.modes.isAvail('scheduler')}">
	  		<label class="control-label" for="tgl-scheduler"> Scheduler </label>

	  		<!-- Ebrahim Mardani: Commented for now 
  		    <a class="pull-right btn-ms" href="#" title="Info" data-toggle="tab">
  		    	<i class="nm-icons-info pull-right" style='font-size:20px'></i>
  		    </a>
  		    -->

	  	</div>
	  	<div class="form-group">	  		
	  		<input  class="btn-mode" type="button" id="btn-karaoke"
	  			data-bind="click: controls.modes.toggleKaraoke,
	  						enable: controls.modes.isAvail('karaoke'),
	  						css: {active : NL.zone.system_mode.karaoke(),
	  							'ui-state-disabled' : !controls.modes.isAvail('karaoke')}">
	  		<label class="control-label" for="tgl-karaoke"> Karaoke </label>
	  	</div>
	  	
  	  	<div class="form-group">	  		
  			<input  class="btn-mode" type="button" id="btn-dj-manual" 
  				data-bind="
  					click: controls.modes.toggleDjManual,  					
  					css: {active : NL.zone.system_mode.djManual(),
  					'ui-state-disabled' : false}">
  			<label class="control-label" for="tgl-dj_manual"> DJ Manual </label>
  		</div>  		
  		
   	  	<hr>	  

	  	<div class="form-group">	  		
	  		<input  class="btn-mode" type="button" id="btn-random" 
	  			data-bind="click: controls.modes.toggleRandom,
	  				enable: controls.modes.isAvail('random_number'),
	  				css: {active : NL.zone.system_mode.random(),
	  					'ui-state-disabled' : !controls.modes.isAvail('random_number')}">
	  		<label class="control-label" for="tgl-random"> Random Number </label>

			<!-- Ebrahim Mardani: Commented for now 
  		    <a class="pull-right btn-ms" href="#" title="Info" data-toggle="tab">
  		    	<i class="nm-icons-info pull-right" style='font-size:20px'></i>
  		    </a>
  		    -->

	  	</div>
	  	<div class="form-group">	  		
	  		<input  class="btn-mode" type="button" id="btn-bingo" 
	  			data-bind="click: controls.modes.toggleBingo,
	  				enable: controls.modes.isAvail('bingo'),
	  				css: {active : NL.zone.system_mode.bingo(),
	  					'ui-state-disabled' : !controls.modes.isAvail('bingo')}">
	  		<label class="control-label" for="tgl-bingo"> Bingo </label>
	  	</div>
        <!-- ko if: ( (NL.settings.selectedSystem() !== null) && 
        			  (NL.settings.selectedSystem() !== undefined) && 
        			  (NL.settings.selectedSystem().version.substr(0,4) === '3.92') ) -->
	  	<hr>	  
  	    <div class="form-group">	  		
  			<input  class="btn-mode" type="button" id="btn-juke" 
  				data-bind="
  					click: controls.modes.toggleJuke,  					
  					css: {active : NL.zone.system_mode.juke(),
  					'ui-state-disabled' : false && (!NL.zone.juke().connected || 
                        !controls.modes.isAvail('jukebox') )}">
  			<label class="control-label" for="tgl-bingo"> Jukebox </label>

			<!-- Ebrahim Mardani: Commented for now 
  		    <a class="pull-right btn-ms" href="#" title="Info" data-toggle="tab">
  		    	<i class="nm-icons-info pull-right" style='font-size:20px'></i>
  		    </a>
  		    -->

  		</div>
  	  	<div class="form-group">	  		
  			<input  class="btn-mode" type="button" id="btn-juke-freeplay" 
  				data-bind="
  					click: controls.modes.toggleJukeFreePlay,  					
  					css: {active : NL.zone.juke().connected,
  					'ui-state-disabled' : false && !NL.zone.juke().connected}">
  			<label class="control-label" for="tgl-bingo"> Freeplay Mode </label>
  		</div>  		
  		<div class="form-group">	  		
  			<i class="icon-plus-sign" id="btn-juke-credit"
  				data-bind="
  					click: controls.modes.addJukeCredit,  					
  					enable: NL.zone.system_mode.juke(),
  					css: {active : NL.zone.system_mode.juke(),
  					'ui-state-disabled' : !NL.zone.system_mode.juke() }"></i>
  			<label class="control-label" for="tgl-jukebox" id='add-credit-label'> Send Jukebox Credit </label>
  		</div>
        <!-- /ko -->
        
        <!-- Added by Ebrahim M --> 
   	  	<hr>	  
 	    <div class="form-group">
			<input  class="btn-mode" type="button" id="btn-crowdDJ" 
				data-bind="
					click: controls.modes.toggleCrowdDJ,  	
					enable: NL.settings.utopia.canIUse('request_zone', 'set_app_mode'),
					css: {active : NL.zone.system_mode.crowdDJ,
					'ui-state-disabled' : !NL.zone.system_mode.crowdDJ}">
			<label class="control-label" for="tgl-crowdDJ"> crowdDJ </label> 

  		    <a class="pull-right btn-ms" href="#" title="Expand / Collapse crowdDJ Detail"  id="btncrowdDJExpand"
  		    		data-bind="click: controls.modes.togglecrowdDJExpand">
  		    	<i class="nm-icons-cog pull-right" style='font-size:20px;color:black;'></i>
  		    </a>

		<div class="form-group">
			<input  class="btn-mode" type="button" id="btn-crowdDJ-freeplay" 
				data-bind="
					click: controls.modes.togglecrowdDJFreePlay, 					
					enable: NL.settings.utopia.canIUse('request_zone', 'set_credit_limits'),
					css: {active : NL.zone.system_mode.crowdDJFreePlay,
					'ui-state-disabled' : !NL.zone.system_mode.crowdDJFreePlay}">
			<label class="control-label" for="tgl-crowdDJFreePlay"> Freeplay Mode </label> </div>  		
		<div class="form-group">
			<i class="icon-plus-sign" id="btn-crowdDJ-credit"
				data-bind="
					click: controls.modes.sendCrowdDJCredit, 
					enable: NL.settings.utopia.canIUse('request_zone', 'set_credit_limits'),
					css: {active : true,
					'ui-state-disabled' : false}"></i>
			<label class="control-label" for="tgl-crowdDJ" id='add-credit-label'> Send crowdDJ Credits</label>
		</div>

      	<div style="display: none;" id="crowddj-credits-detail" >

			<hr>
			<div class="form-group credit-input">
				<div class="col-sm-4">
			  		<input type="text" class="form-control" name="txtCreditRefreshTime" 
			  			data-bind="	value: NL.zone.system_mode.crowdDJRefreshTime, 
			  						numeric:NL.zone.system_mode.crowdDJRefreshTime, 
			  					   valueUpdate: 'afterkeydown'" />
				</div>
				<label class="control-label" for="txtCreditRefreshTime">Credit Refresh Time (mins)</label>
			</div>  
			<div class="form-group credit-input">
				<div class="col-sm-4">
			  		<input type="text" class="form-control" name="txtMaxCredit" 
			  			data-bind="	value: NL.zone.system_mode.crowdDJMaxCredits, 
			  						numeric:NL.zone.system_mode.crowdDJMaxCredits,
			  					 	valueUpdate: 'afterkeydown'" />
				</div>
				<label class="control-label" for="txtMaxCredit">Maximum Credits</label>
			</div>  
			<div class="form-group">
				<div class="col-sm-8 col-sm-offset-3">
				  <button id="btnSaveCredits" type="button" class="btn btn-primary col-xs-16 col-sm-14" 
				  		data-bind="click: controls.modes.saveCrowdDJCredits"> Save Credits</button>           
				</div>
			</div>

		</div>

	</div>
</div>
</script>