<script type="text/html" id="advertising-gallery-add-photo">    
   
<form enctype="multipart/form-data" class="form-horizontal">
    <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse <input multiple id="advertising-gallery-file" name="imageField" type="file" 
                            accept=".jpg,.jpeg" data-bind='text: filename' />
                    </span>
                </span>
                <input type="text" id="advertising-gallery-file-text" class="form-control" 
                    data-bind="text: filename">
            </div>                                                                          
        </div>         
    </div> 
    <div id="files-list"  data-bind="foreach: NL.advertising.newFileList"> 
        <span data-bind="onRender: console.log($data)"></span>
        <div class="col-xs-4 thumbnail-container" >
            <span class="img-overlay">
               <i class="icon-ok" data-bind="visible: uploaded"></i>
            </span>
            <!-- ko if: loadProgress() < 100 -->
            <div class="img-cache-progress" 
                data-bind=" style: { width: loadProgress() + '%' }"
            >
            </div>
            <!-- /ko -->
            <!-- ko if: loadProgress() === 100 -->
            <img id="thumbnail-preview" class="img-thumbnail" data-bind="
                attr: { src : img.cacheSrc }, 
                css: {'uploaded' : uploaded}">
            </img>                        
            <!-- /ko -->      

            <div id="progressBarNarrow" 
                    data-bind="progress: uploadingProgress(), visible: (uploadingProgress() > 0) ">
            </div>
            <br>
            <span data-bind="text: filename"></span>               
        </div>
    </div>
</form>
<!-- ko if: 0 -->
<div class="form-group">            
     <div class="progress">
       <div id="gallery-progress" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">             
       </div>
     </div>                       
</div>
<!-- /ko -->
</script> 