<script type="text/html" id="advertising-create-gallery-modal">
<div class="panel-heading">
    <i class="nm-icons-cross pull-right"  data-dismiss="modal"></i>
    <h3 class="bold"><img src="assets/img/gallery-icon.svg"> Create New Gallery in <span data-bind='text: NL.advertising.activeTab'></span> advertising</h3>
</div>

<div class="panel-body">
    <div class="col-xs-8 col-sm-8 col-md-7">
        <form enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-12">
                    <p>Gallery Name: <input required type="text" id="advertising-gallery-filename" class="form-control"
                         data-bind="value: filename" placeholder="Please enter a name">
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4" >
                    <p>Date: <select class="form-control"
                        data-bind ="options: NL.advertising.allDate,
                                    optionsText:'label',
                                    optionsValue:'value',
                                    value: selDate"></select></p>
                </div>
                <div class="col-xs-4" data-bind="if: selDate() === 'specific'">
                    <p>Start Date: <input type="text" class=" form-control" id="date-ad-start"
                        data-bind="
                            datepicker: start_date,
                            datepickerOptions: {dateFormat: 'dd/mm'}
                        ">
                    </p>
                </div>
                <div class="col-xs-4" data-bind="if: selDate() === 'specific'">
                    <p>End Date: <input type="text" class=" form-control" id="date-ad-end"
                        data-bind="datepicker: end_date, datepickerOptions: {dateFormat: 'dd/mm'}">
                    </p>
                </div>
                <div class="col-xs-4">
                    <p>Start Day:
                        <select class="form-control"
                            data-bind="options: NL.advertising.days,
                                    value: start_day,
                                    optionsText: 'label',
                                    optionsValue: 'value'">
                        </select>
                    </p>
                </div>
                <div class="col-xs-4" data-bind="visible: start_day() !== 'All'">
                    <p>End Day:
                        <select class="form-control"
                            data-bind="options: NL.advertising.days.slice(1),
                                        value: end_day,
                                        optionsText: 'label',
                                        optionsValue: 'value'">
                        </select>
                    </p>
                </div>
                <div class="col-xs-4">
                    <p>Start Time: <select class="form-control" id="time-ad-start"
                        data-bind="options: NL.advertising.times, value: start_time"></select></p>
                </div>
                <div class="col-xs-4" data-bind="visible: start_time() !== 'All Day'">
                    <p>End Time: <select class="form-control" id="time-ad-end"
                        data-bind="options: NL.advertising.times.slice(1), value: end_time"></select></p>
                </div>
                <div class="col-xs-4">
                    <p>Display Time(s): <input class="form-control" value="120" type="number" min="0" max="120" data-bind="value: num_secs"></p>
                </div>                  
                <div class="col-xs-4" data-bind="visible:NL.advertising.activeTab()==='priority'">
                    <p>Plays Per Hour:
                        <input class="form-control" value="99" type="number" min="0" max="99"
                            data-bind="value: plays_per_hour">
                    </p>
                </div>                
            </div>
        </form>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-5">
    <p>Add Photos to Gallery
        <!-- ko template: { name: "advertising-gallery-add-photo" } --><!-- /ko -->
        </p>
    </div>

    <button class="btn btn-success pull-right" value="Submit Content"
      data-bind="click: controls.advertising.createGallery,
    enable: filename() !== '' && filename() !== undefined">
        Save &amp; Upload
        <i class="icon-upload-alt" data-bind="visible: NL.advertising.uploadInProgress() === false"></i>
        <img src="assets/img/spinner-dark.gif" data-bind="visible: NL.advertising.uploadInProgress() === true"/>
    </button>
    <button class="btn btn-default pull-right" value="Cancel" data-dismiss="modal">
        Cancel
    </button>
</div>

</script>
