<script type="text/html" id="advertising-gallery">           
           <div class="panel-heading">
              <h4><i class="icon-user"/> Galleries</h4>
           </div>
<!-- ko template: { name: 'advertising-assets-table', data: $data } --><!-- /ko -->


</script>        