<script type="text/html" id="advertising-edit-gallery-modal">
<div class="panel-heading">
    <h3 class="bold">Add Photos <span data-bind="if: filename">to </span> <span data-bind="text: filename" /> </h3>
</div>
<div class="panel-body">
    <div>
        <!-- ko template: { name: "advertising-gallery-add-photo" } --><!-- /ko -->
    </div>

    <button class="btn btn-success pull-right" value="Submit Content"
      data-bind="click: controls.advertising.editGallery">
        Save &amp; Upload
        <i data-bind="
            css: {'icon-save' : NL.advertising.newFileList().length === 0,
                'icon-upload-alt' : NL.advertising.newFileList().length > 0,
            },
            visible: NL.advertising.uploadInProgress() === false">
        </i>
        <img src="assets/img/spinner-dark.gif" data-bind="visible: NL.advertising.uploadInProgress() === true"/>
    </button>
    <button type="" class="btn btn-default pull-right" value="Cancel" data-dismiss="modal">
        Cancel
    </button>
</div>
</script>




<script type="text/html" id="advertising-edit-gallery">
<div class="panel-body">
   <form enctype="multipart/form-data" class="form-horizontal">
       <div class="form-group">
               <div class="panel-heading">
                   <h3 data-bind="text: filename"> </h3>
               </div>
       </div>
        <div class="form-group">
            <div class="col-xs-4">
                <p>Start Date: <input type="text" class=" form-control" id="date-ad-start"
                    data-bind="datepicker: start_date, datepickerOptions: {dateFormat: 'D dd M'}">
                </p>
            </div>
            <div class="col-xs-4">
                <p>End Date: <input type="text" class=" form-control" id="date-ad-end"
                    data-bind="datepicker: end_date, datepickerOptions: {dateFormat: 'D dd M'}">
                </p>
            </div>
            <div class="col-xs-4">
                <p>Display Time (seconds): <input class="form-control" value="120" type="number" min="0" max="120"
                    data-bind="value: num_secs">
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                <p>Start Time: <select class="form-control" id="time-ad-start"
                    data-bind="options: NL.advertising.times, value: start_time"></select></p>
            </div>
            <div class="col-xs-4" data-bind="visible: start_time() !== 'All Day'">
                <p>End Time: <select class="form-control" id="time-ad-end"
                    data-bind="options: NL.advertising.times.slice(1), value: end_time"></select></p>
            </div>
            <div class="col-xs-4" >
                <p>Plays Per Hour :
                    <input class="form-control" value="99" type="number" min="0" max="99"
                        data-bind="value: plays_per_hour">
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                <p>Start Day:
                    <select class="form-control"
                        data-bind="options: NL.advertising.days,
                                value: start_day,
                                optionsText: 'label',
                                optionsValue: 'value'">
                    </select>
                </p>
            </div>
            <div class="col-xs-4" data-bind="visible: start_day() !== 'All'">
                <p>End Day:
                    <select class="form-control"
                        data-bind="options: NL.advertising.days.slice(1),
                                    value: end_day,
                                    optionsText: 'label',
                                    optionsValue: 'value'">
                    </select>
                </p>
            </div>
        </div>

    </form>
</div>
</script>
