<script type="text/html" id="advertising-channel">

<div class='panel-body no-horiz-padding no-vert-padding' data-bind="css: {
                            'col-xs-9 col-md-8 col-lg-9' : $data.sidebarVisible() && !isMiniAd(),
                            'col-xs-12' : !$data.sidebarVisible() }" >
	<div class='panel-body-content'>
      <!-- ko template: { name: "advertising-video-switcher",  data: $data  } --><!-- /ko -->	  
      <!-- ko template: { name: 'advertising-asset-topbar',
      					  data: $data.currentEdittingModel(),
      					  if  : $data.sidebarVisible() } -->
      <!-- /ko -->
	  <!-- ko template: { name: 'advertising-assets-table', data: $data } --><!-- /ko -->
	</div>
</div>

<!-- ko template: { name: 'advertising-asset-sidebar', 
					data: $data.currentEdittingModel(), if: ( $data.sidebarVisible() ) } -->
<!-- /ko -->  

</script>
