<script type="text/html" id="advertising-app">
<!-- ko if: NL.settings.connectionMethod() === 'utopia' -->
<div class="col-xs-4 col-lg-2 no-float">
  <div class="panel-body">
     <form class="form">
       <div class="form-group">
         <p>Header: 
          <input data-bind="value: header" class="form-control" type="text">
          </input>
        </p>
        </div> 
        <div class="form-group">
          Sub Header: <input data-bind="value: sub_header" class="form-control" type="text"></input>
        </div>
        <div class="form-group"> 
          Body : <input data-bind="value: body_text" class="form-control" type="text"></input>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    Logo <input id="advertising-app-logo" name="imageField" type="file" 
                        data-bind='files: loadLogo' />
                </span>
            </span>
            <input type="text" id="advertising-app-logo-text" class="form-control" 
                data-bind="value: filename">
          </div>
        </div>
        <div class="form-group">
          Background Colour : <input 
          data-bind="value: bg_color" class="form-control" type="color"></input>
        </div>
        <div class="form-group">
          <button class="form-control" data-bind="click : controls.advertising.appSetIntro"> Submit </button>
        </div>
    </form> 
  </div>
</div>

<div class="col-xs-4 col-lg-5 no-float" style="background: grey;">
  <div id="app-ad-preview" 
      data-bind="style : { color : 'white',
        backgroundColor : bg_color }">
    <div class = "app-ad-container">
      <div class="main-image">
        <img data-bind="attr : {src  : imgSrc }" />
      </div>
      
      <div class="app-ad-text">
        <h1 data-bind="text: header"></h1>
        <h2 data-bind="text: sub_header"></h2>
        <p data-bind="text: body_text"></p>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-4 col-lg-5 no-float">
  <iframe data-bind="attr : {src : NL.venue.appAd().page_url }" style="width: 100%; height: 100%">

  </iframe>
</div>
<!-- /ko -->
<!-- ko if: NL.settings.connectionMethod() === 'local' -->
  Please connect via Nightlife to modify in-app advertising.
<!-- /ko -->
</script> 