<script type="text/html" id="advertising-controls">
    <!-- Fri 25 Sep 15 2:05 PM Ebrahim Mardani: Added for Scrolling Text 
    <div class="btn btn-default pull-right unfocused ad-players-button"  
        data-bind = "click: controls.scrollingText.toggleScrollingText, 
                     css:{ 'active' : NL.textScrolling.scrollingTextVisible }"> 
          <span>Scrolling Text</span>
          <i class="icon-text-width" data-bind="tooltip: $($element).tooltip()"
                      data-placement="right" data-original-title="Scrolling Text" />
    </div>
    -->
  <!-- ko if: assetListConfig.canSearchFilter() === true -->
  <span class="search-input-container pull-right" data-bind=
        "visible: !NL.textScrolling.scrollingTextVisible()">
      <input type="text" data-bind="attr: {'placeholder' : 'Search Filenames'}, value: NL.advertising[NL.advertising.activeTab()].searchStr, valueUpdate: 'keyup' " />
      <i class="nm-icons-cross clear-search"  data-bind="visible: NL.advertising[NL.advertising.activeTab()].searchStr, click: controls.advertising.clearSearchFilter" />
  </span>
  <!--/ko -->

  <div class="dropdown asset-filter pull-right" 
            data-bind="visible: !NL.textScrolling.scrollingTextVisible()" >
    <div class="btn btn-primary dropdown-toggle unfocused" id="asset-filter-dropdown" data-toggle="dropdown">
      <span style="padding-right:5px;">Filter: </span><span style='font-family: "open_sanssemibold";' data-bind="text: ' ' + NL.advertising.filter().name, style: {'color': NL.advertising.filter().name === 'All' ? 'inherit' : 'orangered'}"></span>
      <span class="caret"></span>
    </div>
    <ul class="dropdown-menu" role="menu"  aria-labelledby="asset-filter-dropdown">
      <!-- ko foreach: NL.advertising.filterTypes-->
      <li><a role="menuitem" href="#" data-bind="text:name, click: NL.advertising.filter">All</a></li>
      <!-- /ko -->
    </ul>

  </div>

  <!-- ko if: assetListConfig.canTogglePlayers() === true -->
    <div class="btn btn-default pull-right unfocused ad-players-button"  
        data-bind="click: controls.advertising.togglePlayers,
                   visible: !NL.textScrolling.scrollingTextVisible(),
                   css:{ 'active' : NL.advertising.playersVisible}"> 
          <span>Playback Controls</span>
          <i class="nm-icons-film" data-bind="tooltip: $($element).tooltip()"
                        data-placement="right" data-original-title="Playback Controls" />
    </div>
  <!-- /ko -->

  <!-- ko if: assetListConfig.canEditInPlace() === true -->
    <div class="btn btn-default pull-right unfocused" data-bind="click: controls.advertising.toggleEditMode, css:{ 'active' : NL.advertising.DAListEditMode}"> Edit in Place
       <i class="icon-pencil" />
    </div>
  <!-- /ko -->


</script>
