<script type="text/html" id="advertising-msg-sidebar">
    <div class="col-xs-3 col-md-4 col-lg-3 nm-panel-sidebar sidebar-advertising-edit-msg-sidebar"
                  style="background-color:beige" data-bind="visible: !isMiniAd()">
    <div>
            <i class="nm-icons-cross" data-bind="click: controls.scrollingText.cancelEditing"/>
            <form enctype="multipart/form-data" class="form-horizontal sidebar-asset-details">
                <div class="form-group">
                    <h5 data-bind="text:('Slot:' + slot() )" ></h5>
                    <div style="width:94%;margin-left:4%;margin-top:7px;">
                        
                         <input type="text" class="form-control"
                          placeholder="Type your new message"
                          data-bind ="value:text,
                                      valueUpdate: 'afterkeydown',
                                      hasFocus: true" />
                    </div>
                    <div class="row">
                        
                    </div>                    
                </div>
                <div class="form-group" style="margin-top:20px;">
                  <h5>Scheduling:</h5>
                  <hr />
                  <div class="row">
                      <div class="col-xs-4 input-label"  >
                          Date:
                      </div>                      
                      <div class="col-xs-8" >
                        <select class="form-control"
                              data-bind ="options: NL.textScrolling.allDate, 
                                          optionsText:'label', 
                                          optionsValue:'value',
                                          value: selDate"></select>
                      </div>
                      <div class="col-xs-4 input-label" data-bind="if: selDate() === 'specific'">
                          Start Date:
                      </div>
                      <div class="col-xs-8" data-bind="if: selDate() === 'specific'">
                           <input id="edit-start-date" type="text" id="date-ad-start"
                                data-bind ="datepicker: start_date, 
                                            datepickerOptions: {dateFormat: 'D dd M'}">
                      </div>
                      <div class="col-xs-4 input-label" data-bind="if: selDate() === 'specific'">
                          End Date:
                      </div>
                      <div class="col-xs-8" data-bind="if: selDate() === 'specific'">
                          <input id="edit-end-date"  type="text" id="date-ad-end"
                              data-bind="datepicker: end_date, 
                                         datepickerOptions: {dateFormat: 'D dd M'}" />
                          <hr />
                      </div>

                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-4 input-label">
                        Start Day:
                    </div>
                    <div class="col-xs-8">
                      <select
                          data-bind="options: NL.textScrolling.days,
                                  value: start_day,
                                  optionsText: 'label',
                                  optionsValue: 'value'">
                      </select>
                    </div>
                    <div class="col-xs-4 input-label" data-bind="if: start_day() !== 'All'" >
                        End Day:
                    </div>
                    <div class="col-xs-8" data-bind="if: start_day() !== 'All'">
                      <select
                          data-bind="options: NL.textScrolling.days.slice(1),
                                      value: end_day,
                                      optionsText: 'label',
                                      optionsValue: 'value'">
                      </select>
                    </div>
                  </div>
                </div>
                <hr />               
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-4 input-label">
                        Start Time:
                    </div>

                    <div class="col-xs-8">
                     <select id="time-ad-start"
                          data-bind="options: NL.textScrolling.times, value: start_time"></select>
                    </div>
                    <!-- Ebrahim M : replace visible with if -->
                    <div class="col-xs-4 input-label" data-bind="if: start_time() !== 'All Day'">
                        End Time:
                    </div>
                    <div class="col-xs-8" data-bind="if: start_time() !== 'All Day'">
                     <select  id="time-ad-end"
                            data-bind="options: NL.textScrolling.times.slice(1), value: end_time"></select>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="form-group" style="margin-top:20px;">
                  <h5>Scrolling Params:</h5>
                  <hr />
                  <div class="row">                    
                    <div class="col-xs-4 input-label"  >
                        Speed:
                    </div>
                    <div class="col-xs-8" >
                      <select class="form-control"
                            data-bind ="options: NL.textScrolling.allSpeed, 
                                        optionsText:'label', 
                                        optionsValue:'value',
                                        value: speed"></select>
                      <hr />
                    </div>

                    <div class="col-xs-4 input-label"  >
                        Frequency:
                    </div>
                    <div class="col-xs-8" >
                      <select class="form-control"
                            data-bind ="options: NL.textScrolling.allFreq, 
                                        optionsText:'label', 
                                        optionsValue:'value',
                                        value: frequency"></select>
                    </div>

                  </div>
                </div>

            </form>
        </div>
        <!-- ko if:((NL.settings.selectedSystem()!== null) && 
                                          (NL.settings.selectedSystem()!== undefined)) -->
        <div class="bottom-bar" data-bind="css: {'disabled' : !(NL.settings.utopia.canIUse('request_system','set_scrolling_text')()
                      && ( (NL.settings.selectedSystem().da_access === 'priority') ||
                           ((NL.advertising.activeTab() === 'user') &&
                           (NL.settings.selectedSystem().da_access === 'user'))
                         )) }">
            <p align="center" class="label-view-only"
                        data-bind="visible: !(NL.settings.utopia.canIUse('request_system','set_scrolling_text')()
                            && ( (NL.settings.selectedSystem().da_access === 'priority') ||
                                 ((NL.advertising.activeTab() === 'user') &&
                                 (NL.settings.selectedSystem().da_access === 'user'))
                                ) )">
                        <i class="icon-lock"  /> Editing Disabled: View Only Access </p>
              <span style="margin-right:15px;">
                <!-- ko if: ( NL.settings.utopia.canIUse('request_system','set_scrolling_text')()
                            && ( (NL.settings.selectedSystem().da_access === 'priority') ||
                                 ((NL.advertising.activeTab() === 'user') &&
                                 (NL.settings.selectedSystem().da_access === 'user'))
                            )) -->
                <span class="delete-btn"
                  data-bind="click: controls.scrollingText.deleteTextMsg">
                    <span data-bind="text: NL.textScrolling.deleteInProgress() === true ? 'Deleting...' : 'Delete'">Delete
                    </span>
                    <i class="nm-icons-control-trash" data-bind="visible: NL.textScrolling.deleteInProgress() === false"></i>
                    <img src="assets/img/spinner.gif" data-bind="visible:NL.textScrolling.deleteInProgress() === true"/>
                </span>
                <!-- /ko -->

                <button type="submit" class="btn btn-default" value="Cancel"
                  data-bind="click: controls.scrollingText.cancelEditing,
                            enable: (NL.settings.utopia.canIUse('request_system','set_scrolling_text')()
                                 && ( (NL.settings.selectedSystem().da_access === 'priority') ||
                                      ((NL.advertising.activeTab() === 'user') &&
                                      (NL.settings.selectedSystem().da_access === 'user'))
                                    ) )"> Cancel
                </button>

            <!-- ko if: $parent.selectedTextMsg().length === 1 -->
               <button type="submit" class="btn btn-success" value="Submit Content"
                  data-bind="click: controls.scrollingText.editAsset,
                             enable: (NL.settings.utopia.canIUse('request_system','set_scrolling_text')()
                                  && ( (NL.settings.selectedSystem().da_access === 'priority') ||
                                       ((NL.advertising.activeTab() === 'user') &&
                                       (NL.settings.selectedSystem().da_access === 'user'))
                                      ) )">
                    <span data-bind="text: NL.textScrolling.uploadInProgress() === true ? 'Saving...' : 'Save'">Save </span>
                    <i class="icon-check" data-bind="visible: NL.textScrolling.uploadInProgress() === false"></i>
                    <img src="assets/img/spinner.gif" data-bind="visible: NL.textScrolling.uploadInProgress() === true"/>
                </button>
            <!-- /ko -->

          </span>
        </div>
        <!-- /ko -->

    </div>
</script>
