<script type="text/html" id="advertising-instagram-modal">
<div class="panel-heading">
    <i class="nm-icons-cross pull-right"  data-dismiss="modal"></i>
    <h3 class="bold"><img src="assets/img/instagram-icon.svg"> Create Instagram feed in <span data-bind='text: NL.advertising.activeTab'></span> advertising</h3>
</div>
<div class="panel-body">
        <form enctype="multipart/form-data" class="form-horizontal">
            <div class="col-xs-12" data-bind="css: {'alert-danger': access_token() === ''}">
                <div class="col-xs-12">
                    <a class="btn btn-default" data-bind="attr: { href : authURL}, visible: access_token() === ''">
                        <i class="icon-instagram"></i>
                        Login to Instagram
                    </a>
                    <div class="badge badge-success"
                        data-bind="visible: access_token() !== '' && username !== ''">
                        <i class="icon-instagram"></i>
                        Signed In as <span data-bind="text: username"></span>
                    </div>
                    <a class="text-danger"
                        data-bind="click: controls.instagram.removeToken, visible: access_token() !== ''"
                        >   [Sign Out]
                    </a>
                </div>
            </div>
            <fieldset data-bind="attr: {'disabled' : access_token() === ''}">
                <div class="form-group">
                    <div class="col-xs-8">

                    </div>
                    <!--<div class="col-xs-4">
                        <iframe
                          data-bind="attr : {src : 'http://'+_url }" style="visibility: hidden"
                        ></iframe>
                    </div> -->
                </div>
                <div class="form-group col-xs-5">
                    <div class="col-xs-12">
                        <h4>Content:</h4>
                    </div>
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs instagram-source">
                          <li role="presentation" class="active"><a href="#tab-uname"
                                data-bind="click:function() {
                                        NL.instagram.sourceMode('uname');
                                        $(location).attr('href' , '#tab-uname');}">Username</a></li>
                          <li role="presentation" ><a href="#tab-hashtag"
                                data-bind="click:function() {
                                        NL.instagram.sourceMode('hashtag');
                                        $(location).attr('href' , '#tab-hashtag');}">Hashtag</a></li>
                          <!-- Ebrahim M : set the display to none  -->
                          <li role="presentation" style="display: none" ><a href="#tab-both">Both</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade " id="tab-hashtag" >
                                <p>Hashtag to Display</p>
                                  <div class="input-group">
                                        <div class="input-group-addon">#</div>
                                        <input type="text" class="form-control"
                                            data-bind="value: tag">
                                  </div>
                            </div>

                            <div class="tab-pane fade active in" id="tab-uname">
                                <p>Username to Display</p>
                                  <div class="input-group">
                                        <div class="input-group-addon">@</div>
                                        <input type="text" class="form-control"
                                            data-bind="value: uname">
                                  </div>
                            </div>

                            <div class="tab-pane fade" id="tab-both">
                                <p>Username to Display</p>
                                  <div class="input-group">
                                        <div class="input-group-addon">@</div>
                                        <input type="text" class="form-control"
                                            data-bind="value: uname">
                                  </div>
                                  <p>Hashtag to Display</p>
                                  <div class="input-group">
                                        <div class="input-group-addon">#</div>
                                        <input type="text" class="form-control"
                                            data-bind="value: tag">
                                  </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div class="col-xs-12">
                        <h4>Advanced Settings:  <input type="checkbox" name="advanced" value="advanced"
                                            data-bind="checked: NL.instagram.advancedSettingsShown"></h4>
                    </div>
                    <div class="col-xs-10" data-bind="visible: NL.instagram.advancedSettingsShown">
                        <p> Display time (min 7s) </p>
                        <p><input type="text" class="form-control" data-bind="value: displayTime" /></p>

                        <p>Limit (max number)</p>
                        <p><input type="text" class="form-control" data-bind="value: limitNumber" /></p>
                    </div>
                </div>

                <div class="form-group col-xs-7">
                    <div class="col-xs-12">
                        <h4>Slide Display Settings:</h4>
                    </div>
                    <div class="col-xs-6" >
                        <p>Date: <select class="form-control"
                            data-bind ="options: NL.advertising.allDate,
                                        optionsText:'label',
                                        optionsValue:'value',
                                        value: selDate"></select></p>
                    </div>

                    <div class="col-xs-6" style="clear:both" 
                                        data-bind="if: selDate() === 'specific'">
                        <p>Start Date: <input id="edit-start-date" type="text" class="form-control" id="date-ad-start"
                            data-bind="datepicker: start_date,
                                datepickerOptions: {dateFormat: 'D dd M'}">
                        </p>
                    </div>
                    <div class="col-xs-6" data-bind="if: selDate() === 'specific'">
                        <p>End Date: <input id="edit-end-date" type="text" class=" form-control" id="date-ad-end"
                            data-bind="
                                datepicker: end_date,
                                datepickerOptions: {dateFormat: 'D dd M'}">
                        </p>
                    </div>
                    <div class="col-xs-6" style="clear:both" >
                        <p>Start Day:
                            <select class="form-control"
                                data-bind="
                                        options: NL.advertising.days,
                                        value: start_day,
                                        optionsText: 'label',
                                        optionsValue: 'value'">
                            </select>
                        </p>
                    </div>
                    <div class="col-xs-6" data-bind="visible: start_day() !== 'All'">
                        <p>End Day:
                            <select class="form-control"
                                data-bind="options: NL.advertising.days.slice(1),
                                            value: end_day,
                                            optionsText: 'label',
                                            optionsValue: 'value'">
                            </select>
                        </p>
                    </div>

                    <div class="col-xs-6" style="clear:both" >
                        <p>Start Time: <select class="form-control" id="time-ad-start"
                            data-bind="
                                options: NL.advertising.times, value: start_time"
                        ></select></p>
                    </div>
                    <div class="col-xs-6" data-bind="visible: start_time() !== 'All Day'">
                        <p>End Time: <select class="form-control" id="time-ad-end"
                            data-bind="
                                options: NL.advertising.times.slice(1), value: end_time">
                            </select></p>
                    </div>
                    <div class="col-xs-6">
                        <p>Display Time (sec.):  <input class="form-control" value="120" type="number" min="0" max="120"
                            data-bind="value: num_secs"></p>
                    </div>
                    <div class="col-xs-6" data-bind="visible: NL.advertising.activeTab() === 'priority'">
                        <p>Plays Per Hour:
                            <input class="form-control" value="99" type="number" min="0" max="99"
                                data-bind="value: plays_per_hour">
                        </p>
                    </div>
                    <div class="col-xs-6 checkbox" data-bind="visible:false">
                        <p>
                           Fill Screen <input id="chk-squish" type="checkbox" data-bind="checked: squish">
                        </p>
                    </div>
                </div>
            </fieldset>
        </form>

        <button class="btn btn-success pull-right" value="Submit Content"
          data-bind="click: controls.advertising.addInstagramPage, enable: NL.instagram.access_token() !== ''">
            Save &amp; Upload
            <i class="icon-upload-alt" data-bind="visible: NL.advertising.uploadInProgress() === false"></i>
            <img src="assets/img/spinner-dark.gif" data-bind="visible: NL.advertising.uploadInProgress() === true"/>
        </button>
        <button type="" class="btn btn-default pull-right" value="Cancel"   data-dismiss="modal" >
            Cancel
        </button>
</div>

</script>
