<script type="text/html" id="advertising-user">  
<div>
    <!-- ko template: { name: "advertising-video-switcher", data : { 'tab' : 'user', 'videoModeId' : 'UA'} } --><!-- /ko -->          
</div>
    <!-- ko template: { name: 'advertising-scrolling-text', data: $data } --><!-- /ko -->
    <!-- ko template: { name: 'advertising-assets-table', data: $data } --><!-- /ko -->
</script>        