<script type="text/html" id="advertising-toi-modal">

        <!-- ko foreach: NL.advertising.fontFamilies()-->
            <link data-bind="attr: {href: 'assets/toi/font-css/' + name + '.css'}" rel='stylesheet' type='text/css' />
        <!-- /ko -->
        
        <div class="panel-heading">
            <i class="nm-icons-cross pull-right"  data-dismiss="modal" ></i>
            <h3 class="bold"><img src="assets/img/html-icon.svg"> Post TOI to <span data-bind='text: NL.advertising.activeTab()'></span> advertising</h3>

                <p data-bind="if: NL.advertising[NL.advertising.activeTab()].TOIwizardpage() === 1"><strong>Upload</strong> a background image to get started.</p>
                <p data-bind="if: NL.advertising[NL.advertising.activeTab()].TOIwizardpage() === 2"><strong>Create</strong> text boxes and display.</p>
                <p data-bind="if: NL.advertising[NL.advertising.activeTab()].TOIwizardpage() === 3"><strong>Configure</strong> slide display parameters.</p>
        </div>
        <div class="panel-body">
            
            <div class="column-toi-preview" >
                <div class="toi-preview-container" style="border: 1px solid lightgray; overflow: hidden;" data-bind="
                visible: NL.advertising[NL.advertising.activeTab()].TOIwizardpage() <= 2,
                style: {
                    height: NL.advertising.newTOIAsset.previewContainerHeight() + 'px',
                    width: NL.advertising.newTOIAsset.previewContainerWidth() + 'px',
                    backgroundColor: '#' + NL.advertising.newTOIAsset.bgColor()}">
                   
                    <div class="upload-dialog-container bounceInUp" data-bind="visible: NL.advertising.toiUploadDialogVisible() == true">
                        <form enctype="multipart/form-data" class="form-horizontal" data-bind="visible: NL.advertising.toiImageProcessing() == false" >

                                    <h4><i class="icon icon-picture pull-right" />Pick an Image</h4>
                                    <input id="toi-image-file" name="imageField" type="file" accept=".jpg,.mpg,.swf,.mp4"   data-bind='text: filename' />
                                    <p>Supported formats: JPEG, PNG. Optimal size: 1920x1080px</p>
                        </form>

                        <h3 data-bind="visible: NL.advertising.toiImageProcessing() == true">Loading...</h3>
                        
                    </div>
                    
                    <div class="text-container" data-bind="
                        visible: NL.advertising[NL.advertising.activeTab()].TOIwizardpage() === 2,
                        style:{
                            'margin-top': NL.advertising.newTOIAsset.verticalOffset() + 'px' 
                        }">
                            <div data-bind="foreach: NL.advertising.newTOIAsset.tbArray">
                                <input style="text-align: center;" 
                                type="text"
                                placeholder="Type Text Here"
                                autocomplete="off"
                                class="toi-textline"
                                data-bind="
                                attr: {
                                    id: 'textLine' + $index(),
                                    name: 'textLine' + $index(),
                                    'data-number': $index
                                },
                                style: {
                                    fontFamily: NL.advertising.newTOIAsset.fontFamily(), 
                                    fontSize: NL.advertising.newTOIAsset.textSize() + 'em',
                                    color: '#' + NL.advertising.newTOIAsset.textColour(),
                                    'margin-bottom': NL.advertising.newTOIAsset.verticalSpacing() + 'px'
                                }, 
                                value: content,
                                css: {
                                    'bold' : NL.advertising.newTOIAsset.bold(),
                                    'shadowed' : NL.advertising.newTOIAsset.shadowed(),
                                    'border-guide' : NL.advertising.newTOIAsset.borderguides() === true
                                }"/>
                            </div>
                    </div>
                    <div class="img-container" data-bind="
                            style: {'opacity' : NL.advertising.newTOIAsset.bgOpacity()/100}
                        ">
                    </div>
                </div>
            </div>
            <!-- ko if: NL.advertising[NL.advertising.activeTab()].TOIwizardpage() === 2 -->
            <div class="column-toi-controls">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#text" aria-controls="text" role="tab" data-toggle="tab">Text</a>
                    </li>
                    <li role="presentation">
                        <a href="#bg" aria-controls="bg" role="tab" data-toggle="tab">Background</a>
                    </li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="text">
                        
                        <div class="toi-config-tb-group">
                            <div class="toi-config-label" >Text Boxes</div>
                            <div class="num-text-boxes input-group">
                                <div class="input-group-addon" data-bind="
                                        click: function(){controls.advertising.textBoxAddRemove('remove');},
                                        css: { 'disabled' : NL.advertising.newTOIAsset.tbArray().length === 1}
                                        ">-</div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="1" data-bind="value: NL.advertising.newTOIAsset.tbArray().length">
                                <div class="input-group-addon" data-bind="
                                        click: function(){controls.advertising.textBoxAddRemove('add');},
                                        css: { 'disabled' : NL.advertising.newTOIAsset.tbArray().length === 6}
                                        ">+</div>
                            </div>
                        </div> 
                        

                        <div class="toi-config-font-group">
                            <span class="toi-config-label" for="selectbasic">Font</spanl>
                            <span class="dropdown-container">
                                <span class="fontchange dropdown" data-bind="
                                    click: controls.advertising.expandFontListDropDown,
                                    css: {'active' : NL.advertising.fontListDropDownOpen() === true}">
                                    <span data-bind=" 
                                    text: NL.advertising.newTOIAsset.fontFamily(),
                                    style: {fontFamily: NL.advertising.newTOIAsset.fontFamily()}"/>
                                    <i class="icon icon-caret-down pull-right" />
                                </span>
                                <ul class="dropdown-list" data-bind="visible: NL.advertising.fontListDropDownOpen(), foreach: NL.advertising.fontFamilies">
                                    <li data-bind="style: {fontFamily:name}, text: name, click:  controls.advertising.chooseTOIFontFamily">Open Sans</li>
                                </ul>
                            </span>
                        </div>

                        <div class="toi-slider-group">
                            <span class="toi-config-label toi-slider-label">Text Size</span>
                            <div id="slider-font-size" class="toi-slider"  data-bind=
                                "slider: NL.advertising.newTOIAsset.textSize, 
                                sliderOptions:  {min: 1, max: 6, range: 'min', step: 0.01}">
                            </div>
                            <span class="toi-slider-value" data-bind="text: NL.advertising.newTOIAsset.textSize()"></span>
                        </div>    

                        <div class="toi-color-group">
                            <span class="toi-config-label toi-color-label ">Text Color</span>

                            <input id="inputcolor" class="toi-color-preview" value="#ffffff" data-bind="
                            value:  NL.advertising.newTOIAsset.textColour(),
                                textInput: NL.advertising.newTOIAsset.textColour(),
                                valueUpdate: 'input',
                                click: function(){controls.advertising.toggleColorPickerVisible('textColorPicker')},
                                style: {backgroundColor: '#' + NL.advertising.newTOIAsset.textColour()}
                            " />
                            
                            <div class="color-picker-container callout-top" data-bind="visible: NL.advertising.textColorPickerVisible()">
                                <h3>Pick a text color <i class="nm-icons-cross pull-right" data-bind="click: function(){controls.advertising.toggleColorPickerVisible('textColorPicker')}"></i></h3>
                                
                                <div id="picker1" data-bind="
                                    farbtastic: NL.advertising.newTOIAsset.textColour,
                                    farbtasticOptions: {
                                        targetInput: '#inputcolor',
                                    }
                                "></div>
                            </div>
                        </div>                        

                        <div class="toi-slider-group">
                            <span class="toi-config-label toi-slider-label">Position</span>
                            <div id="slider-font-size" class="toi-slider"  data-bind=
                                "slider: NL.advertising.newTOIAsset.verticalOffset, 
                                sliderOptions:  {min: 0, max: 360, range: 'min', step: 1}">
                            </div>
                            <span class="toi-slider-value" data-bind="text: NL.advertising.newTOIAsset.verticalOffset()"></span>
                        </div>                            

                        <div class="toi-slider-group">
                            <span class="toi-config-label toi-slider-label">Spacing</span>
                            <div id="slider-font-size" class="toi-slider"  data-bind=
                                "slider: NL.advertising.newTOIAsset.verticalSpacing, 
                                sliderOptions:  {min: 0, max: 100, range: 'min', step: 1}">
                            </div>
                            <span class="toi-slider-value" data-bind="text: NL.advertising.newTOIAsset.verticalSpacing()"></span>
                        </div>

                        <div class="toi-config-group">
                            <div class="toi-config-label" >Text Style</div>
                            <button class="btn btn-bold-switch bold" data-bind="
                                css: { 'on' : NL.advertising.newTOIAsset.bold()}, 
                                click: controls.advertising.toggleTOIBold ">Bold</button>
                            <button class="btn btn-shadowed-switch" data-bind="
                                css: { 'on' : NL.advertising.newTOIAsset.shadowed()}, 
                                click: controls.advertising.toggleTOIShadowed ">Shadowed</button>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="bg">
                        <div class="toi-slider-group">
                            <span class="toi-config-label toi-slider-label">Opacity</span>
                            <div id="slider-font-size" class="toi-slider"  data-bind=
                                "slider: NL.advertising.newTOIAsset.bgOpacity, 
                                sliderOptions:  {min: 1, max: 100, range: 'min', step: 1}">
                            </div>
                            <span class="toi-slider-value" data-bind="text: NL.advertising.newTOIAsset.bgOpacity()"></span>
                        </div>
                        <div class="toi-color-group">
                            <span class="toi-config-label toi-color-label ">Color</span>

                            <input id="bgcolor" class="toi-color-preview" value="#ffffff" data-bind="
                            value:  NL.advertising.newTOIAsset.bgColor(),
                                textInput: NL.advertising.newTOIAsset.bgColor(),
                                valueUpdate: 'input',
                                click: function(){controls.advertising.toggleColorPickerVisible('bgColorPicker')},
                                style: {backgroundColor: '#' + NL.advertising.newTOIAsset.bgColor()}
                            " />
                            
                            <div class="color-picker-container callout-top" data-bind="visible: NL.advertising.bgColorPickerVisible()">
                                <h3>Pick a BG color <i class="nm-icons-cross pull-right" data-bind="click: function(){controls.advertising.toggleColorPickerVisible('bgColorPicker')}"></i></h3>
                                
                                <div id="picker1" data-bind="
                                    farbtastic: NL.advertising.newTOIAsset.bgColor,
                                    farbtasticOptions: {
                                        targetInput: '#bgcolor',
                                    }
                                "></div>
                            </div>
                        </div> 
                        <div class="toi-slider-group">
                            <span class="toi-config-label ">Image</span>
                            <span style="display:block;" data-bind="text: NL.advertising.newTOIAsset.bgImageFilename" />
                            <div class="btn btn-default" data-bind="
                                click: controls.advertising.toggleTOIUploadDialog">Change...</div>
                        </div>                           
                    </div>
                  </div>
            </div>
            <!-- /ko -->

            <!-- ko if: NL.advertising[NL.advertising.activeTab()].TOIwizardpage() === 3 -->
                <div class="col-xs-12">
                        <div class="col-xs-12">
                        <div class="col-xs-12">
                            <h3>Filename:</h3>
                            <input type="text" placeholder="Filename" data-bind="
                                value: NL.advertising.newTOIAsset.filename, 
                                valueUpdate: 'afterkeydown',
                                event: {blur: controls.advertising.cleanFileName}" />
                        </div>
                            <h4>Slide Display Settings:</h4>
                        </div>
                        <div class="col-xs-3">
                            <p>Start Date: <input type="text" class=" form-control" id="date-ad-start"
                                data-bind="
                                    datepicker: start_date,
                                    datepickerOptions: {dateFormat: 'D dd M'}
                                ">
                            </p>
                        </div>
                        <div class="col-xs-3">
                            <p>End Date: <input type="text" class=" form-control" id="date-ad-end"
                                data-bind="datepicker: end_date, datepickerOptions: {dateFormat: 'D dd M'}">
                            </p>
                        </div>

                        <div class="col-xs-3">
                            <p>Start Time: <select class="form-control" id="time-ad-start"
                                data-bind="options: NL.advertising.times, value: start_time"></select></p>
                        </div>
                        <div class="col-xs-3" data-bind="visible: start_time() !== 'All Day'">
                            <p>End Time: <select class="form-control" id="time-ad-end"
                                data-bind="options: NL.advertising.times.slice(1), value: end_time"></select></p>
                        </div>
                        <div class="col-xs-3">
                            <p>Start Day:
                                <select class="form-control"
                                    data-bind="options: NL.advertising.days,
                                            value: start_day,
                                            optionsText: 'label',
                                            optionsValue: 'value'">
                                </select>
                            </p>
                        </div>
                        <div class="col-xs-3" data-bind="visible: start_day() !== 'All'">
                            <p>End Day:
                                <select class="form-control"
                                    data-bind="options: NL.advertising.days.slice(1),
                                                value: end_day,
                                                optionsText: 'label',
                                                optionsValue: 'value'">
                                </select>
                            </p>
                        </div>
                        <div class="col-xs-3">
                            <p>Display Time (sec): <input class="form-control" value="120" type="number" min="0" max="120" data-bind="value: num_secs"></p>
                        </div>
                        <div class="col-xs-3" data-bind="visible: NL.advertising.activeTab() === 'priority'">
                            <p>Plays Per Hour:
                                <input class="form-control" value="99" type="number" min="0" max="99"
                                    data-bind="value: plays_per_hour">
                            </p>
                        </div>
                        <div class="col-xs-3 checkbox" data-bind="visible:false">
                            <p>
                               Fill Screen <input id="chk-squish" type="checkbox" data-bind="checked: squish">
                            </p>
                        </div>
                    </div>
            <!-- /ko -->
        </div>
        <div class="panel-footer">
            <div data-bind="if: NL.advertising[NL.advertising.activeTab()].TOIwizardpage() > 1"  style="height: 40px;">
                <!-- ko if: NL.advertising[NL.advertising.activeTab()].TOIwizardpage() === 2 -->
               <div class="btn btn-apply pull-right" 
                  data-bind="
                    click: function(){controls.advertising.navTOIWizard('next');}">
                  Configure display time
                    <i class="icon-arrow-right" ></i>
                    <img src="assets/img/spinner-dark.gif" data-bind="visible: NL.advertising.uploadInProgress() === true"/>
                </div>
                <!-- /ko -->
                <!-- ko if: NL.advertising[NL.advertising.activeTab()].TOIwizardpage() === 3 -->
                <div class="btn btn-apply pull-right" 
                  data-bind="
                    click: function(){controls.advertising.addAndBuildTOI();}
                    ">
                  Save and Upload
                    <i class="icon-save" ></i>
                    <img src="assets/img/spinner-dark.gif" data-bind="visible: NL.advertising.uploadInProgress() === true"/>
                </div>
                <!-- /ko -->

                <div class="btn btn-default pull-right"  style="border: 0;background: 0; text-decoration: underline;"
                        data-bind="
                        if:  NL.advertising[NL.advertising.activeTab()].TOIwizardpage() === 3,
                            click: function(){controls.advertising.navTOIWizard('previous');}
                            ">
                    Back
                </div>
            </div>
        </div>

</script>            