<script type="text/html" id="advertising-msg-modal">
        <div class="modal-heading" id="header-msg-modal">            
            <i class="nm-icons-cross pull-right" data-dismiss="modal"></i>
            <h4 class="bold"> <i class="icon-text-width" style="margin-right:20px;"></i> 
                    Create text message in 
                <span data-bind='text: NL.advertising.activeTab'></span> advertising</h4>
          </div>

        <div class="panel-body">
            <form enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-8">
                        <p>Text Message: <input type="text" class="form-control"
                          placeholder="Type your new message"
                          data-bind ="value:text,
                                      valueUpdate: 'afterkeydown',
                                      hasFocus: true" />
                        </p>                        
                    </div>
                    <div class="col-xs-2">
                        <p>Slot: <input class="form-control" value="1" type="number" 
                                                min="1" max="50" data-bind="value: slot">
                        </p>
                    </div> 
                    <div class="col-xs-2">
                        <p>Speed: <select class="form-control"
                            data-bind ="options: NL.textScrolling.allSpeed, 
                                        optionsText:'label', 
                                        optionsValue:'value',
                                        value: speed"></select></p>
                    </div>                    

                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <p>Frequency: <select class="form-control"
                            data-bind ="options: NL.textScrolling.allFreq, 
                                        optionsText:'label', 
                                        optionsValue:'value',
                                        value: frequency"></select></p>
                    </div>                
                    <div class="col-xs-3">
                        <p>Date: <select class="form-control"
                            data-bind ="options: NL.textScrolling.allDate, 
                                        optionsText:'label', 
                                        optionsValue:'value',
                                        value: selDate"></select></p>
                    </div>              
                    <div class="col-xs-3" data-bind="if: selDate() === 'specific'">
                        <p>Start Date: <input id="edit-start-date" type="text" class=" form-control" id="date-ad-start"
                            data-bind= "datepicker: start_date,
                                        datepickerOptions: {dateFormat: 'D dd M'} ">
                        </p>
                    </div>
                    <div class="col-xs-3" data-bind="if: selDate() === 'specific'">
                        <p>End Date: <input id="edit-end-date" type="text" class=" form-control" id="date-ad-end"
                            data-bind="datepicker: end_date, datepickerOptions: {dateFormat: 'D dd M'}">
                        </p>
                    </div>

                    <div class="col-xs-3">
                        <p>Start Day:
                            <select class="form-control"
                                data-bind="options: NL.textScrolling.days,
                                        value: start_day,
                                        optionsText: 'label',
                                        optionsValue: 'value'">
                            </select>
                        </p>
                    </div>
                    <div class="col-xs-3" data-bind="visible: start_day() !== 'All'">
                        <p>End Day:
                            <select class="form-control"
                                data-bind="options: NL.textScrolling.days.slice(1),
                                            value: end_day,
                                            optionsText: 'label',
                                            optionsValue: 'value'">
                            </select>
                        </p>
                    </div>

                    <div class="col-xs-3">
                        <p>Start Time: <select class="form-control" id="time-ad-start"
                            data-bind="options: NL.textScrolling.times, value: start_time"></select></p>
                    </div>
                    <div class="col-xs-3" data-bind="visible: start_time() !== 'All Day'">
                        <p>End Time: <select class="form-control" id="time-ad-end"
                            data-bind="options: NL.textScrolling.times.slice(1), value: end_time"></select></p>
                    </div>
                    
                </div>
            </form>

        <button class="btn btn-success pull-right" value="Submit Content"
          data-bind="click: controls.scrollingText.addTextMsg">
            Save &amp; Upload
            <i class="icon-upload-alt"></i>
        </button>
        <button class="btn btn-default pull-right" value="Cancel" data-dismiss="modal">
            Cancel
        </button>
    </div>
</script>
