<script type="text/html" id="advertising-asset-sidebar">
    <div class="col-xs-3 col-md-4 col-lg-3 nm-panel-sidebar sidebar-advertising-edit-asset-sidebar" data-bind="visible: !isMiniAd()">
    <div>
            <i class="nm-icons-cross" data-bind="click: controls.advertising.deselectAllAssets"/>
            <form enctype="multipart/form-data" class="form-horizontal sidebar-asset-details">
                <div class="row">
                  <div class="col-xs-12 preview-container">
                      <div class="stack-peekaboo" data-bind="css: {'active' : $parent.selectedAssets().length > 1}">
                          <img data-bind="attr:{src: src}, click: controls.advertising.showPreviewFileModal"
                              class="preview cover" />
                          <img src="assets/img/file-icon-alt.png" class="preview leaf" />
                          <img src="assets/img/file-icon.png" class="preview leaf" />
                          <img src="assets/img/file-icon-alt.png" class="preview leaf" />
                      </div>
                  </div>
                  <!-- ko if: $parent.selectedAssets().length === 1 -->
                      <div class="col-xs-12 " data-bind="if: $parent.isItHyperlink() ">
                          <a data-bind="attr: {href: filename, title: filename}" target="_blank">
                              <h3><span data-bind="text: friendlyName"/></h3>
                          </a>
                      </div>
                      <div class="col-xs-12 " data-bind="if: ! $parent.isItHyperlink() ">
                          <h3 data-bind="text: friendlyName, attr: {title: filename}"> </h3>
                      </div>
                  <!-- /ko -->
                  <!-- ko if: $parent.selectedAssets().length > 1 -->
                       <h3><span data-bind="text: $parent.selectedAssets().length"/> Files Selected </h3>
                  <!-- /ko -->
                </div>
                <div class="form-group">
                  <h5>Scheduling:</h5>
                  <hr />

                  <div class="row">
                      <div class="col-xs-4 input-label"  >
                          Date:
                      </div>                      
                      <div class="col-xs-8" >
                      <select class="form-control"
                              data-bind ="options: NL.advertising.allDate, 
                                          optionsText:'label', 
                                          optionsValue:'value',
                                          value: selDate"></select>
                      </div>                      
                      <div class="col-xs-4 input-label" data-bind="if: selDate() === 'specific'" >
                          Start Date:
                      </div>
                      <div class="col-xs-8" data-bind="if: selDate() === 'specific'">
                           <input id="edit-start-date" type="text" id="date-ad-start"
                          data-bind="datepicker: start_date, datepickerOptions: {dateFormat: 'D dd M'}">
                      </div>
                      <div class="col-xs-4 input-label" data-bind="if: selDate() === 'specific'">
                          End Date:
                      </div>
                      <div class="col-xs-8" data-bind="if: selDate() === 'specific'">
                          <input id="edit-end-date"  type="text" id="date-ad-end"
                              data-bind="datepicker: end_date, datepickerOptions: {dateFormat: 'D dd M'}" />
                          <hr />
                      </div>
                  </div>
                </div>  

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-4 input-label">
                        Start Day:
                    </div>
                    <div class="col-xs-8">
                      <select
                          data-bind="options: NL.advertising.days,
                                  value: start_day,
                                  optionsText: 'label',
                                  optionsValue: 'value'">
                      </select>
                    </div>
                    <div class="col-xs-4 input-label" data-bind="if: start_day() !== 'All'" >
                        End Day:
                    </div>
                    <div class="col-xs-8" data-bind="if: start_day() !== 'All'">
                      <select
                          data-bind="options: NL.advertising.days.slice(1),
                                      value: end_day,
                                      optionsText: 'label',
                                      optionsValue: 'value'">
                      </select>
                    </div>
                  </div>
                </div>
                <hr />
                
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-4 input-label">
                        Start Time:
                    </div>

                    <div class="col-xs-8">
                     <select id="time-ad-start"
                            data-bind="options: NL.advertising.times, value: start_time"></select>
                    </div>
                    <!-- Ebrahim M : replace visible with if -->
                    <div class="col-xs-4 input-label" data-bind="if: start_time() !== 'All Day'">
                        End Time:
                    </div>
                    <div class="col-xs-8" data-bind="if: start_time() !== 'All Day'">
                     <select  id="time-ad-end"
                            data-bind="options: NL.advertising.times.slice(1), value: end_time"></select>
                    </div>
                  </div>
                </div>
                <hr />

                <div class="form-group">
                    <div class="col-xs-6 col-md-4">
                        <p class="input-label">Display Time: <input  id= "numDisplayTime" value="120" type="number" min="0" max="120"
                            data-bind="value: num_secs, valueUpdate: 'afterkeydown'" >
                        </p>
                    </div>
                    <div class="col-xs-6 col-md-4" data-bind="visible: !(NL.advertising.activeTab() === 'user') " >
                        <p class="input-label">Plays / Hour:
                            <input value="99" type="number" min="0" max="99"
                                data-bind="value: plays_per_hour, valueUpdate: 'afterkeydown'">
                        </p>
                    </div>
                    <div class="col-xs-6 col-md-4 checkbox" data-bind="visible: isItaJpgFile()">
                        <p class="input-label">
                           Fill Screen <input id="chk-squish" type="checkbox" data-bind="checked: squish">
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <!-- ko if:((NL.settings.selectedSystem()!== null)&&(NL.settings.selectedSystem()!== undefined)) -->
        <div class="bottom-bar" data-bind="css: {'disabled' : !(NL.settings.utopia.canIUse('request_system','edit_da_slide')()
                      && ( (NL.settings.selectedSystem().da_access === 'priority') ||
                           ((NL.advertising.activeTab() === 'user') &&
                           (NL.settings.selectedSystem().da_access === 'user'))
                         )) }">
            <p align="center" class="label-view-only"
                        data-bind="visible: !(NL.settings.utopia.canIUse('request_system','edit_da_slide')()
                            && ( (NL.settings.selectedSystem().da_access === 'priority') ||
                                 ((NL.advertising.activeTab() === 'user') &&
                                 (NL.settings.selectedSystem().da_access === 'user'))
                                ) )">
                        <i class="icon-lock"  /> Editing Disabled: View Only Access </p>
              <span style="margin-right:15px;">
                <!-- ko if: ( NL.settings.utopia.canIUse('request_system','edit_da_slide')()
                            && ( (NL.settings.selectedSystem().da_access === 'priority') ||
                                 ((NL.advertising.activeTab() === 'user') &&
                                 (NL.settings.selectedSystem().da_access === 'user'))
                            )) -->
                <span class="delete-btn"
                  data-bind="click: controls.advertising.deleteAsset">
                    <span data-bind="text: NL.advertising.deleteInProgress() === true ? 'Deleting...' : 'Delete'">Delete
                    </span>
                    <i class="nm-icons-control-trash" data-bind="visible: NL.advertising.deleteInProgress() === false"></i>
                    <img src="assets/img/spinner.gif" data-bind="visible:NL.advertising.deleteInProgress() === true"/>
                </span>
                <!-- /ko -->
               <button type="submit" class="btn btn-default" value="Cancel"
                  data-bind="click: controls.advertising.cancelEditing,
                            enable: (NL.settings.utopia.canIUse('request_system','edit_da_slide')()
                                 && ( (NL.settings.selectedSystem().da_access === 'priority') ||
                                      ((NL.advertising.activeTab() === 'user') &&
                                      (NL.settings.selectedSystem().da_access === 'user'))
                                    ) )"> Cancel
                </button>
            <!-- ko if: gallery -->
                <button type="submit" class="btn btn-apply" value="Edit"
                          data-bind="click: controls.advertising.showEditModal">
                          Content <i class="icon-pencil "></i>
                </button>
            <!-- /ko -->
            <!-- ko if: $parent.selectedAssets().length === 1 -->
               <button type="submit" class="btn btn-success" value="Submit Content"
                  data-bind="click: controls.advertising.editAsset,
                             enable: (NL.settings.utopia.canIUse('request_system','edit_da_slide')()
                                  && ( (NL.settings.selectedSystem().da_access === 'priority') ||
                                       ((NL.advertising.activeTab() === 'user') &&
                                       (NL.settings.selectedSystem().da_access === 'user'))
                                      ) )">
                    <span data-bind="
                      text: NL.advertising.uploadInProgress() === true ? 'Saving...' : 'Save'">
                        Save </span>
                    <i class="icon-check" data-bind="
                            visible: NL.advertising.uploadInProgress() === false">
                    </i>
                    <img src="assets/img/spinner.gif" 
                            data-bind="visible: NL.advertising.uploadInProgress() === true"/>
                </button>

            <!-- /ko -->
            <!-- ko if: $parent.selectedAssets().length > 1 -->
                <button type="submit" class="btn btn-apply" value="Submit Content"
                  data-bind="click: controls.advertising.editAsset, text: 'Apply to ' + NL.advertising.user.selectedAssets().length + ' items'">
                Save <i class="icon-save "></i>
                </button>
            <!-- /ko -->
            <!-- ko if: ($parent.selectedAssets().length === 1) && ($parent.canReOrderAssets() === true) -->
                <button class="btn btn-default" value="Play Now"
                  data-bind="">
                Play Now <i class="nm-icons-play"></i>
                </button>
            <!-- /ko -->
          </span>
        </div>
        <!-- /ko -->

    </div>
</script>
