<script type="text/html" id="advertising-web-page-modal">

        <div class="panel-heading">
            <i class="nm-icons-cross pull-right"  data-dismiss="modal" ></i>
            <h3 class="bold"><img src="assets/img/html-icon.svg"> Post Web Page to <span data-bind='text: NL.advertising.activeTab()'></span> advertising</h3>
        </div>
        <div class="panel-body">
            <form enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12">
                        <p>URL:
                          <div class="input-group">
                                <div class="input-group-addon">http:// </div>
                                <input type="text" class="form-control"
                                    data-bind="value: url">
                          </div>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                <!-- ko if: 0 -->
                    <div class="col-xs-5">
                        <iframe width="608" height="308"
                          data-bind="attr : {src : 'http://'+url() }" style="-webkit-transform:scale(0.5);-moz-transform-scale(0.5);"></iframe>
                    </div>
                <!-- /ko -->
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                            <h4>Slide Display Settings:</h4>
                        </div>
                        <div class="col-xs-3">
                            <p>Display Time (sec): <input class="form-control" value="120" type="number" min="0" max="120" data-bind="value: num_secs"></p>
                        </div>
                        <div class="col-xs-3" >
                            <p>Date: <select class="form-control"
                                data-bind ="options: NL.advertising.allDate,
                                            optionsText:'label',
                                            optionsValue:'value',
                                            value: selDate"></select></p>
                        </div>
                        <div class="col-xs-3" data-bind="if: selDate() === 'specific'">
                            <p>Start Date: <input id="edit-start-date" type="text" class=" form-control" id="date-ad-start"
                                data-bind="
                                    datepicker: start_date,
                                    datepickerOptions: {dateFormat: 'D dd M'}
                                ">
                            </p>
                        </div>
                        <div class="col-xs-3" data-bind="if: selDate() === 'specific'">
                            <p>End Date: <input id="edit-end-date" type="text" class=" form-control" id="date-ad-end"
                                data-bind="datepicker: end_date, datepickerOptions: {dateFormat: 'D dd M'}">
                            </p>
                        </div>

                        <div class="col-xs-3">
                            <p>Start Day:
                                <select class="form-control"
                                    data-bind="options: NL.advertising.days,
                                            value: start_day,
                                            optionsText: 'label',
                                            optionsValue: 'value'">
                                </select>
                            </p>
                        </div>
                        <div class="col-xs-3" data-bind="visible: start_day() !== 'All'">
                            <p>End Day:
                                <select class="form-control"
                                    data-bind="options: NL.advertising.days.slice(1),
                                                value: end_day,
                                                optionsText: 'label',
                                                optionsValue: 'value'">
                                </select>
                            </p>
                        </div>
                        
                        <div class="col-xs-3" >
                            <p>Start Time: <select class="form-control" id="time-ad-start"
                                data-bind="options: NL.advertising.times, value: start_time"></select></p>
                        </div>
                        <div class="col-xs-3" data-bind="visible: start_time() !== 'All Day'">
                            <p>End Time: <select class="form-control" id="time-ad-end"
                                data-bind="options: NL.advertising.times.slice(1), value: end_time"></select></p>
                        </div>


                        <div class="col-xs-3" data-bind="visible: NL.advertising.activeTab() === 'priority'">
                            <p>Plays Per Hour:
                                <input class="form-control" value="99" type="number" min="0" max="99"
                                    data-bind="value: plays_per_hour">
                            </p>
                        </div>
                        <div class="col-xs-3 checkbox" data-bind="visible:false">
                            <p>
                               Fill Screen <input id="chk-squish" type="checkbox" data-bind="checked: squish">
                            </p>
                        </div>
                    </div>
                </div>
            </form>
           <button type="submit" class="btn btn-success pull-right" value="Submit Content"
              data-bind="click: controls.advertising.addWebPage">
              Save &amp; Upload
                <i class="icon-upload-alt" data-bind="visible: NL.advertising.uploadInProgress() === false"></i>
                <img src="assets/img/spinner-dark.gif" data-bind="visible: NL.advertising.uploadInProgress() === true"/>
            </button>
           <button type="" class="btn btn-default pull-right" value="Cancel"   data-dismiss="modal" >
                Cancel
            </button>

        </div>

</script>
