<script type="text/html" id="advertising-assets-table">
<div class="asset-list-container" data-bind=
                "visible: !NL.textScrolling.scrollingTextVisible(),
                style:{ 'height' : function (){
                    var retVal = 'inherit';
                    if(NL.advertising.playersVisible()){
                        retval = '84%';
                    }
                    return (retVal); }
                }" >
    <div class="asset-list-header">
        <div class="row row-header">
            <div class="col-xs-3">
                <div class='col-xs-4 fixed-width-1'></div>
                <div class='col-xs-8'> Filename </div>
            </div>
            <div class="col-xs-6">
                <div class='col-xs-2'> Start Date </div>
                <div class='col-xs-2'> End Date </div>
                <div class='col-xs-2'> Start Day </div>
                <div class='col-xs-2'> End Day </div>
                <div class='col-xs-2'> Start Time </div>
                <div class='col-xs-2'> End Time </div>
            </div>
            <div class="col-xs-3">
                <div class='col-xs-3'> Display Time </div>
                <div class='col-xs-3' data-bind="visible: !(NL.advertising.activeTab() === 'user') ">
                    Plays / Hour
                </div>
                <div class='col-xs-3'> Fill Screen </div>
                <div class='col-xs-3'> Playing </div>
            </div>
        </div>
    </div>
    <div class="asset-list-body" data-bind="style: { height: isMiniAd() && $data.sidebarVisible() === true ? '45%' : 'inherit' }">
        <div data-bind="template: {name: 'advertising-asset', foreach: NL.advertising[NL.advertising.activeTab()].searchAssets}" ></div>

        <div class="row asset data-summary"  data-bind="style:{ 'marginBottom' : NL.advertising.playersVisible() ? '220px' : '80px'}">
            <div class="col-xs-12">
                <span  data-bind="text: searchAssets().length + ' items. '" />
                <!-- ko if: 0 -->
                    <span data-bind="style:{'background': NL.advertising.filter().name === 'All' ? 'transparent' : 'orangered'}">
                        <span data-bind="visible: NL.advertising.filter(), html: 'Filter: &ldquo;' +  NL.advertising.filter().name + '&rdquo;.', style: {'color': NL.advertising.filter().name === 'All' ? 'black' : 'white'}" />
                        <i class="nm-icons-cross" data-bind="visible: NL.advertising.filter().name !== 'All', style: {'background': 'rgb(187, 51, 0)', 'color' : 'white'}"></i>
                    </span>
                <!-- /ko -->
                <span data-bind="visible: NL.advertising.filter(), html: 'Filter: &ldquo;' +  NL.advertising.filter().name + '&rdquo;.', style: {'color': NL.advertising.filter().name === 'All' ? 'inherit' : 'orangered'}" />
                <span data-bind="visible: searchStr(), html: 'Searched for &ldquo;' +  NL.advertising[NL.advertising.activeTab()].searchStr() + '&rdquo;.'" />
                <span data-bind="visible: searchStr()">[
                    <span class="clear-search" data-bind="click: controls.advertising.clearSearchFilter">Clear Search</span>
                ]</span>
                </div>
        </div>
    </div>
</div>

</script>
