<script type="text/html" id="advertising-file-modal">
        <!--<input type="button" value="Resize Image" id="resize" />
        <input type="range" id="size" min="128" max="1024">
        <br/>
        <div>
            <h3>Resized Image</h1>
            <img id="outputImage" />
        </div>
        <div>
            <h1>Original Image</h1>
            <img id="inputImage"  />
        </div>-->

        <div class="panel-heading">
            <i class="nm-icons-cross pull-right" data-dismiss="modal"></i>
            <h3 class="bold"><img src="assets/img/file-icon.svg"> Upload file to <span data-bind='text: NL.advertising.activeTab'></span> advertising</h3>
        </div>
        <div class="panel-body">
            <form enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-6">
                        <h4>Choose File</h4>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse <input id="advertising-file" name="imageField" type="file"
                                            accept=".jpg,.mpg,.swf,.mp4"   data-bind='text: filename' />
                                </span>
                            </span>
                            <input type="text" id="advertising-file-text" class="form-control"
                                data-bind="text: filename">
                        </div>
                        <p class="help-block"
                            data-bind="visible: (width() != '' && height() != '')"
                        > Dimensions:
                                <span data-bind='text:(width() != "") ? width()  + "px" : ""'></span>
                                <span style="color: #C2C2C2;"> x </span>
                                <span data-bind='text: (height() != "") ? height() + "px" : ""'></span>
                        </p>
                    </div>
                    <div class="col-xs-6">
                         <img id="advertising-preview" />
                    </div>
                </div>
<hr />
                <div class="form-group">
                    <div class="col-xs-3">
                        <p>Display Time (sec.): <input class="form-control" value="120" type="number" min="0" max="120" data-bind="value: num_secs"></p>
                    </div>                
                    <div class="col-xs-3">
                        <p>Date: 
                            <select class="form-control"
                                data-bind ="options: NL.advertising.allDate,
                                            optionsText:'label',
                                            optionsValue:'value',
                                            value: selDate"></select></p>
                    </div>
                    <div class="col-xs-3" data-bind="if: selDate() === 'specific'">
                        <p>Start Date: 
                            <input id="edit-start-date" type="text" class=" form-control" 
                                id="date-ad-start" data-bind="
                                                    datepicker: start_date,
                                                    datepickerOptions: {dateFormat: 'D dd M'}">
                        </p>
                    </div>
                    <div class="col-xs-3" data-bind="if: selDate() === 'specific'">
                        <p>End Date:
                            <input id="edit-end-date" type="text" class=" form-control"
                                id="date-ad-end" data-bind="
                                                    datepicker: end_date,
                                                    datepickerOptions: {dateFormat: 'D dd M'}">
                        </p>
                    </div>

                    <div class="col-xs-3">
                        <p>Start Day:
                            <select class="form-control"
                                data-bind="options: NL.advertising.days,
                                           value: start_day,
                                           optionsText: 'label',
                                           optionsValue: 'value'">
                            </select>
                        </p>
                    </div>
                    <div class="col-xs-3" data-bind="visible: start_day() !== 'All'">
                        <p>End Day:
                            <select class="form-control"
                                data-bind="options: NL.advertising.days.slice(1),
                                            value: end_day,
                                            optionsText: 'label',
                                            optionsValue: 'value'">
                            </select>
                        </p>
                    </div>

                    <div class="col-xs-3">
                        <p>Start Time: 
                            <select class="form-control" id="time-ad-start"
                                data-bind= "options: NL.advertising.times, 
                                            value: start_time">
                            </select>
                        </p>
                    </div>
                    <div class="col-xs-3" data-bind="visible: start_time() !== 'All Day'">
                        <p>End Time: 
                            <select class="form-control" id="time-ad-end"
                                data-bind="options: NL.advertising.times.slice(1), 
                                           value: end_time">
                            </select>
                        </p>
                    </div>
                   <div class="col-xs-3" data-bind="visible:
                                                    NL.advertising.activeTab()=== 'priority'">
                        <p>Plays Per Hour:
                            <input class="form-control" value="99" type="number" min="0" max="99"
                                data-bind="value: plays_per_hour">
                        </p>
                    </div>
                    <div class="col-xs-3 checkbox"
                            data-bind="visible:  NL.advertising.newFileAsset.isItJpgFile() ">
                        <p> Fill Screen 
                            <input id="chk-squish" type="checkbox" data-bind="checked: squish">
                        </p>
                    </div>
                </div>
            </form>

        <button class="btn btn-success pull-right" value="Submit Content" 
                        data-bind="click: controls.advertising.addAsset"> Save &amp; Upload
            <i class="icon-upload-alt"></i>
        </button>

        <button class="btn btn-default pull-right" value="Cancel" data-dismiss="modal">Cancel
        </button>
    </div>
    <div class="progressBarContainer" data-bind="visible:controls.advertising.progressPercent()>0">
        <div id="progressBarText"><span data-bind="
                                        text:controls.advertising.progressPercent()+'%'"></span>
        </div>
        <div id="progressBar" data-bind="progress: controls.advertising.progressPercent,
                                     animated: 'true',
                                     striped: 'true' ">
        </div>
    </div>

</script>
