<script type="text/html" id="advertising-create-dialog">  
<div class='panel-body' data-bind="css: {
                            'no-horiz-padding no-vert-padding' : !NL.advertising.playersVisible(), 
                            'col-xs-9 col-md-8 col-lg-9' : $data.sidebarVisible(),
                            'col-xs-12' : !$data.sidebarVisible()
                          }">
	<div class='panel-body-content'>
	  THIS WILL EVENTUALLY REPLACE MODALS
	</div>
</div>

</script>        