<script type="text/html" id="advertising-text">
    <div class="row asset" data-bind="click:function(){
                                        controls.scrollingText.selectTextMsg($data , $parent);
                                      },
                                      css: {'selected' : selected}">
        <div class="col-xs-3">
            <div class='col-xs-11' style='margin-left:5px;'>
                <span data-bind="text: text" />
            </div>        
        </div>

        <div class="col-xs-6">
            <div class='col-xs-2'>
                <span data-bind="
                        text:( ($.datepicker.formatDate('dd/mm',start_date()) === '01/01') && 
                               ($.datepicker.formatDate('dd/mm' , end_date()) === '31/12') ) ?
                                'All Year': $.datepicker.formatDate('D dd M', start_date())" />
            </div>
            <div class='col-xs-2'>
                <span data-bind="
                        text:( ($.datepicker.formatDate('dd/mm',start_date()) === '01/01') && 
                               ($.datepicker.formatDate('dd/mm' , end_date()) === '31/12') ) ?
                                '': $.datepicker.formatDate('D dd M', end_date())" />
            </div>
            <div class='col-xs-2'>
               <span data-bind="text: start_day" />
            </div>
            <div class='col-xs-2'>
                <span data-bind="text: end_day !== '' ? end_day : 'Empty'" />
            </div>
            <div class='col-xs-2' data-bind="">
                <span data-bind="text: start_time" />
            </div>
            <div class='col-xs-2' data-bind="">
                <span data-bind="text: end_time " />
            </div>
        </div>

        <div class="col-xs-3">
            <div class='col-xs-2'>
                <span data-bind="text: slot" />
            </div>
            <div class='col-xs-3'>
                <span data-bind="text: frequency" />
            </div>
            <div class='col-xs-3'>
                <span data-bind="text: speed" />
            </div>

        </div>

    </div>
</script>
 
