<script type="text/html" id="advertising-priority">
<div>
    <!-- ko template: { name: "advertising-video-switcher",  data : { 'tab' : 'priority','videoModeId' : 'PA'} } --><!-- /ko -->             
</div>
    <!-- ko template: { name: 'advertising-scrolling-text', data: $data } --><!-- /ko -->
    <!-- ko template: { name: 'advertising-assets-table'  , data: $data } --><!-- /ko -->
</script>