<script type="text/html" id="advertising-preview-file-modal">        


<div class="panel-body">
    <h3 data-bind="text: filename"></h3>
    <img class="preview-asset" data-bind="attr: {src: src}" />
</div>

</script>