<script type="text/html" id="advertising-asset">
<!-- ko if: visible -->
    <div class="row asset" data-bind="click: controls.advertising.selectAsset, css: {'selected' : selected, 'playing' : players().length > 0 }">       
        <div class="col-xs-3">
            <div class='col-xs-4 thumbnails fixed-width-1'> 
                <img data-bind="attr:{src: src}" /> 
            </div>                
            <div class='col-xs-8'>
                <!-- ko if: $parent.DAListEditMode() -->
                <input class="filename" type="text"  data-bind="value: friendlyName" />
                <!-- /ko -->
                <!-- ko if: !$parent.DAListEditMode()-->
                    <span data-bind="text: friendlyName, attr: {title: filename}" />
                <!-- /ko -->
            </div>        
        </div>
        <div class="col-xs-6">
            <div class='col-xs-2'>
                <!-- ko if: $parent.DAListEditMode() -->
                <input type="text"
                    data-bind="text: $.datepicker.formatDate('D dd M', start_date()),
                                    datepicker: start_date, 
                                    datepickerOptions: {dateFormat: 'D dd M'},
                                    click: function(){return true}, 
                                    clickBubble: false,
                                     attr: {'disabled' : !$parent.DAListEditMode()}
                                    " />
                <!-- /ko-->
                <!-- ko if: !$parent.DAListEditMode()-->
                    <span data-bind=
                        "text:( ($.datepicker.formatDate('dd/mm',start_date()) === '01/01') && 
                                ($.datepicker.formatDate('dd/mm' , end_date()) === '31/12') ) ?
                                'All Year': $.datepicker.formatDate('D dd M', start_date())" />
                <!-- /ko-->
            </div>
            <div class='col-xs-2'>
                <!-- ko if:$parent.DAListEditMode()-->
                <input type="text" 
                data-bind="text: $.datepicker.formatDate('D dd M', end_date()),
                         datepicker: end_date, 
                         datepickerOptions: {dateFormat: 'D dd M'},
                         click: function(){return true}, 
                         clickBubble: false,
                         attr: {'disabled' : !$parent.DAListEditMode()}" />
                 <!-- /ko-->
                <!-- ko if:!$parent.DAListEditMode()-->
                    <span data-bind=
                    "text:( ($.datepicker.formatDate('dd/mm',start_date()) === '01/01') && 
                                ($.datepicker.formatDate('dd/mm' , end_date()) === '31/12') ) ?
                                '': $.datepicker.formatDate('D dd M', end_date())" />
                <!-- /ko-->

            </div>
            <div class='col-xs-2'>
                <!-- ko if:$parent.DAListEditMode()-->
                <select class=""
                    data-bind="options: NL.advertising.days, 
                            value: start_day, 
                            optionsText: 'label', 
                            optionsValue: 'value', 
                            click: function(){return true}, 
                            clickBubble: false,
                            attr: {'disabled' : !$parent.DAListEditMode()}
                            ">
                </select> 
                <!-- /ko --> 
                <!-- ko if:!$parent.DAListEditMode()-->
                    <span data-bind="text: start_day" />

                <!-- /ko -->
            </div>
            <div class='col-xs-2'>
                <!-- ko if:$parent.DAListEditMode()-->
                <select 
                    data-bind="options: NL.advertising.days.slice(1), 
                                value: end_day, 
                                optionsText: 'label',
                                optionsValue: 'value', 
                                click: function(){return true}, 
                                clickBubble: false,
                                attr: {'disabled' : !$parent.DAListEditMode()}
                                ">
                </select>
                <!-- /ko --> 
                <!-- ko if:!$parent.DAListEditMode()-->
                    <span data-bind="text: end_day !== '' ? end_day : 'Empty'" />
                <!-- /ko--> 
            </div>
            <div class='col-xs-2' data-bind="">
            <!-- ko if:$parent.DAListEditMode()-->
                <select class="input-xlarge" id="time-ad-start" 
                    data-bind="options: NL.advertising.times, 
                    value: start_time,
                    click: function(){return true},
                    clickBubble: false,
                    attr: {'disabled' : !$parent.DAListEditMode()}
                    ">
                    </select>
              <!-- /ko --> 
                <!-- ko if:!$parent.DAListEditMode()-->
                    <span data-bind="text: start_time" />
                <!-- /ko-->        
            </div>
            <div class='col-xs-2' data-bind="">
             <!-- ko if:$parent.DAListEditMode()-->
                <select class="input-xlarge" id="time-ad-end"
                            data-bind="options: NL.advertising.times.slice(1), value: end_time,
                                        click: function(){return true}, 
                                        clickBubble: false,
                                        attr: {'disabled' : !$parent.DAListEditMode()}">
                </select>                
            <!-- /ko --> 
                <!-- ko if:!$parent.DAListEditMode()-->
                    <span data-bind="text: end_time " />
                <!-- /ko-->                       
            </div>
        </div>
        <div class="col-xs-3">
            <div class='col-xs-3'>
                <!-- ko if:$parent.DAListEditMode()-->
                <input value="120" type="number" min="0" max="120" 
                    data-bind="value: num_secs, 
                        click: function(){return true}, 
                        clickBubble: false,
                        attr: {'disabled' : !$parent.DAListEditMode()}
                        ">
                <!-- /ko --> 
                <!-- ko if:!$parent.DAListEditMode()-->
                    <span data-bind="text: num_secs" />
                <!-- /ko --> 
            </div>
            <div class='col-xs-3' data-bind="visible: !(NL.advertising.activeTab() === 'user') ">
              <!-- ko if:$parent.DAListEditMode()-->
                <input  value="99" type="number" min="0" max="99"
                                data-bind="value: plays_per_hour, 
                                    click: function(){return true}, 
                                    clickBubble: false,
                                    attr: {'disabled' : !$parent.DAListEditMode()}
                                    ">
                <!-- /ko --> 
                <!-- ko if:!$parent.DAListEditMode()-->
                    <span data-bind="text: plays_per_hour" />
                <!-- /ko --> 
            </div>
            <div class='col-xs-3' >
                <!-- ko if:isItaJpgFile() -->
                <input id="chk-squish" type="checkbox" 
                        data-bind="checked: squish, 
                                    click: function(){return true}, 
                                    clickBubble: false,
                                    attr: {'disabled' : !$parent.DAListEditMode()}
                                    ">
                <!-- /ko --> 

                <!-- ko if:!isItaJpgFile() -->
                    <span> N/A </span>
                <!-- /ko -->
                
            </div>       
            <div class='col-xs-3' data-bind="text: players().toString()"></div>
        </div>
    </div>
    <!-- /ko -->
</script>
 
