<script type="text/html" id="advertising-scrolling-text">
<div class="asset-list-container" data-bind =
           "visible: NL.textScrolling.scrollingTextVisible(),
            style  : { 'height' : '94%'} ">
    <div class="asset-list-header">
        <div class="row row-header">
            <div class="col-xs-3">
                <div class='col-xs-4'></div>
                <div class='col-xs-8'> Message </div>
            </div>
            <div class="col-xs-6">
                <div class='col-xs-2'> Start Date </div>
                <div class='col-xs-2'> End Date </div>
                <div class='col-xs-2'> Start Day </div>
                <div class='col-xs-2'> End Day </div>
                <div class='col-xs-2'> Start Time </div>
                <div class='col-xs-2'> End Time </div>
            </div>
            <div class="col-xs-3">
                <div class='col-xs-2'> Slot </div>
                <div class='col-xs-3'> Freq. </div>
                <div class='col-xs-3'> Speed </div>

            </div>
        </div>
    </div>

    <div class="asset-list-body"  data-bind="style: { height: isMiniAd() && $data.sidebarMsgVisible() === true ? '41%' : 'inherit' }">
        <div data-bind="template: { name: 'advertising-text', 
                    foreach: NL.textScrolling[NL.advertising.activeTab()].getAssets(),
                    afterRender: function() { console.log('insideTemp', $parent)} }" >
        </div>
        <div class="row asset data-summary"  data-bind="
                    style:{'marginBottom' : NL.advertising.playersVisible() ? '220px' : '80px'}">
            <div class="col-xs-12">
                <span  data-bind="text: 
                    NL.textScrolling[NL.advertising.activeTab()].texts().length + ' items. '" />
            </div>
        </div>
    </div>
</div>
</script>
