<script type="text/html" id="advertising-edit-asset-modal">        

<div class="advertising-modal-controls-right">
    <button type="button" 
        class="btn btn-danger pull-right tooltip-helper"         
        data-bind="click: controls.advertising.closeEditModal, 
            afterRender: $($element).tooltip()" 
        data-placement="right" data-original-title="Close window.">
    <h1 ><i class="nm-icons-cross"></i></</h1>
    </button>
    <button id="asset-prev" type="button" class="btn btn-default" style="clear:both;" 
        data-bind="click: controls.advertising.prevAsset"
    >
        <h1><i class="nm-icons-arrow-content-up"></i></h1>
    </button>
    <button id="asset-next" type="button" class="btn btn-default" style="clear:both;" 
        data-bind="click: controls.advertising.nextAsset"
    >
        <h1><i class="nm-icons-arrow-content-down"></i></h1>
    </button>
</div>

<div class="panel-body">
    <form enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group">                    
                <div class="panel-heading">
                    <h3 data-bind="text: filename"> </h3>
                </div>                                                    
        </div>

        <div class="form-group">
            <div class="col-xs-4">
                <p>Start Date: <input id="edit-start-date" type="text" class=" form-control" id="date-ad-start" 
                    data-bind="datepicker: start_date, datepickerOptions: {dateFormat: 'D dd M'}">
                </p>
            </div>
            <div class="col-xs-4">
                <p>End Date: <input id="edit-end-date"  type="text" class=" form-control" id="date-ad-end"
                    data-bind="datepicker: end_date, datepickerOptions: {dateFormat: 'D dd M'}">
                </p>        
            </div>
            <div class="col-xs-4">
                <p>Seconds: <input class="form-control" value="120" type="number" min="0" max="120" 
                    data-bind="value: num_secs">
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                <p>Start Time: <select class="form-control" id="time-ad-start" 
                    data-bind="options: NL.advertising.times, value: start_time"></select></p>
            </div>
            <div class="col-xs-4" data-bind="visible: start_time() !== 'All Day'">
                <p>End Time: <select class="form-control" id="time-ad-end"
                    data-bind="options: NL.advertising.times.slice(1), value: end_time"></select></p>        
            </div>
            <div class="col-xs-4" data-bind="visible : !(NL.advertising.activeTab() === 'user')">
                <p>Plays Per Hour: 
                    <input class="form-control" value="99" type="number" min="0" max="99"
                        data-bind="value: plays_per_hour">
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                <p>Start Day:
                    <select class="form-control"
                        data-bind="options: NL.advertising.days, 
                                value: start_day, 
                                optionsText: 'label', 
                                optionsValue: 'value'">
                    </select>                            
                </p>
            </div>
            <div class="col-xs-4" data-bind="visible: start_day() !== 'All'">
                <p>End Day:
                    <select class="form-control"
                        data-bind="options: NL.advertising.days.slice(1), 
                                    value: end_day, 
                                    optionsText: 'label',
                                    optionsValue: 'value'">
                    </select>                            
                </p>
            </div>
            <div class="col-xs-4 checkbox" data-bind="visible: isItaJpgFile()">
                <p>
                   Fill Screen <input id="chk-squish" type="checkbox" data-bind="checked: squish">
                </p>
            </div>
        </div>

    </form>
</div>
<div class="content-controls bottom-bar">
   <button type="submit" class="btn content-controls" value="Submit Content" 
      data-bind="click: controls.advertising.editAsset">
    <h1 ><i class="icon-save "></i></</h1>
    </button>
    <button class="btn content-controls" value="Submit Content" 
      data-bind="click: controls.advertising.deleteAsset">
    <h1 ><i class="nm-icons-control-trash"></i></</h1>
    </button>
</div>
</script>