<script type="text/html" id="advertising-video-switcher">
<div class="row" style="padding:15px;" data-bind="
      visible: NL.advertising.playersVisible(), 
      foreach: NL.videoStates.states">
  <div class="video-output col-xs-6" >
      <div class="panel video-panel" data-bind="attr: { 'data-output': $parent.output}" >
        <div class="panel-body">
            <div class="row">
                <h4 class="visual-header hidden-sm col-xs-3 col-md-3">
                  <span class="hidden-sm pull-left" data-bind="text: 'Output ' + output"></span>
                </h4>

                <form class="video-modes col-xs-8 col-sm-8 col-md-5" data-bind="foreach: modes">
                  <!-- ko if: id == $parents[1].videoModeId -->
                   <label class="radio" data-bind="">
                     <input type="radio" name="modeGroup"
                       data-bind="value: id, checked: $parent.mode(), event: {change: $parent.changeMode}" />
                     &nbsp;
                     <span class="pull-left" data-bind="text: name + ' [' + id + ']', style: { color: ($parent.mode() === id && $parent.locked() === true  ) ? '#941616' : 'black'}"/>
                   </label>
                   <!-- /ko-->
                </form>

                <div class="btn-group col-xs-4 col-sm-4 col-md-4">
                   <input class="btn-mode" type="button" id="btn-scheduler"
                   data-bind="click: toggleLock, css: {active : locked()}">
                </div>
            </div>
          <h5 class="video-asset-details" style="clear:both;"><i class="nm-icons-visual-content"></i>
          <span data-bind="text: asset "/></span></h5>

        </div>
        <!-- <pre data-bind="text: JSON.stringify($data.paused())"></pre> -->
        <!-- ko if: mode()!=='R' && mode()!=='B' -->
              <div class="content-controls">
                <button class="btn col-xs-3" href="#" title="Cycle through content"
                  data-bind="
                    enable: selectedMode().can_cycle && selectedMode().id ==$parent.videoModeId,
                    click: function(data, event) { setVideoAsset(data, event, 'previous') }
                  ">
                  <i class="nm-icons-arrow-content-left"></i>
                </button>
                <button class="btn col-xs-3" href="#"
                  title='Play Digital Advertising'
                  data-bind="
                    enable: selectedMode().can_pause && selectedMode().id ==$parent.videoModeId,
                    click: function(d,e){controls.video.play($data.output) }
                  ">
                  <i class='nm-icons-play' data-bind="css:{'control-state-playing':!$data.paused()}">
                  </i>
                </button>
                <button class="btn col-xs-3" href="#"
                  title='Pause Digital Advertising'
                  data-bind="
                    enable: selectedMode().can_pause && selectedMode().id ==$parent.videoModeId,
                    click: function(d,e){controls.video.pause($data.output) }
                  ">
                  <i class='nm-icons-pause-now' data-bind="css:{'control-state-paused':$data.paused()}">
                  </i>
                </button>
                <button class="btn col-xs-3" href="#" title="Cycle through content"
                  data-bind="
                    enable: selectedMode().can_cycle && selectedMode().id ==$parent.videoModeId,
                    click: function(data, event) { setVideoAsset(data, event, 'next') }
                  ">
                  <i class="nm-icons-arrow-content-right"></i>
                </button>
              </div>
        <!-- /ko -->
      </div>
  </div>
</div>
</script>
