<script type="text/html" id="scrolling-channel">

<div class='panel-body no-horiz-padding no-vert-padding' data-bind="css: {
                            'col-xs-9 col-md-8 col-lg-9' : $data.sidebarMsgVisible() && !isMiniAd(),
                            'col-xs-12' : !$data.sidebarMsgVisible() }" >
	<div class='panel-body-content'>
    <!-- ko template: { name: 'advertising-msg-topbar', 
    			              data: $data.curMsgEditModel(),
    			              if: ( $data.sidebarMsgVisible() ) } -->
    <!-- /ko -->
	  <!-- ko template: { name: "advertising-scrolling-text",  data: $data,
      afterRender: function() {
         console.log('ad-sc-textD', $data)
      }  } --><!-- /ko -->
	</div>
</div>

<!-- ko template: { name: 'advertising-msg-sidebar',
			              data: $data.curMsgEditModel(),
			              if: ( $data.sidebarMsgVisible() ) } -->
<!-- /ko -->

</script>
