<script type="text/html" id="search-results">
<div id = "search-results-body">
    <img id="search-results-spinner-top" height="35" width="35" class="search-spinner" src="assets/img/spinner.gif" align="middle"
    data-bind="visible: NL.songSearchResults.lessResults() && NL.songSearch.isValid() && NL.songSearchResults.songs().length > 0" /> 

        <div class="" id="search-results-list" data-bind="template: { name: 'song-table', data: $data }" />

        <div class="absolute-center" data-bind="visible:
                    ( NL.songSearchResults.count() <= 0 && !NL.songSearch.bSearchInProgress() )">
            <h4><i class="nm-icons-search"></i> No Songs found!</h4>
        </div>

        <div class="absolute-center"  data-bind="visible:NL.songSearch.bSearchInProgress()" >
          <img  class="ajax-loader search-spinner" src="assets/img/spinner.gif" align="middle" />
        </div>

   <!--     <div class="alert alert-error"
            data-bind="visible: !NL.songSearch.isValid()">
            <h4>Invalid search query</h4>
        </div> -->
         <img id="search-results-spinner-bottom" class="search-spinner" src="assets/img/spinner.gif" align="middle" data-bind="visible: NL.songSearchResults.moreResults() && NL.songSearch.isValid() && NL.songSearchResults.songs().length > 0" />
        <div id="search-results-bottom-spacer" style="" data-bind="style: {height: NL.songSearchResults.spacerHeight}">
        </div>
</div>
</script>
