<script type="text/html" id="search-pagebar">
  <div class="page-bar" data-bind="">
    <div id="scroll-container" class="links">
      <ul id="nav-list" class="">
        <!-- <li class="page-li" data-bind="click: controls.search.jumpToFirst "> &lt&lt </li> -->
        <!-- ko foreach: NL.songSearch.keys -->
            <li class="page-li" data-bind="click: controls.search.jumpTo, text: $data,
             css: { active: NL.songSearch.offset() === $data} "></li>
        <!-- /ko -->
        <!-- <li class="page-li" data-bind="click: controls.search.jumpToLast "> &gt&gt </li> -->
      </ul>
    </div>

  </div>
</script>
